@import './../../../scss/bonds';
@import './../../../scss/mixins/breakpoints';

.bpkdocs-default-layout {
  &__footer {
    @include bpk-container;

    padding: $bpk-spacing-lg $bpk-spacing-base;
  }

  &__grid-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 99999px;
    background: linear-gradient(to bottom, transparent 50%, rgba($bpk-color-red-500, .3) 0) repeat left 0;
    background-size: $bpk-line-height-lg $bpk-line-height-lg;
    cursor: pointer;
  }

  &__grid-toggle {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    color: $bpk-color-blue-500;
    cursor: pointer;

    &:hover {
      color: $bpk-color-gray-700;
    }

    &:active {
      top: 1px;
      color: $bpk-color-gray-700;
    }
  }
}
