@import './../../../units';
@import './../../../breakpoints';

.main,
.footer {
  @include ls-container()
}

.footer {
  padding-top: $ls-spacing;
  padding-bottom: $ls-spacing;

  text-align: right;
}

.backpackLogo {
  height: $ls-spacing-triple;
  margin-right: $ls-spacing;
  vertical-align: middle;
}
