@import '~bpk-mixins/index';

.bpk-select {
  display: inline-block;
  width: 100%;
  height: $bpk-spacing-xl;
  padding: $bpk-spacing-xs $bpk-spacing-base $bpk-spacing-xs $bpk-spacing-sm;
  border: solid $bpk-one-pixel-rem $bpk-color-gray-100;
  border-radius: $bpk-border-radius-xs;
  background: $bpk-color-white url(map-get($bpk-icons-sm, arrow-down-gray-700)) no-repeat right $bpk-spacing-sm center;
  background-size: $bpk-spacing-sm $bpk-spacing-sm;
  color: $bpk-font-color-base;
  appearance: none;

  &:disabled {
    border-color: $bpk-color-gray-50;
    background-image: url(map-get($bpk-icons-sm, arrow-down-gray-300));
    color: $bpk-color-gray-300;
    cursor: not-allowed;
  }

  &--invalid {
    border-color: $bpk-color-red-500;
  }
}
