@import '~bpk-mixins/index';

.bpkdocs-default-layout {
  &__footer-container {
    box-shadow: 0 -1px 0 0 $bpk-color-gray-50;
  }

  &__footer-copy {
    @include bpk-text-sm;

    display: block;

    &--align-right {
      text-align: right;

      @include bpk-rtl {
        text-align: left;
      }

      @include bpk-breakpoint-mobile {
        text-align: left;

        @include bpk-rtl {
          text-align: right;
        }
      }
    }
  }
}
