// Styles that modify elements

card()
  border-radius 4px
  border 1px solid $lite-gray-100
  box-shadow 1px 1px 1px $lite-gray-200

primary-cta()
  background-color $col-cta-500

secondary-cta()
  background-color $col-cta-500

tertiary-cta(col)
  background-color transparent
  border 1px solid col
  color col
