version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
  open-pull-requests-limit: 10
  versioning-strategy: increase
  ignore:
    - dependency-name: '*'
      update-types: ['version-update:semver-patch']
  allow:
    - dependency-type: "direct"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
  open-pull-requests-limit: 10
