version: 2
updates:
- package-ecosystem: npm
  directories: 
    - "/"
    - "/packages"
  schedule:
    interval: weekly
    time: "10:00"
  open-pull-requests-limit: 10
  versioning-strategy: increase
  ignore:
    - dependency-name: '*'
      update-types: ['version-update:semver-patch']
  allow:
    - dependency-type: "direct"
  groups:
    babel:
      patterns:
        - "@babel*"
        - "babel*"
    storybook:
      patterns:
        - "@storybook*"
        - "storybook*"
    testing-library:
      patterns:
        - "@testing-library*"
        - "testing-library*"
        - "jest*"
  cooldown:
    default-days: 7
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
  open-pull-requests-limit: 10
  groups:
    artifacts-actions:
      patterns:
        - "actions/download-artifact"
        - "actions/upload-artifact"
  cooldown:
    default-days: 7
