@import './../../../icons';
@import './../../../units';

.iconList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.iconListItem {
  display: inline-block;
  margin: $ls-spacing-half;
}

.accessibility-sm {
  @include ls-icon-sm(ls-icon-accessibility-gray-700)
}

.accessibility-lg {
  @include ls-icon-lg(ls-icon-accessibility-gray-700)
}

.account-sm {
  @include ls-icon-sm(ls-icon-account-gray-700)
}

.account-lg {
  @include ls-icon-lg(ls-icon-account-gray-700)
}

.adult-sm {
  @include ls-icon-sm(ls-icon-adult-gray-700)
}

.adult-lg {
  @include ls-icon-lg(ls-icon-adult-gray-700)
}

.aircon-sm {
  @include ls-icon-sm(ls-icon-aircon-gray-700)
}

.aircon-lg {
  @include ls-icon-lg(ls-icon-aircon-gray-700)
}

.airline-sm {
  @include ls-icon-sm(ls-icon-airline-gray-700)
}

.airline-lg {
  @include ls-icon-lg(ls-icon-airline-gray-700)
}

.airports-sm {
  @include ls-icon-sm(ls-icon-airports-gray-700)
}

.airports-lg {
  @include ls-icon-lg(ls-icon-airports-gray-700)
}

.award-sm {
  @include ls-icon-sm(ls-icon-award-gray-700)
}

.award-lg {
  @include ls-icon-lg(ls-icon-award-gray-700)
}

.baggage-sm {
  @include ls-icon-sm(ls-icon-baggage-gray-700)
}

.baggage-lg {
  @include ls-icon-lg(ls-icon-baggage-gray-700)
}

.bar-sm {
  @include ls-icon-sm(ls-icon-bar-gray-700)
}

.bar-lg {
  @include ls-icon-lg(ls-icon-bar-gray-700)
}

.beer-sm {
  @include ls-icon-sm(ls-icon-beer-gray-700)
}

.beer-lg {
  @include ls-icon-lg(ls-icon-beer-gray-700)
}

.bus-sm {
  @include ls-icon-sm(ls-icon-bus-gray-700)
}

.bus-lg {
  @include ls-icon-lg(ls-icon-bus-gray-700)
}

.business-sm {
  @include ls-icon-sm(ls-icon-business-gray-700)
}

.business-lg {
  @include ls-icon-lg(ls-icon-business-gray-700)
}

.cafe-sm {
  @include ls-icon-sm(ls-icon-cafe-gray-700)
}

.cafe-lg {
  @include ls-icon-lg(ls-icon-cafe-gray-700)
}

.calendar-sm {
  @include ls-icon-sm(ls-icon-calendar-gray-700)
}

.calendar-lg {
  @include ls-icon-lg(ls-icon-calendar-gray-700)
}

.camera-sm {
  @include ls-icon-sm(ls-icon-camera-gray-700)
}

.camera-lg {
  @include ls-icon-lg(ls-icon-camera-gray-700)
}

.cars-sm {
  @include ls-icon-sm(ls-icon-cars-gray-700)
}

.cars-lg {
  @include ls-icon-lg(ls-icon-cars-gray-700)
}

.chart-sm {
  @include ls-icon-sm(ls-icon-chart-gray-700)
}

.chart-lg {
  @include ls-icon-lg(ls-icon-chart-gray-700)
}

.chauffeur-sm {
  @include ls-icon-sm(ls-icon-chauffeur-gray-700)
}

.chauffeur-lg {
  @include ls-icon-lg(ls-icon-chauffeur-gray-700)
}

.child-sm {
  @include ls-icon-sm(ls-icon-child-gray-700)
}

.child-lg {
  @include ls-icon-lg(ls-icon-child-gray-700)
}

.city-sm {
  @include ls-icon-sm(ls-icon-city-gray-700)
}

.city-lg {
  @include ls-icon-lg(ls-icon-city-gray-700)
}

.close-sm {
  @include ls-icon-sm(ls-icon-close-gray-700)
}

.close-lg {
  @include ls-icon-lg(ls-icon-close-gray-700)
}

.currency-sm {
  @include ls-icon-sm(ls-icon-currency-gray-700)
}

.currency-lg {
  @include ls-icon-lg(ls-icon-currency-gray-700)
}

.depart-sm {
  @include ls-icon-sm(ls-icon-depart-gray-700)
}

.depart-lg {
  @include ls-icon-lg(ls-icon-depart-gray-700)
}

.duration-sm {
  @include ls-icon-sm(ls-icon-duration-gray-700)
}

.duration-lg {
  @include ls-icon-lg(ls-icon-duration-gray-700)
}

.edit-sm {
  @include ls-icon-sm(ls-icon-edit-gray-700)
}

.edit-lg {
  @include ls-icon-lg(ls-icon-edit-gray-700)
}

.estimated-sm {
  @include ls-icon-sm(ls-icon-estimated-gray-700)
}

.estimated-lg {
  @include ls-icon-lg(ls-icon-estimated-gray-700)
}

.expand-sm {
  @include ls-icon-sm(ls-icon-expand-gray-700)
}

.expand-lg {
  @include ls-icon-lg(ls-icon-expand-gray-700)
}

.flag-sm {
  @include ls-icon-sm(ls-icon-flag-gray-700)
}

.flag-lg {
  @include ls-icon-lg(ls-icon-flag-gray-700)
}

.flight-sm {
  @include ls-icon-sm(ls-icon-flight-gray-700)
}

.flight-lg {
  @include ls-icon-lg(ls-icon-flight-gray-700)
}

.food-sm {
  @include ls-icon-sm(ls-icon-food-gray-700)
}

.food-lg {
  @include ls-icon-lg(ls-icon-food-gray-700)
}

.globe-sm {
  @include ls-icon-sm(ls-icon-globe-gray-700)
}

.globe-lg {
  @include ls-icon-lg(ls-icon-globe-gray-700)
}

.heart-sm {
  @include ls-icon-sm(ls-icon-heart-gray-700)
}

.heart-lg {
  @include ls-icon-lg(ls-icon-heart-gray-700)
}

.help-sm {
  @include ls-icon-sm(ls-icon-help-gray-700)
}

.help-lg {
  @include ls-icon-lg(ls-icon-help-gray-700)
}

.hotels-sm {
  @include ls-icon-sm(ls-icon-hotels-gray-700)
}

.hotels-lg {
  @include ls-icon-lg(ls-icon-hotels-gray-700)
}

.infant-sm {
  @include ls-icon-sm(ls-icon-infant-gray-700)
}

.infant-lg {
  @include ls-icon-lg(ls-icon-infant-gray-700)
}

.information-sm {
  @include ls-icon-sm(ls-icon-information-gray-700)
}

.information-lg {
  @include ls-icon-lg(ls-icon-information-gray-700)
}

.key-sm {
  @include ls-icon-sm(ls-icon-key-gray-700)
}

.key-lg {
  @include ls-icon-lg(ls-icon-key-gray-700)
}

.language-sm {
  @include ls-icon-sm(ls-icon-language-gray-700)
}

.language-lg {
  @include ls-icon-lg(ls-icon-language-gray-700)
}

.leisure-sm {
  @include ls-icon-sm(ls-icon-leisure-gray-700)
}

.leisure-lg {
  @include ls-icon-lg(ls-icon-leisure-gray-700)
}

.lightning-sm {
  @include ls-icon-sm(ls-icon-lightning-gray-700)
}

.lightning-lg {
  @include ls-icon-lg(ls-icon-lightning-gray-700)
}

.list-sm {
  @include ls-icon-sm(ls-icon-list-gray-700)
}

.list-lg {
  @include ls-icon-lg(ls-icon-list-gray-700)
}

.location-sm {
  @include ls-icon-sm(ls-icon-location-gray-700)
}

.location-lg {
  @include ls-icon-lg(ls-icon-location-gray-700)
}

.lock-sm {
  @include ls-icon-sm(ls-icon-lock-gray-700)
}

.lock-lg {
  @include ls-icon-lg(ls-icon-lock-gray-700)
}

.lounge-sm {
  @include ls-icon-sm(ls-icon-lounge-gray-700)
}

.lounge-lg {
  @include ls-icon-lg(ls-icon-lounge-gray-700)
}

.luggageall-sm {
  @include ls-icon-sm(ls-icon-luggageall-gray-700)
}

.luggageall-lg {
  @include ls-icon-lg(ls-icon-luggageall-gray-700)
}

.mail-sm {
  @include ls-icon-sm(ls-icon-mail-gray-700)
}

.mail-lg {
  @include ls-icon-lg(ls-icon-mail-gray-700)
}

.map-sm {
  @include ls-icon-sm(ls-icon-map-gray-700)
}

.map-lg {
  @include ls-icon-lg(ls-icon-map-gray-700)
}

.media-sm {
  @include ls-icon-sm(ls-icon-media-gray-700)
}

.media-lg {
  @include ls-icon-lg(ls-icon-media-gray-700)
}

.menu-sm {
  @include ls-icon-sm(ls-icon-menu-gray-700)
}

.menu-lg {
  @include ls-icon-lg(ls-icon-menu-gray-700)
}

.minus-sm {
  @include ls-icon-sm(ls-icon-minus-gray-700)
}

.minus-lg {
  @include ls-icon-lg(ls-icon-minus-gray-700)
}

.mobile-sm {
  @include ls-icon-sm(ls-icon-mobile-gray-700)
}

.mobile-lg {
  @include ls-icon-lg(ls-icon-mobile-gray-700)
}

.money-sm {
  @include ls-icon-sm(ls-icon-money-gray-700)
}

.money-lg {
  @include ls-icon-lg(ls-icon-money-gray-700)
}

.music-sm {
  @include ls-icon-sm(ls-icon-music-gray-700)
}

.music-lg {
  @include ls-icon-lg(ls-icon-music-gray-700)
}

.navigation-sm {
  @include ls-icon-sm(ls-icon-navigation-gray-700)
}

.navigation-lg {
  @include ls-icon-lg(ls-icon-navigation-gray-700)
}

.news-sm {
  @include ls-icon-sm(ls-icon-news-gray-700)
}

.news-lg {
  @include ls-icon-lg(ls-icon-news-gray-700)
}

.night-sm {
  @include ls-icon-sm(ls-icon-night-gray-700)
}

.night-lg {
  @include ls-icon-lg(ls-icon-night-gray-700)
}

.paperclip-sm {
  @include ls-icon-sm(ls-icon-paperclip-gray-700)
}

.paperclip-lg {
  @include ls-icon-lg(ls-icon-paperclip-gray-700)
}

.parking-sm {
  @include ls-icon-sm(ls-icon-parking-gray-700)
}

.parking-lg {
  @include ls-icon-lg(ls-icon-parking-gray-700)
}

.passport-sm {
  @include ls-icon-sm(ls-icon-passport-gray-700)
}

.passport-lg {
  @include ls-icon-lg(ls-icon-passport-gray-700)
}

.petrol-sm {
  @include ls-icon-sm(ls-icon-petrol-gray-700)
}

.petrol-lg {
  @include ls-icon-lg(ls-icon-petrol-gray-700)
}

.picture-sm {
  @include ls-icon-sm(ls-icon-picture-gray-700)
}

.picture-lg {
  @include ls-icon-lg(ls-icon-picture-gray-700)
}

.plus-sm {
  @include ls-icon-sm(ls-icon-plus-gray-700)
}

.plus-lg {
  @include ls-icon-lg(ls-icon-plus-gray-700)
}

.policy-sm {
  @include ls-icon-sm(ls-icon-policy-gray-700)
}

.policy-lg {
  @include ls-icon-lg(ls-icon-policy-gray-700)
}

.refresh-sm {
  @include ls-icon-sm(ls-icon-refresh-gray-700)
}

.refresh-lg {
  @include ls-icon-lg(ls-icon-refresh-gray-700)
}

.return-sm {
  @include ls-icon-sm(ls-icon-return-gray-700)
}

.return-lg {
  @include ls-icon-lg(ls-icon-return-gray-700)
}

.room-sm {
  @include ls-icon-sm(ls-icon-room-gray-700)
}

.room-lg {
  @include ls-icon-lg(ls-icon-room-gray-700)
}

.scales-sm {
  @include ls-icon-sm(ls-icon-scales-gray-700)
}

.scales-lg {
  @include ls-icon-lg(ls-icon-scales-gray-700)
}

.search-sm {
  @include ls-icon-sm(ls-icon-search-gray-700)
}

.search-lg {
  @include ls-icon-lg(ls-icon-search-gray-700)
}

.services-sm {
  @include ls-icon-sm(ls-icon-services-gray-700)
}

.services-lg {
  @include ls-icon-lg(ls-icon-services-gray-700)
}

.settings-sm {
  @include ls-icon-sm(ls-icon-settings-gray-700)
}

.settings-lg {
  @include ls-icon-lg(ls-icon-settings-gray-700)
}

.share-sm {
  @include ls-icon-sm(ls-icon-share-gray-700)
}

.share-lg {
  @include ls-icon-lg(ls-icon-share-gray-700)
}

.star-sm {
  @include ls-icon-sm(ls-icon-star-gray-700)
}

.star-lg {
  @include ls-icon-lg(ls-icon-star-gray-700)
}

.stops-sm {
  @include ls-icon-sm(ls-icon-stops-gray-700)
}

.stops-lg {
  @include ls-icon-lg(ls-icon-stops-gray-700)
}

.swap-sm {
  @include ls-icon-sm(ls-icon-swap-gray-700)
}

.swap-lg {
  @include ls-icon-lg(ls-icon-swap-gray-700)
}

.taxi-sm {
  @include ls-icon-sm(ls-icon-taxi-gray-700)
}

.taxi-lg {
  @include ls-icon-lg(ls-icon-taxi-gray-700)
}

.tick-sm {
  @include ls-icon-sm(ls-icon-tick-gray-700)
}

.tick-lg {
  @include ls-icon-lg(ls-icon-tick-gray-700)
}

.ticket-sm {
  @include ls-icon-sm(ls-icon-ticket-gray-700)
}

.ticket-lg {
  @include ls-icon-lg(ls-icon-ticket-gray-700)
}

.time-sm {
  @include ls-icon-sm(ls-icon-time-gray-700)
}

.time-lg {
  @include ls-icon-lg(ls-icon-time-gray-700)
}

.train-sm {
  @include ls-icon-sm(ls-icon-train-gray-700)
}

.train-lg {
  @include ls-icon-lg(ls-icon-train-gray-700)
}

.trash-sm {
  @include ls-icon-sm(ls-icon-trash-gray-700)
}

.trash-lg {
  @include ls-icon-lg(ls-icon-trash-gray-700)
}

.trend-sm {
  @include ls-icon-sm(ls-icon-trend-gray-700)
}

.trend-lg {
  @include ls-icon-lg(ls-icon-trend-gray-700)
}

.trips-sm {
  @include ls-icon-sm(ls-icon-trips-gray-700)
}

.trips-lg {
  @include ls-icon-lg(ls-icon-trips-gray-700)
}

.upgrade-sm {
  @include ls-icon-sm(ls-icon-upgrade-gray-700)
}

.upgrade-lg {
  @include ls-icon-lg(ls-icon-upgrade-gray-700)
}

.view-sm {
  @include ls-icon-sm(ls-icon-view-gray-700)
}

.view-lg {
  @include ls-icon-lg(ls-icon-view-gray-700)
}

.weather-sm {
  @include ls-icon-sm(ls-icon-weather-gray-700)
}

.weather-lg {
  @include ls-icon-lg(ls-icon-weather-gray-700)
}

.wifi-sm {
  @include ls-icon-sm(ls-icon-wifi-gray-700)
}

.wifi-lg {
  @include ls-icon-lg(ls-icon-wifi-gray-700)
}


