{
  "parser": "babel-eslint",
  "extends": [
    "skyscanner-with-prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".json",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    // This is superceded by jsx-a11y/label-has-associated-control
    "jsx-a11y/label-has-for": "off",
    // We want to keep prop-types alongside flow types so we relax this rule to allow us to specify defaults for
    // required flow props
    "react/default-props-match-prop-types": [
      "error",
      {
        "allowRequiredDefaults": true
      }
    ],
    "react/require-default-props": [
      "error",
      {
        "forbidDefaultForRequired": false
      }
    ],
    "react/prefer-stateless-function": [
      "error",
      {
        "ignorePureComponents": true
      }
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "/^on.+$/",
          "getters",
          "setters",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ]
  }
}
