{
  "extends": [
    "@skyscanner/eslint-config-skyscanner"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".json",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  },
  "rules": {
    // Temp adding this whilst migrating to the latest eslint & TS migration
    // Activate this when we run the migration scripts
    // "padding-line-between-statements": [
    //   "error",
    //   {
    //     "blankLine": "always",
    //     "prev": "*",
    //     "next": [
    //       "block",
    //       "block-like",
    //       "cjs-export",
    //       "class",
    //       "export",
    //       "import",
    //       "let",
    //       "var"
    //     ]
    //   },
    //   {
    //     "blankLine": "always",
    //     "prev": [
    //       "block",
    //       "block-like",
    //       "cjs-export",
    //       "class",
    //       "multiline-const",
    //       "export",
    //       "import",
    //       "let",
    //       "var"
    //     ],
    //     "next": "*"
    //   },
    //   {
    //     "blankLine": "never",
    //     "prev": [
    //       "singleline-const"
    //     ],
    //     "next": [
    //       "singleline-const"
    //     ]
    //   },
    //   {
    //     "blankLine": "any",
    //     "prev": [
    //       "cjs-import",
    //       "cjs-export",
    //       "export",
    //       "import"
    //     ],
    //     "next": [
    //       "cjs-import",
    //       "cjs-export",
    //       "export",
    //       "import",
    //       "singleline-const"
    //     ]
    //   }
    // ],
    "backpack/use-components": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "prettier/prettier": "error",
    // TODO: Re-enable the following 6 rules
    "no-restricted-exports": "off",
    "class-methods-use-this": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react/no-unused-class-component-methods": "off",
    "no-promise-executor-return": "off",
    "import/no-import-module-exports": "off",
    // This is superceded by jsx-a11y/label-has-associated-control
    "jsx-a11y/label-has-for": "off",
    // We want to keep prop-types alongside typescript types so we relax this rule to allow us to specify defaults for
    // required typescript props
    "react/default-props-match-prop-types": [
      "error",
      {
        "allowRequiredDefaults": true
      }
    ],
    "react/require-default-props": "off",
    "react/prefer-stateless-function": [
      "error",
      {
        "ignorePureComponents": true
      }
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "/^on.+$/",
          "getters",
          "setters",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ],
    // Temp setting this to warn whilst migration to TS is in progress.
    "no-undef": "warn",
    "@skyscanner/rules/forbid-component-props": [
      "error",
      {
        "forbid": [
          {
            "propName": "className",
            "message":
              "Prop {{prop}} is forbidden. See https://github.com/Skyscanner/eslint-plugin-rules?tab=readme-ov-file#forbid-component-props",
            "allowedFor": [
              "ArrowLeftIcon", // allowed for icon to continue supporting RTL with css
              "ArrowRightIcon", // allowed for icon to continue supporting RTL with css
              "BpkNavigationBar", // Major release required to resolve this impacting consumers risk is quite large.
              "BpkSelectableChip", // allowed for prop that is part of the classnames applied to the BpkSelectableChip
              "ComposedComponent", // allowed for wrapper needed for withRTLSupport HOC. Possibly not needed after icon refactor.
              "CornerRadius", // allowed for a prop that is passed down in the BpkContentBubble as partof BpkFlare to a generated element and necessary to continue supporting svgClassName
              "DateContainer", // allowed for a prop that is passed down in the BpkCalendarWeek to the DateContainer
              "FloatingArrow", // allowed for a prop that is passed down to a generated element
              "InnerContainer", // allowed for a prop that is passed down in the BpkMobileScrollContainer to a generated element
              "ListElements",  // allowed for a prop that is passed down in BpkList to the conditional list elements
              "Pointer", // allowed for a prop that is passed down in the BpkFlareBar to a generated element and necessary to continue supporting svgClassName
              "ScrimBpkModalInner", // allowed for a prop that is passed in BpkModal down to a scrim wrapped BpkModalInner component.
              "TransitionComponent", // allowed for a prop that is passed in BpkCalendarGridTransition down to a "transition" component prop.
              "WithOpenEventsInputComponent", // allowed for a prop as consumer className is passed in
              "Slider.Root", // allowed for styling to be passed to radix-ui component
              "Slider.Track", // allowed for styling to be passed to radix-ui component
              "Slider.Range", // allowed for styling to be passed to radix-ui component
              "Slider.Thumb" // allowed for styling to be passed to radix-ui component
            ]
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*test*", "*examples*"],
      "rules": {
        "@skyscanner/rules/forbid-component-props": ["off"]
      }
    },
    {
      "files": ["**/packages/bpk-component-modal/src/BpkModalV2/BpKModal-test.tsx", "**/packages/bpk-react-utils/src/BpkDialogWrapper/BpkDialogWrapper-test.tsx"],
      "rules": {
        "compat/compat": "off"
      }
    }
  ]
}
