.DS_Store
.idea
.vscode
.env
.sass-cache
/dist
/dist-sassdoc
/dist-storybook
/coverage
/packages/bpk-component-icon/*/
/packages/bpk-component-spinner/src/spinners
/packages/bpk-component-flare/src/__generated__
!/packages/bpk-component-icon/src
node_modules
npm-debug.*
yarn.lock
/packages/*/changelog.md
.storybook/__image_snapshots__/__diff_output__

# Ignore css assets as these should be built on demand from sass
*.css
!packages/bpk-stylesheets/base.css
/packages/bpk-stylesheets/normalize.scss
.copilot-progress
styled-system/
