.DS_Store
.idea
.vscode
.sass-cache
/dist
/dist-storybook
/dist-sassdoc
/coverage
/packages/bpk-component-icon/*/
!/packages/bpk-component-icon/src
node_modules
npm-debug.*
lerna-debug.log
sassdoc-data.json
backpack.iml
yarn.lock
/packages/*/changelog.md
packages/**/*.css
