language: node_js
node_js:
  - 7.10.1
env:
  global:
    - NPM_CONFIG_LOGLEVEL=warn
install:
  - npm install
  - npm run build
script:
  - npm test
  - npm run docs:dist:gzip
  - test -e dist/index.html
  - test -e dist/sassdoc/index.html
  - npm run danger
cache:
  directories:
  - node_modules
# This causes builds for merges and direct pushes to master.
# Other branches are pull requests and build are triggered via the
# pull request hook
branches:
  only:
    - master
deploy:
  provider: s3
  on:
    branch: master
  acl: public-read
  region: eu-west-1
  bucket: backpack.prod.aws.skyscnr.com
  access_key_id:
    secure: cKvYjYBzu37/tduxzBEsNlSlWmq8dgmalqPB4RUpaSvcmUK5xrWG4tJnvGSjTK5Zyuqc5cPbo94btQ6UjEKauBGUW9jH2/eG5Yi+PwJrxrlXyymETGDLPUDOOBqGqsu0/L8oEexwOGvF6TLnReBZ7IfPFWICf4Z/ipK2icDSct9VbE+EJKWwUxPt++kxa0YYzgv0E1maps/vafQVc77IaH+u/qT0plAv4mUZbXuvATqFXFcMeVvBn1cAZzqNTwy/Y8grpVaJOIITfAeW51LOGdBudJIohu2+yMG1cZyc4dwEEfbEMj3hpslosbSjSuZZDunDraIow7Vm84fYjpKCnt+xM+Cu2+PW1/SW00ExFLykf1stCrxN/R18M1/Eyormc7pc7/nv3snzzW3ouQPBMvVqFPZHEsj9ZbNk4p72EjJRHWHyE0fIKUlgDhCLXyaGFd06jgZ/IRvZB3Z5dtrzJ9lAFh3m+iqSIHpvXG0gOCi6TcRQRCwohGaPkzgUa8q4WBj3/mS4V0QIoXcPH0CCMULDRUTUTGjfc+GYZYD5guVg5ajvEV+9LunLUk4GaNhsJdQAZXvUaxwOpuV7YOJ+LE2h/66AzjoPOByFq39YPLZ+tnPC5QkTqHgpzMic8KOeGSqAGltDw8i9EUrId9zPqqD19wjNe2gnDj3JMTiFCik=
  secret_access_key:
    secure: kuOSRcB/GbyyxecbzZYxNWlBHyFa75XW4BAF340Z2GVZIqbGfc9tSGyxrj3z7cq9p0vAFdpj4KP7XuULs0s4jLCJGGhJpCugEpIZGpIxiYZ/21nOyHqhNy3B6a/keW3/x/Rbphh8+M47cLDpYej2gKKYkMiwdSzKDcjgeeQ3Wlmd2lkcmHvtXTDZTsGJSwnhnVT/dPG6QyO+Aabb/zwrEthf4A3fBdFoT5TFo+Tfb2PxyDwpBAqO/hzjQr/Wo3s+TxtrISsB8PZIjvRHIS/oB7+odjTEwBY1NrEZDPYCBIBSHwUpYyBpxJ2AbWX3on3WDYL7teu0JdS9aI9paKRQuAfBV3wSji90SGs8GwabjLT2EeK+Pz3PV2E4RGbqzQbxsdIjf7MGEUZMwzINAvthiK8HhErbXzkjV21ar7xJMMUB5LltE0fNhoWKYT/pCb8QDRtgmLZcUKLyU+RfAD4flERfoNs11+slKMR4STkv2pfHtM6uwsSgM6q3MTB4yrc2YQiNJK2mvbjVdtF7bPnLTKRZFy4OrCckJLaEHsEvzf4ForkeGnDijhUmCKrxgNDnmDn9SaJsvgKl0E7JJnzhTOk8ywXO+tlTR42Ps2b1qOKbeSgSgisZrRGSWebVrN6L6XnejhwpwggHfWTYkhYIzXx90/ygyp6q8ZKKg0BTzRw=
  local_dir: dist/
  skip_cleanup: true
  detect_encoding: true
notifications:
  slack:
    rooms:
      - secure: 0kcw0/iGqd4JPjvc+SBQmDIqeK427pCSw1xVyJooaknlIUlb3TyOaJdI1Wko92rUoYRfTJ/8eZv/GuL8U+kmA8ygu1ByfhFOg69Oyb55OThsgd+p8mMstjE62Rm+sN+8MBUEAllHGYVlKgKaO+HLPFor0fdYxl56CVVsPRWKOmJSXEn8EvuGrstSiiQU6pNZiJoQT3QpR43YhcmigMmTDkUNHgrvinWE0fprY9cLOpbuFJhZ7+OBL34hv/9Ox9QuD4Vb1rJvdeeW5ijVOrOh6JvqaR06JuutDn13q3VU6aJq0pNJwp5ujX84Aa5fQaC7HdcfdJ6ttuYheyoDPlNUyUQuBihg2c3F9tvivSmrvGLd4HV9NUjKZTY7XpYrDsEGcYGNAOO8XHG3PNaHcdM6+/0UclP2obLPVadTOvhEHPOGLRZorFmg7GTBBwafjMMREHTNYt++4JyYm5vUwcfGZX7qT/2YPCplmz1dYDjHmfeCygmYWr6KAP7bHq3wjnrje3BslRMBNu+nY2eaqmSAG5bLsOMUi9qy4+izsNgkVHpRg/uZA3yE+OVfMc5ycj+McrwK2ySrg1zd+/TrNJZTxW/5f9oHWR4kvYPeXcDNlL20fxw9L7CAhLi/Nx0RsC+wwbk+MC20G6vtE7gCsyv3QWyqxPeoJ6KuAoRQ2zCjcKA=
    on_pull_requests: false
    on_success: always
    on_failure: change
