language: node_js
node_js:
  - lts/carbon
env:
  global:
    - NPM_CONFIG_LOGLEVEL=warn
    - secure: lpcZNywBxi9I7Zy8wpgq4y5cMT3WJhRuswT/AEILAoKKD4utAH1ibLigjcYTjXai2oHP8hH8e2BBvAibJtfWVlFUaaXWk1RrR7Zs8ligdpQkmKOUB7m41xj2JiYFn3DNntAd21Gvu8zq+SlY2TG50VjQmWOkVf49Yq6/ED3nQ6r352dV6II0e+Qm99+VA9em1QYGLI2jiAZVpgMXOCw3jHrtusVMAyrwPHixrpw1TvoflvHTMLlAxeaa4MyBxy6+qBEjacXxQvi8+OGYNyi7zLYxijTUMqJwVB8L9uLgrUQbWP8HA3QzCnKAim/SADsgoMPYxWBQk45mdgJptznZVrQON4gL222LZrSuuwGK4OVu132hrDRHnKJ8bQS95WvpQkPTE6Yh3rDAuAMprrEIJt4c4WhyXovo9165aG03AqkqeSIQOmCXPFld2+qzqnI+V+QsocDhtsz29kCEHjjLUbxg0GzW8JfBFSjVW38FebvPfz8dOhj1osNIIjKxi8Twdtx8knfuHkEb6q2Fp3nvDhUPai/1FXdiNo+/Jz1FcPvDuAaa7hCj1ZRos5Ce/iJJwndgal5PLFdr5lwkm2Jd7iYYwv7tPStFSX42tuSf92LZns/hHDGTI439eu3/lryCoByG/+98qa+iIRmjLyesbfn0+0PQMjSfyo3Gwe8rtnQ=
before_install:
  - npm install -g greenkeeper-lockfile@2
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
install:
  - npm install
  - npm run build
script:
  - set -e
  - ./scripts/check-pristine-state package-lock.json
  - npm run danger
  - npm test
  - npm run docs:dist
  - if [ "$TRAVIS_BRANCH" == 'master' ] && [ "$TRAVIS_PULL_REQUEST" == 'false' ]; then npm run storybook:dist; fi
  - test -e dist/index.html
  - test -e dist/sassdoc/index.html
cache:
  directories:
    - node_modules
branches:
  only:
    - master
    - /^greenkeeper/.*$/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $DEPLOY_TOKEN
  on:
    branch: master
  local_dir: dist/
  skip_cleanup: true
  detect_encoding: true
  repo: backpack/backpack.github.io
  target-branch: master
  verbose: true

notifications:
  slack:
    rooms:
      - secure: 0kcw0/iGqd4JPjvc+SBQmDIqeK427pCSw1xVyJooaknlIUlb3TyOaJdI1Wko92rUoYRfTJ/8eZv/GuL8U+kmA8ygu1ByfhFOg69Oyb55OThsgd+p8mMstjE62Rm+sN+8MBUEAllHGYVlKgKaO+HLPFor0fdYxl56CVVsPRWKOmJSXEn8EvuGrstSiiQU6pNZiJoQT3QpR43YhcmigMmTDkUNHgrvinWE0fprY9cLOpbuFJhZ7+OBL34hv/9Ox9QuD4Vb1rJvdeeW5ijVOrOh6JvqaR06JuutDn13q3VU6aJq0pNJwp5ujX84Aa5fQaC7HdcfdJ6ttuYheyoDPlNUyUQuBihg2c3F9tvivSmrvGLd4HV9NUjKZTY7XpYrDsEGcYGNAOO8XHG3PNaHcdM6+/0UclP2obLPVadTOvhEHPOGLRZorFmg7GTBBwafjMMREHTNYt++4JyYm5vUwcfGZX7qT/2YPCplmz1dYDjHmfeCygmYWr6KAP7bHq3wjnrje3BslRMBNu+nY2eaqmSAG5bLsOMUi9qy4+izsNgkVHpRg/uZA3yE+OVfMc5ycj+McrwK2ySrg1zd+/TrNJZTxW/5f9oHWR4kvYPeXcDNlL20fxw9L7CAhLi/Nx0RsC+wwbk+MC20G6vtE7gCsyv3QWyqxPeoJ6KuAoRQ2zCjcKA=
    on_pull_requests: false
    on_success: always
    on_failure: change
