@import 'units';

$ls-breakpoint-mobile: 500px;
$ls-breakpoint-tablet: 768px;
$ls-breakpoint-desktop: 1090px;

@mixin ls-breakpoint-mobile-only() {
  @media (max-width: #{$ls-breakpoint-mobile}) {
    @content
  }
}

@mixin ls-breakpoint-above-mobile() {
  @media (min-width: #{$ls-breakpoint-mobile + 1px}) {
    @content
  }
}

@mixin ls-breakpoint-tablet-only() {
  @media (min-width: #{$ls-breakpoint-mobile + 1px}) and (max-width: #{$ls-breakpoint-tablet}) {
    @content
  }
}

@mixin ls-breakpoint-below-tablet() {
  @media (max-width: #{$ls-breakpoint-tablet}) {
    @content
  }
}

@mixin ls-breakpoint-above-tablet() {
  @media (min-width: #{$ls-breakpoint-tablet + 1px}) {
    @content
  }
}

@mixin ls-breakpoint-desktop-only() {
  @media (min-width: #{$ls-breakpoint-tablet + 1px}) and (max-width: #{$ls-breakpoint-desktop}) {
    @content
  }
}

@mixin ls-breakpoint-below-desktop() {
  @media (max-width: #{$ls-breakpoint-desktop}) {
    @content
  }
}

@mixin ls-breakpoint-above-desktop() {
  @media (min-width: #{$ls-breakpoint-desktop + 1px}) {
    @content
  }
}

@mixin ls-container() {
  max-width: $ls-breakpoint-desktop;
  margin: 0 auto;
  padding-right: $ls-spacing;
  padding-left: $ls-spacing;
}
