@mixin icon($width, $height) {
  width:  $width;
  height: $height;
  background-repeat: no-repeat;
}

/* Account */

@mixin icon-account-16 {
  @include icon(16px,16px);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%2334363D%22%20d%3D%22M12.9%2016h-9.8c-.6%200-1.1-.5-1-1.1.3-2.1%201.5-3.7%203.2-4.6.1-.1.3-.1.5-.1h4.6c.2%200%20.3%200%20.5.1%201.6.9%202.8%202.5%203.2%204.6-.1.6-.6%201.1-1.2%201.1zm-6.2-7.3c.4.2.8.3%201.3.3s.9-.1%201.3-.3c1.5-.8%202.3-2.8%201-4.7l-.3-.3c-2.4-1.7-5%200-5%202.3%200%201.2.7%202.2%201.7%202.7z%22/%3E%3C/svg%3E');
}
@mixin icon-account-24 {
  @include icon(24px,24px);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22%2334363D%22%3E%3Cpath%20d%3D%22M18.8%2024h-13.7c-1.3%200-2.2-1.2-2-2.4.6-2.5%202-4.5%203.8-5.8.6-.4%201.4-.4%202-.1.9.4%201.9.7%202.9.7s2-.2%202.9-.7c.7-.3%201.4-.3%202%20.1%201.9%201.3%203.3%203.3%203.8%205.8.5%201.3-.5%202.4-1.7%202.4z%22/%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%229.4%22%20r%3D%224.5%22/%3E%3C/g%3E%3C/svg%3E');
}
@mixin icon-account-32 {
  @include icon(32px,32px);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%2334363D%22%3E%3Cpath%20d%3D%22M22.8%2020.6c-.9-.7-2.2-.9-3.2-.3-1.1.5-2.3.9-3.6.9s-2.5-.3-3.6-.9c-1-.5-2.3-.4-3.2.3-2.2%201.8-3.9%204.5-4.6%207.7-.4%201.9%201%203.6%202.9%203.6h17c1.9%200%203.3-1.8%202.9-3.6-.7-3.2-2.3-5.9-4.6-7.7zM13.3%2018.5c.8.4%201.7.6%202.7.6s1.9-.2%202.7-.6c3.1-1.5%204.7-5.6%202.1-9.5-.2-.3-.4-.5-.7-.7-5-3.4-10.2%200-10.2%204.7%200%202.4%201.4%204.5%203.4%205.5z%22/%3E%3C/g%3E%3C/svg%3E');
}

