@import '~normalize.css';
@import 'scss/bonds';
@import 'scss/mixins/utils';
@import 'docs/components/BpkHeading/bpk-heading';
@import 'docs/components/BpkParagraph/bpk-paragraph';
@import 'docs/components/BpkLink/bpk-link';
@import 'docs/components/BpkList/bpk-list';
@import 'docs/components/BpkButton/bpk-button';

:global {
  $scaffold-font-color: #373737;

  html {
    font-size: $bpk-font-size-root;
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  body {
    color: $bpk-font-color-base;
    font-family: $bpk-font-family-base;
    font-size: $bpk-font-size-base;
    line-height: $bpk-line-height-base;

    &.scaffold-font {
      color: $scaffold-font-color;
      font-family: arial, helvetica, clean, sans-serif;
      font-size: 13px;
      line-height: 1.231;
    }
  }

  .hidden,
  .hide {
    @include bpk-hidden;
  }

  .visuallyhidden,
  .visually-hidden {
    @include bpk-visually-hidden;

    &.focusable {
      @include bpk-visually-hidden--focusable;
    }
  }

  .invisible {
    @include bpk-invisible;
  }

  .clearfix {
    @include bpk-clearfix;
  }
}
