@import 'colours';

@mixin ls-basic-button() {
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  min-height: 35px;
  padding: 4px 12px;
}

@mixin ls-primary-cta() {
  @include ls-basic-button();
  color: $ls-color-gray-900;
  background-color: $ls-color-green-400;
  background: -webkit-gradient(top, $ls-color-green-400 0%, $ls-color-green-600 100%);
  border: 1px solid $ls-color-green-700;
  text-shadow: 1px 1px 1px $ls-color-white;

  &:hover {
    background-color: $ls-color-green-200;
  }
}


@mixin ls-secondary-cta() {
  @include ls-basic-button();
  color: $ls-color-gray-900;
  background-color: $ls-color-blue-400;
  background: -webkit-gradient(top, $ls-color-blue-400 0%, $ls-color-blue-600 100%);
  border: 1px solid $ls-color-blue-700;

  &:hover {
    background-color: $ls-color-blue-200;
  }
}

@mixin ls-tertiary-cta($col1, $col2) {
  @include ls-basic-button();
  color: $col2;
  background-color: $col1;
  border: 1px solid $col2;
}