@import 'colours'

basic-button()
  box-sizing border-box
  border none
  border-radius 2px

primary-cta()
  basic-button()
  background-color $col-cta-500

secondary-cta()
  basic-button()
  // styles to be added