@import 'colours'

cs-basic-button()
  box-sizing border-box
  border none
  border-radius 2px
  font-weight bold
  min-height 35px

cs-primary-cta()
  cs-basic-button()
  background-color $col-cta-500

cs-secondary-cta()
  basic-button()
  background-color $col-blue-500

cs-tertiary-cta(col, col-stroke)
  basic-button()
  background-color col
  border 1px solid col-stroke