// Core colours

$col-blue-500  = #4cd
$col-blue-700  = #178
$col-gray-500  = #333
$col-gray-400  = #667
$col-gray-300  = #bbb
$col-gray-200  = #aaa
$col-gray-100  = #eee
$col-white     = #fff

$col-cta-500   = #ae0
