@import 'colours';

@mixin ls-label() {
  color: $col-gray-400;
  font-size: 13px;
  font-weight: bold;
}



@mixin ls-input() {
  height: 35px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: solid 1px $col-blue-500;
  border-radius: 0;

  font-size: 16px;
  color: $col-gray-500;

  &:focus {
    border-color: $col-blue-700;
  }

  &::-webkit-input-placeholder {
    color: $col-gray-200;
    font-style: italic;
    font-weight: normal;
  }
}


@mixin ls-select() {
  @include ls-input();

  appearance:none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDE0IDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTUgN2w1LTdoLTEwbDUgN3oiIGZpbGw9IiMzMzMiLz48cGF0aCBkPSJNMTAgMGg0djdoLTR2LTd6Ii8+PC9nPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: right;
}