@import 'colours'

cs-label()
  color $col-gray-400
  font-size 13px
  font-weight bold

cs-input()
  height 35px
  box-sizing border-box
  margin 0
  padding 0

  border none
  border-bottom solid 1px $col-blue-500
  border-radius 0

  font-size 16px
  color $col-gray-500

  &:focus
    border-color $col-blue-700

  &::-webkit-input-placeholder
    color $col-gray-200
    font-style italic
    font-weight normal

cs-select()
  cs-input()

  appearance none
  position absolute

  &:after
    position absolute
    right 12px
    
    content '&#9662;'

    color $col-gray-500
