@import 'colours'

cs-label()
  color $col-gray-400
  font-size 13px
  font-weight bold

cs-input()
  height 35px
  box-sizing border-box
  margin 0
  padding 0

  border none
  border-bottom solid 1px $col-blue-500
  border-radius 0

  font-size 16px
  color $col-gray-500

  &:focus
    border-color $col-blue-700

  &::-webkit-input-placeholder
    color $col-gray-200
    font-style italic
    font-weight normal

cs-select()
  cs-input()

  appearance none
  background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTUuNSA4bDUuNS04aC0xMXoiLz48cGF0aCBkPSJNMTEgMGg0djhoLTR6Ii8+PC9nPjwvc3ZnPg==')
  background-repeat no-repeat
  background-position right
  background-size 8px 8px
