// Standard HTML elements

.cs-label
  color $col-gray-400
  font-size 13px
  font-weight bold
  text-transform uppercase

.cs-input-text
  height 35px
  box-sizing border-box
  margin 0
  padding 0

  border none
  border-bottom solid 1px $col-blue-500
  border-radius 0

  font-size 16px
  color $col-gray-500

  &:focus
    border-color $col-blue-700

  &::-webkit-input-placeholder
    color $col-gray-200
    font-style italic
    font-weight normal

.cs-button
  min-height 35px
  box-sizing border-box
  border none
  border-radius 2px

primary-cta()
  background-color $col-cta-500

secondary-cta()
  background-color $col-cta-500

tertiary-cta(col)
  background-color transparent
  border 1px solid col
  color col
