@import 'colours';
@import 'units';
@import 'generated/elements';
@import 'generated/icons-sm';

@mixin ls-input-text() {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: $ls-spacing-half;
  min-height: 36px;
  font-size: 16px;
  border-radius: $ls-border-radius-xs;
  border: 1px solid $ls-color-gray-400;

  &::-webkit-input-placeholder {
    font-style: italic;
    color: $ls-color-gray-500;
  }
}

@mixin ls-input-text-dark() {
  @include ls-input-text();
  border: none;
}

@mixin ls-input-checkbox() {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: checkbox;
  margin: 0;
  cursor: pointer;
  background: url($ls-element-checkbox-light) no-repeat;

  &:checked {
    background: url($ls-element-checkbox-light-checked) no-repeat;
  }

  // IE HACK (sorry)
  @media screen\0 {
    background: none !important;
  }
}

@mixin ls-input-checkbox-dark() {
  @include ls-input-checkbox();

  background: url($ls-element-checkbox-dark) no-repeat;

  &:checked {
    background: url($ls-element-checkbox-dark-checked) no-repeat;
  }
}

@mixin ls-input-radio() {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: radio;
  margin: 0;
  cursor: pointer;
  background: url($ls-element-radio-light) no-repeat;

  &:checked {
    background: url($ls-element-radio-light-checked) no-repeat;
  }

  // IE HACK (sorry)
  @media screen\0 {
    background: none !important;
  }
}

@mixin ls-input-radio-dark() {
  @include ls-input-radio();

  background: url($ls-element-radio-dark) no-repeat;

  &:checked {
    background: url($ls-element-radio-dark-checked) no-repeat;
  }
}

@mixin ls-textarea() {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: $ls-spacing;
  min-height: 36px;
  font-size: 16px;
  border: 1px solid $ls-color-gray-400;
  border-radius: $ls-border-radius-xs;

  &::-webkit-input-placeholder {
    font-style: italic;
    color: $ls-color-gray-500;
  }
}

@mixin ls-textarea-dark() {
  @include ls-textarea();

  border: none;
}

@mixin ls-select() {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: $ls-spacing-half;
  min-height: 36px;
  font-size: 16px;
  border-radius: $ls-border-radius-xs;

  min-width: 60px;
  background: $ls-color-white url($ls-icon-arrow-down-gray-800) no-repeat right $ls-spacing-half center;
  background-size: 12px 12px;
  border: 1px solid $ls-color-gray-400;
}

@mixin ls-select-dark() {
  @include ls-select();
  border: none;
}

@mixin ls-label() {
  font-size: 13px;
  color: $ls-color-gray-700;
}

@mixin ls-label-dark() {
  @include ls-label();
  color: $ls-color-gray-500;
}
