@import 'generated/logos';

@mixin ls-logo-cloud($datauri) {
  display: block;
  width: 128px;
  height: 104px;
  background: transparent url($datauri) no-repeat center;
}

@mixin ls-logo-inline($datauri) {
  display: block;
  width: 368px;
  height: 104px;
  background: transparent url($datauri) no-repeat center;
}

@mixin ls-logo-stacked($datauri) {
  display: block;
  width: 348px;
  height: 197px;
  background: transparent url($datauri) no-repeat center;
}

@mixin ls-logo-tianxun($datauri) {
  display: block;
  width: 258px;
  height: 113px;
  background: transparent url($datauri) no-repeat center;
}

@mixin ls-logo-tianxun-stacked($datauri) {
  display: block;
  width: 165px;
  height: 206px;
  background: transparent url($datauri) no-repeat center;
}
