@import 'generated/spinners';

@keyframes ls-spin {
  100% {
    transform: rotate(1turn);
  }
}

@mixin ls-spinner-sm($datauri) {
  display: inline-block;
  width: 16px;
  height: 16px;
  animation: ls-spin 600ms linear infinite;
  background: url($datauri);
  background-size: 16px 16px;
}

@mixin ls-spinner-lg($datauri) {
  display: inline-block;
  width: 24px;
  height: 24px;
  animation: ls-spin 600ms linear infinite;
  background: url($datauri);
  background-size: 24px 24px;
}

@mixin ls-spinner-xl($datauri) {
  display: inline-block;
  width: 48px;
  height: 48px;
  animation: ls-spin 600ms linear infinite;
  background: url($datauri);
}
