// base unit
$ls-base-unit: 24px;

// spacing
$ls-spacing-xs: $ls-base-unit / 12;
$ls-spacing-sm: $ls-base-unit / 6;
$ls-spacing-lg: $ls-base-unit / 4;

// border-radius
$ls-border-radius-xs: $ls-base-unit / 12;
$ls-border-radius-sm: $ls-base-unit / 6;
$ls-border-radius-lg: $ls-base-unit / 4;