@import '../bonds';
@import 'typography';

////
/// @group buttons
////

/// Standard button.
///
/// @example scss
///   .selector {
///     @include bpk-button();
///   }

@mixin bpk-button {
  display: inline-block;
  margin: 0;
  padding: $bpk-button-padding-y $bpk-button-padding-x;
  border: 0;
  border-radius: $bpk-button-border-radius;
  outline: 0;
  background-color: $bpk-button-background-color;
  color: $bpk-button-color;
  font-size: $bpk-button-font-size;
  font-weight: $bpk-button-font-weight;
  line-height: $bpk-button-line-height;
  text-align: $bpk-button-text-align;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;

  &:hover {
    background-color: $bpk-button-hover-background-color;
  }

  &:active {
    background-color: $bpk-button-active-background-color;
  }

  &:disabled {
    background-color: $bpk-button-disabled-background-color;
    color: $bpk-button-disabled-color;
    cursor: not-allowed;
  }
}

/// Large button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--large();
///   }

@mixin bpk-button--large {
  margin: 0;
  padding: $bpk-spacing-sm $bpk-spacing-base;
  font-size: $bpk-font-size-lg;
}

/// Secondary button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--secondary();
///   }

@mixin bpk-button--secondary {
  background-color: transparent;
  color: $bpk-color-blue-500;
  box-shadow: 0 0 0 2px $bpk-color-gray-100 inset;

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px $bpk-color-blue-500 inset;
  }

  &:active {
    box-shadow: 0 0 0 3px $bpk-color-blue-500 inset;
  }

  &:disabled {
    background-color: $bpk-color-gray-100;
    box-shadow: none;
  }
}

/// Selected button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--selected();
///   }

@mixin bpk-button--selected {
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;
  box-shadow: none;

  &:hover {
    background-color: $bpk-color-blue-300;
    color: $bpk-color-white;
    box-shadow: none;
  }

  &:active {
    background-color: $bpk-color-blue-700;
  }

  &:disabled {
    box-shadow: none;
  }
}

/// Link-style button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--link();
///   }

@mixin bpk-button--link {
  @include bpk-link;

  background-color: transparent;
  font-weight: normal;
  box-shadow: none;

  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }

  &:disabled {
    background-color: transparent;
    color: $bpk-color-gray-300;
    text-decoration: none;
  }
}
