@import '../bonds';
@import 'typography';

////
/// @group buttons
////

/// Standard button.
///
/// @example scss
///   .selector {
///     @include bpk-button();
///   }

@mixin bpk-button {
  display: inline-block;
  margin: 0;
  padding: $bpk-button-padding-y $bpk-button-padding-x;
  border: 0;
  border-radius: $bpk-button-border-radius;
  background-color: $bpk-button-background-color;
  background-image: $bpk-button-background-image;
  color: $bpk-button-color;
  font-size: $bpk-button-font-size;
  font-weight: $bpk-button-font-weight;
  line-height: $bpk-button-line-height;
  text-align: $bpk-button-text-align;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: $bpk-button-box-shadow;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;

  &:hover {
    background-color: $bpk-button-hover-background-color;
    background-image: $bpk-button-hover-background-image;
    box-shadow: $bpk-button-hover-box-shadow;
  }

  &:active {
    background-color: $bpk-button-active-background-color;
    background-image: $bpk-button-active-background-image;
    box-shadow: $bpk-button-active-box-shadow;
  }

  &:disabled {
    background-color: $bpk-button-disabled-background-color;
    background-image: $bpk-button-disabled-background-image;
    color: $bpk-button-disabled-color;
    cursor: not-allowed;
  }
}

/// Large button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--large();
///   }

@mixin bpk-button--large {
  padding: $bpk-button-large-padding-y $bpk-button-large-padding-x;
  font-size: $bpk-button-large-font-size;
  line-height: $bpk-button-large-line-height;
}

/// Secondary button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--secondary();
///   }

@mixin bpk-button--secondary {
  background-color: $bpk-button-secondary-background-color;
  background-image: $bpk-button-secondary-background-image;
  color: $bpk-button-secondary-color;
  box-shadow: $bpk-button-secondary-box-shadow;

  &:hover {
    background-color: $bpk-button-secondary-hover-background-color;
    background-image: $bpk-button-secondary-hover-background-image;
    box-shadow: $bpk-button-secondary-hover-box-shadow;
  }

  &:active {
    background-color: $bpk-button-secondary-active-background-color;
    background-image: $bpk-button-secondary-active-background-image;
    box-shadow: $bpk-button-secondary-active-box-shadow;
  }

  &:disabled {
    background-color: $bpk-button-secondary-disabled-background-color;
    background-image: $bpk-button-secondary-disabled-background-image;
    box-shadow: $bpk-button-secondary-disabled-box-shadow;
  }
}

/// Selected button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--selected();
///   }

@mixin bpk-button--selected {
  background-color: $bpk-button-selected-background-color;
  background-image: $bpk-button-selected-background-image;
  color: $bpk-button-selected-color;
  box-shadow: $bpk-button-selected-box-shadow;

  &:hover {
    background-color: $bpk-button-selected-hover-background-color;
    background-image: $bpk-button-selected-hover-background-image;
    color: $bpk-button-selected-hover-color;
    box-shadow: $bpk-button-selected-hover-box-shadow;
  }

  &:active {
    background-color: $bpk-button-selected-active-background-color;
    background-image: $bpk-button-selected-active-background-image;
  }

  &:disabled {
    box-shadow: $bpk-button-selected-disabled-box-shadow;
  }
}

/// Link-style button. Modifies the bpk-button mixin.
///
/// @require {mixin} bpk-button
///
/// @example scss
///   .selector {
///     @include bpk-button();
///     @include bpk-button--link();
///   }

@mixin bpk-button--link {
  @include bpk-link;

  background: none;
  font-weight: normal;
  box-shadow: none;

  &:hover {
    background: none;
  }

  &:active {
    background: none;
  }

  &:disabled {
    background: none;
    color: $bpk-color-gray-300;
    text-decoration: none;
  }
}
