@import '../bonds';

////
/// @group cards
////

/// Basic card.
///
/// @example scss
///   .selector {
///     @include bpk-card();
///   }

@mixin bpk-card {
  position: relative;
  display: block;
  background-color: $bpk-card-background-color;
  color: $bpk-card-color;
  text-decoration: none;
  cursor: pointer;

  @include bpk-box-shadow-sm;
  @include bpk-border-radius-sm;

  @include bpk-hover {
    &::after {
      opacity: 1;
    }
  }

  // Keep transitions and animations to only transform and opacity.
  // This pseudo element solution allows us to animate box-shadow in a performant manner.
  // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity $bpk-duration-sm ease-in-out;
    opacity: 0;
    pointer-events: none; // To prevent the pseudo element absorbing click events

    @include bpk-box-shadow-lg;
    @include bpk-border-radius-sm;

    // pointer-events doesn't work on ie
    @media screen\0 {
      z-index: -1;
    }
  }

  &:active::after {
    box-shadow: none;
  }
}

/// Adds padding to cards. Modifies the bpk-card mixin.
///
/// @require {mixin} bpk-card
///
/// @example scss
///   .selector {
///     @include bpk-card();
///     @include bpk-card--padded();
///   }

@mixin bpk-card--padded {
  padding: $bpk-card-padding;
}

/// Ticket-style card with a stub.
///
/// @example scss
///   .selector {
///     @include bpk-ticket();
///   }

@mixin bpk-ticket {
  position: relative;
  display: flex;
  align-items: stretch;
  color: $bpk-card-color;
  text-decoration: none;
  cursor: pointer;
}

/// Ticket and ticket stub styles
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///   }

@mixin bpk-ticket__paper {
  position: relative;
  background-color: $bpk-card-background-color;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity 200ms ease-in-out;
    box-shadow: $bpk-box-shadow-lg;
    opacity: 0;
    pointer-events: none; // To prevent the pseudo element absorbing click events

    // pointer-events doesn't work on ie
    @media screen\0 {
      z-index: -1;
    }
  }
}

/// Adds padding to ticket and stub
///
/// @require {mixin} bpk-ticket__paper
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///     @include bpk-ticket__paper--padded();
///   }

@mixin bpk-ticket__paper--padded {
  padding: $bpk-card-padding;
}

/// Main part of the ticket card
///
/// @require {mixin} bpk-ticket__paper
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///     @include bpk-ticket__paper-main();
///   }

@mixin bpk-ticket__paper-main {
  flex-grow: 1;
  border-radius: $bpk-border-radius-sm 0 0 $bpk-border-radius-sm;

  @include bpk-box-shadow-sm;

  @include bpk-rtl {
    border-radius: 0 $bpk-border-radius-sm $bpk-border-radius-sm 0;
  }

  &::after {
    border-radius: inherit;
  }
}

/// Main part of the ticket card, vertical variant
///
/// @require {mixin} bpk-ticket__paper
/// @require {mixin} bpk-ticket__paper-main
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///     @include bpk-ticket__paper-main();
///     @include bpk-ticket__paper-main--vertical();
///   }

@mixin bpk-ticket__paper-main--vertical {
  border-radius: $bpk-border-radius-sm $bpk-border-radius-sm 0 0;

  @include bpk-rtl {
    border-radius: $bpk-border-radius-sm $bpk-border-radius-sm 0 0;
  }
}

/// Stub part of the ticket card
///
/// @require {mixin} bpk-ticket__paper
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///     @include bpk-ticket__paper-stub();
///   }

@mixin bpk-ticket__paper-stub {
  flex-grow: 0;
  border-radius: 0 $bpk-border-radius-sm $bpk-border-radius-sm 0;

  @include bpk-box-shadow-sm;

  @include bpk-rtl {
    border-radius: $bpk-border-radius-sm 0 0 $bpk-border-radius-sm;
  }

  &::after {
    border-radius: inherit;
  }
}

/// Stub part of the ticket card, vertical variant
///
/// @require {mixin} bpk-ticket__paper
/// @require {mixin} bpk-ticket__paper-stub
///
/// @example scss
///   .selector {
///     @include bpk-ticket__paper();
///     @include bpk-ticket__paper-stub();
///     @include bpk-ticket__paper-stub--vertical();
///   }

@mixin bpk-ticket__paper-stub--vertical {
  border-radius: 0 0 $bpk-border-radius-sm $bpk-border-radius-sm;

  @include bpk-rtl {
    border-radius: 0 0 $bpk-border-radius-sm $bpk-border-radius-sm;
  }
}

/// Ticket punchline
///
/// @example scss
///   .selector {
///     @include bpk-ticket__punchline();
///   }

@mixin bpk-ticket__punchline {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  background-color: $bpk-card-background-color;
}

/// Horizontal ticket punchline (for vertical ticket card)
///
/// @require {mixin} bpk-ticket__punchline
///
/// @example scss
///   .selector {
///     @include bpk-ticket__punchline();
///     @include bpk-ticket__punchline--vertical();
///   }

@mixin bpk-ticket__punchline--vertical {
  width: $bpk-card-notch-size * 2;
  margin: $bpk-card-notch-size auto;
  padding: $bpk-card-notch-size 0;
  background-image: url(map-get($bpk-elements, card-dash-vertical));
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: 2 * $bpk-one-pixel-rem 8 * $bpk-one-pixel-rem;
}

/// Horizontal ticket punchline (for vertical ticket card)
///
/// @require {mixin} bpk-ticket__punchline
///
/// @example scss
///   .selector {
///     @include bpk-ticket__punchline();
///     @include bpk-ticket__punchline--horizontal();
///   }

@mixin bpk-ticket__punchline--horizontal {
  height: $bpk-card-notch-size * 2;
  margin: auto $bpk-card-notch-size;
  padding: 0 $bpk-card-notch-size;
  background-image: url(map-get($bpk-elements, card-dash-horizontal));
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 8 * $bpk-one-pixel-rem 2 * $bpk-one-pixel-rem;
}

/// Ticket notch
///
/// @example scss
///   .selector {
///     @include bpk-ticket__notch();
///   }

@mixin bpk-ticket__notch {
  position: absolute;
  width: $bpk-card-notch-size * 2;
  height: $bpk-card-notch-size;
  overflow: hidden;
}

/// Ticket notch, positioned to the left of the ticket
///
/// @require {mixin} bpk-ticket__notch
///
/// @example scss
///   .selector {
///     @include bpk-ticket__notch();
///     @include bpk-ticket__notch--left();
///   }

@mixin bpk-ticket__notch--left {
  left: -$bpk-card-notch-size;
  width: $bpk-card-notch-size;
  height: $bpk-card-notch-size * 2;

  &::after {
    position: relative;
    right: 200%;
    bottom: 50%;
    content: '';
    display: block;
    width: $bpk-card-notch-size * 4;
    height: $bpk-card-notch-size * 4;
    border: $bpk-card-notch-size solid white;
    border-radius: $bpk-card-notch-size * 2;
    box-shadow: $bpk-box-shadow-sm inset;

    @include bpk-rtl {
      right: auto;
      left: 100%;
    }
  }
}

/// Ticket notch, positioned to the right of the ticket
///
/// @require {mixin} bpk-ticket__notch
///
/// @example scss
///   .selector {
///     @include bpk-ticket__notch();
///     @include bpk-ticket__notch--right();
///   }

@mixin bpk-ticket__notch--right {
  right: -$bpk-card-notch-size;
  width: $bpk-card-notch-size;
  height: $bpk-card-notch-size * 2;

  &::after {
    position: relative;
    right: 100%;
    bottom: 50%;
    content: '';
    display: block;
    width: $bpk-card-notch-size * 4;
    height: $bpk-card-notch-size * 4;
    border: $bpk-card-notch-size solid white;
    border-radius: $bpk-card-notch-size * 2;
    box-shadow: $bpk-box-shadow-sm inset;

    @include bpk-rtl {
      right: auto;
      left: 200%;
    }
  }
}

/// Ticket notch, positioned to the top of the ticket
///
/// @require {mixin} bpk-ticket__notch
///
/// @example scss
///   .selector {
///     @include bpk-ticket__notch();
///     @include bpk-ticket__notch--top();
///   }

@mixin bpk-ticket__notch--top {
  top: -$bpk-card-notch-size;

  &::after {
    position: relative;
    right: -50%;
    bottom: 200%;
    left: -50%;
    content: '';
    display: block;
    width: $bpk-card-notch-size * 4;
    height: $bpk-card-notch-size * 4;
    border: $bpk-card-notch-size solid white;
    border-radius: $bpk-card-notch-size * 2;
    box-shadow: $bpk-box-shadow-sm inset;
  }
}

/// Ticket notch, positioned to the bottom of the ticket
///
/// @require {mixin} bpk-ticket__notch
///
/// @example scss
///   .selector {
///     @include bpk-ticket__notch();
///     @include bpk-ticket__notch--bottom();
///   }

@mixin bpk-ticket__notch--bottom {
  bottom: -$bpk-card-notch-size;

  &::after {
    position: relative;
    right: -50%;
    bottom: 100%;
    left: -50%;
    content: '';
    display: block;
    width: $bpk-card-notch-size * 4;
    height: $bpk-card-notch-size * 4;
    border: $bpk-card-notch-size solid white;
    border-radius: $bpk-card-notch-size * 2;
    box-shadow: $bpk-box-shadow-sm inset;
  }
}
