@import '../bonds';

////
/// @group cards
////

/// Basic card.
///
/// @example scss
///   .selector {
///     @include bpk-card();
///   }

@mixin bpk-card {
  @include bpk-box-shadow-sm;
  @include bpk-border-radius-sm;

  position: relative;
  display: block;
  background-color: $bpk-card-background-color;
  color: $bpk-card-color;
  text-decoration: none;
  cursor: pointer;

  // Keep transitions and animations to only transform and opacity.
  // This pseudo element solution allows us to animate box-shadow in a performant manner.
  // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  &::after {
    @include bpk-box-shadow-lg;
    @include bpk-border-radius-sm;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .3s ease-in-out;
    opacity: 0;
    pointer-events: none; // To prevent the pseudo element absorbing click events

    // pointer-events doesn't work on ie
    @media screen\0 {
      z-index: -1;
    }
  }

  @include bpk-hover {
    &::after {
      opacity: 1;
    }
  }

  &:active::after {
    box-shadow: none;
  }
}

/// Adds padding to cards. Modifies the bpk-card mixin.
///
/// @require {mixin} bpk-card
///
/// @example scss
///   .selector {
///     @include bpk-card();
///     @include bpk-card--padded();
///   }

@mixin bpk-card--padded {
  padding: $bpk-card-padding;
}
