@mixin bpk-chip {
  display: inline-block;
  padding: $bpk-spacing-xs;
  border-radius: $bpk-border-radius-sm;
  background: $bpk-color-gray-100;
}

@mixin bpk-chip__label {
  display: inline-block;
  margin-top: 0;
  margin-right: $bpk-spacing-xs;
  margin-bottom: 0;
  color: $bpk-color-gray-700;

  @include bpk-rtl {
    margin-right: 0;
    margin-left: $bpk-spacing-xs;
  }
}
