@import '../bonds';

////
/// @group forms
////

/// Form input. Can be used for text, email, number, password and tel type inputs.
///
/// @example scss
///   .selector {
///     @include bpk-input();
///   }

@mixin bpk-input {
  display: inline-block;
  width: 100%;
  height: $bpk-input-height;
  padding: $bpk-input-padding-y $bpk-input-padding-x;
  border: $bpk-input-border;
  border-radius: $bpk-input-border-radius;
  background: $bpk-input-background;
  color: $bpk-input-color;
  appearance: none;

  &::placeholder {
    color: $bpk-input-placeholder-color;
    font-style: $bpk-input-placeholder-font-style;
  }

  &:disabled {
    border-color: $bpk-input-disabled-border-color;
    color: $bpk-input-disabled-color;
    cursor: not-allowed;
  }

  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  @include bpk-rtl {
    &[type=number],
    &[type=tel],
    &[type=email] {
      direction: ltr;
      text-align: right;
    }
  }

  &::-ms-clear {
    display: none;
  }
}

/// Valid form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--valid();
///   }

@mixin bpk-input--valid {
  padding-right: $bpk-spacing-base;
  background: $bpk-color-white url(map-get($bpk-icons-sm, tick-green-500)) no-repeat right $bpk-spacing-sm center;
  background-size: $bpk-spacing-md $bpk-spacing-md;

  @include bpk-rtl {
    padding-right: $bpk-input-padding-x;
    padding-left: $bpk-spacing-base;
    background-position: left $bpk-spacing-sm center;
  }
}

/// Invalid form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--invalid();
///   }

@mixin bpk-input--invalid {
  padding-right: $bpk-spacing-base;
  border-color: $bpk-input-invalid-border-color;
  background: $bpk-color-white url(map-get($bpk-icons-sm, close-red-500)) no-repeat right $bpk-spacing-sm center;
  background-size: $bpk-spacing-md $bpk-spacing-md;

  @include bpk-rtl {
    padding-right: $bpk-input-padding-x;
    padding-left: $bpk-spacing-base;
    background-position: left $bpk-spacing-sm center;
  }
}

/// Large form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--large();
///   }

@mixin bpk-input--large {
  height: $bpk-input-large-height;
}

/// Docked (first-child) form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--docked-first-child();
///   }

@mixin bpk-input--docked-first-child {
  border-right-width: 0;
  border-radius: $bpk-input-border-radius 0 0 $bpk-input-border-radius;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-right-width: $bpk-input-border-width;
    border-left-width: 0;
    border-radius: 0 $bpk-input-border-radius $bpk-input-border-radius 0;
  }
}

/// Docked (last-child) form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--docked-last-child();
///   }

@mixin bpk-input--docked-last-child {
  border-radius: 0 $bpk-input-border-radius $bpk-input-border-radius 0;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-radius: $bpk-input-border-radius 0 0 $bpk-input-border-radius;
  }
}

/// Docked (middle-child) form input. Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--docked-middle-child();
///   }

@mixin bpk-input--docked-middle-child {
  border-right-width: 0;
  border-radius: 0;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-right-width: $bpk-input-border-width;
    border-left-width: 0;
  }
}

/// Docked form input (inputs must sit side-by-side in the DOM). Modifies the bpk-input mixin.
///
/// @require {mixin} bpk-input
///
/// @example scss
///   .selector {
///     @include bpk-input();
///     @include bpk-input--docked();
///   }

@mixin bpk-input--docked {
  &:first-child {
    @include bpk-input--docked-first-child;
  }

  &:last-child {
    @include bpk-input--docked-last-child;
  }

  &:not(:first-child):not(:last-child) {
    @include bpk-input--docked-middle-child;
  }
}

/// Form select input.
///
/// @example scss
///   .selector {
///     @include bpk-select();
///   }

@mixin bpk-select {
  display: inline-block;
  width: 100%;
  height: $bpk-select-height;
  padding: $bpk-select-padding-top $bpk-select-padding-right $bpk-select-padding-bottom $bpk-select-padding-left;
  border: $bpk-select-border;
  border-radius: $bpk-select-border-radius;
  background: $bpk-color-white url(map-get($bpk-icons-sm, arrow-down-gray-700)) no-repeat right $bpk-spacing-sm center;
  background-size: $bpk-spacing-md $bpk-spacing-md;
  color: $bpk-select-color;
  appearance: none;

  &:disabled {
    border-color: $bpk-select-disabled-border-color;
    background-image: url(map-get($bpk-icons-sm, arrow-down-gray-300));
    color: $bpk-select-disabled-color;
    cursor: not-allowed;
  }

  @include bpk-rtl {
    padding-right: $bpk-select-padding-left;
    padding-left: $bpk-select-padding-right;
    background-position: left $bpk-spacing-sm center;
  }

  @media screen\0 {
    padding: $bpk-spacing-xs $bpk-spacing-sm !important; /* stylelint-disable-line declaration-no-important */
    background: $bpk-color-white !important; /* stylelint-disable-line declaration-no-important */
  }
}

/// Invalid form select input. Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--invalid();
///   }

@mixin bpk-select--invalid {
  border-color: $bpk-select-invalid-border-color;
}

/// Large form select input. Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--large();
///   }

@mixin bpk-select--large {
  height: $bpk-select-large-height;
}

/// Docked (first-child) form select input. Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--docked-first-child();
///   }

@mixin bpk-select--docked-first-child {
  border-right-width: 0;
  border-radius: $bpk-select-border-radius 0 0 $bpk-select-border-radius;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-right-width: $bpk-select-border-width;
    border-left-width: 0;
    border-radius: 0 $bpk-select-border-radius $bpk-select-border-radius 0;
  }
}

/// Docked (last-child) form select input. Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--docked-last-child();
///   }

@mixin bpk-select--docked-last-child {
  border-radius: 0 $bpk-select-border-radius $bpk-select-border-radius 0;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-radius: $bpk-select-border-radius 0 0 $bpk-select-border-radius;
  }
}

/// Docked (middle-child) form select input. Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--docked-middle-child();
///   }

@mixin bpk-select--docked-middle-child {
  border-right-width: 0;
  border-radius: 0;

  &:focus {
    position: relative; // brings outline to the front
  }

  @include bpk-rtl {
    border-right-width: $bpk-select-border-width;
    border-left-width: 0;
  }
}

/// Docked form select input (selects must sit side-by-side in the DOM). Modifies the bpk-select mixin.
///
/// @require {mixin} bpk-select
///
/// @example scss
///   .selector {
///     @include bpk-select();
///     @include bpk-select--docked();
///   }

@mixin bpk-select--docked {
  &:first-child {
    @include bpk-select--docked-first-child;
  }

  &:last-child {
    @include bpk-select--docked-last-child;
  }

  &:not(:first-child):not(:last-child) {
    @include bpk-select--docked-middle-child;
  }
}

/// Form checkbox. Should be applied to containing label element.
///
/// @example scss
///   .selector {
///     @include bpk-checkbox();
///   }

@mixin bpk-checkbox {
  display: inline-block;
}

/// Disabled form checkbox. Modifies the bpk-checkbox mixin.
///
/// @require {mixin} bpk-checkbox
///
/// @example scss
///   .selector {
///     @include bpk-checkbox();
///     @include bpk-checkbox--disabled();
///   }

@mixin bpk-checkbox--disabled {
  color: $bpk-color-gray-300;
  cursor: not-allowed;
}

/// Form checkbox input.
///
/// @example scss
///   .selector {
///     @include bpk-checkbox__input();
///   }

@mixin bpk-checkbox__input {
  display: inline-block;
  width: $bpk-spacing-md;
  height: $bpk-spacing-md;
  margin: 0;
  padding: 0;
  border: 0;
  background: url(map-get($bpk-elements, checkbox-normal)) no-repeat;
  cursor: pointer;
  vertical-align: text-bottom;
  appearance: none;

  &:checked {
    background: url(map-get($bpk-elements, checkbox-checked)) no-repeat;

    &:disabled {
      background: url(map-get($bpk-elements, checkbox-checked-disabled)) no-repeat;
    }
  }

  &:disabled {
    background: url(map-get($bpk-elements, checkbox-disabled)) no-repeat;
  }

  @media screen\0 {
    background: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

/// Form radio button. Should be applied to containing label element.
///
/// @example scss
///   .selector {
///     @include bpk-radio();
///   }

@mixin bpk-radio {
  display: inline-block;
}

/// Disabled form radio button. Modifies the bpk-radio mixin.
///
/// @require {mixin} bpk-radio
///
/// @example scss
///   .selector {
///     @include bpk-radio();
///     @include bpk-radio--disabled();
///   }

@mixin bpk-radio--disabled {
  color: $bpk-color-gray-300;
  cursor: not-allowed;
}

/// Form radio input.
///
/// @example scss
///   .selector {
///     @include bpk-radio__input();
///   }

@mixin bpk-radio__input {
  display: inline-block;
  width: $bpk-spacing-md;
  height: $bpk-spacing-md;
  margin: 0;
  padding: 0;
  border: 0;
  background: url(map-get($bpk-elements, radio-normal)) no-repeat;
  cursor: pointer;
  vertical-align: text-bottom;
  appearance: none;

  &:checked {
    background: url(map-get($bpk-elements, radio-checked)) no-repeat;

    &:disabled {
      background: url(map-get($bpk-elements, radio-checked-disabled)) no-repeat;
    }
  }

  &:disabled {
    background: url(map-get($bpk-elements, radio-disabled)) no-repeat;
  }

  @media screen\0 {
    background: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

/// Form label.
///
/// @example scss
///   .selector {
///     @include bpk-label();
///   }

@mixin bpk-label {
  display: block;
  color: $bpk-label-color;
  font-size: $bpk-label-font-size;
  line-height: $bpk-label-line-height;
}

/// White form label. Modifies the bpk-label mixin.
///
/// @require {mixin} bpk-label
///
/// @example scss
///   .selector {
///     @include bpk-label();
///     @include bpk-label--white();
///   }

@mixin bpk-label--white {
  color: $bpk-color-white;
}
