@import '~bpk-svgs/index';
@import '../bonds';

@keyframes bpk-keyframe-spin {
  100% {
    transform: rotate(1turn);
  }
}

////
/// @group svgs
////

/// Icon factory.
///
/// @param {variable} $spacing
/// @param {key} $icon
///
/// @access private

@mixin _bpk-icon-factory($map, $size, $icon) {
  content: '';
  display: inline-block;
  width: $size;
  height: $size;
  background: url(map-get($map, $icon)) no-repeat;
  background-size: cover;
}

/// Button alignment utility.
///
/// @access private

@mixin _bpk-svg--align-to-button() {
  vertical-align: text-bottom;
}

/// Large button alignment utility.
///
/// @access private

@mixin _bpk-svg--align-to-large-button() {
  vertical-align: -($bpk-one-pixel-rem * 3);
}

/// Small icon.
///
/// @param {key} $icon [''] - The key of the desired SVG datauri from the $bpk-icons-sm map.
///
/// @example scss
///   .selector {
///     @include bpk-icon-sm(flight-gray-500);
///   }

@mixin bpk-icon-sm($icon) {
  @include _bpk-icon-factory($bpk-icons-sm, $bpk-spacing-md, $icon);
}

/// Large icon.
///
/// @param {key} $icon [''] - The key of the desired SVG datauri from the $bpk-icons-lg map.
///
/// @example scss
///   .selector {
///     @include bpk-icon-lg(flight-gray-500);
///   }

@mixin bpk-icon-lg($icon) {
  @include _bpk-icon-factory($bpk-icons-lg, $bpk-spacing-base, $icon);
}

/// Align to button. Modifies the bpk-icon-sm mixin.
///
/// @require {mixin} bpk-icon-sm
///
/// @example scss
///   .selector {
///     @include bpk-icon-sm(flight-gray-500);
///     @include bpk-icon-sm--align-to-button();
///   }

@mixin bpk-icon-sm--align-to-button() {
  @include _bpk-svg--align-to-button();
}

/// Align to large button. Modifies the bpk-icon-lg mixin.
///
/// @require {mixin} bpk-icon-lg
///
/// @example scss
///   .selector {
///     @include bpk-icon-lg(flight-gray-500);
///     @include bpk-icon-lg--align-to-large-button();
///   }

@mixin bpk-icon-lg--align-to-large-button() {
  @include _bpk-svg--align-to-large-button();
}

/// RTL support. Modifies the bpk-icon-sm or bpk-icon-lg mixin.
///
/// @require {mixin} bpk-icon-sm
/// @require {mixin} bpk-icon-lg
///
/// @example scss
///   .selector {
///     @include bpk-icon-sm(flight-gray-500);
///     @include bpk-icon--rtl-support();
///   }

@mixin bpk-icon--rtl-support() {
  @include bpk-rtl {
    transform: scaleX(-1);
  }
}

/// Small spinner.
///
/// @param {key} $spinner - The key of the desired SVG datauri from the $bpk-spinners map.
///
/// @example scss
///   .selector {
///     @include bpk-spinner(spinner-gray-500);
///   }

@mixin bpk-spinner($spinner: '') {
  width: $bpk-spacing-md;
  height: $bpk-spacing-md;
  animation: bpk-keyframe-spin 600ms linear infinite;

  @if $spinner != '' {
    content: '';
    display: inline-block;
    background: url(map-get($bpk-spinners, $spinner)) no-repeat;
    background-size: cover;
  }
}

/// Large spinner. Modifies the bpk-spinner mixin.
///
/// @require {mixin} bpk-spinner
///
/// @example scss
///   .selector {
///     @include bpk-spinner(spinner-gray-500);
///     @include bpk-spinner--lg();
///   }

@mixin bpk-spinner--lg() {
  width: $bpk-spacing-base;
  height: $bpk-spacing-base;
}

/// Extra large spinner. Modifies the bpk-spinner mixin.
///
/// @require {mixin} bpk-spinner
///
/// @example scss
///   .selector {
///     @include bpk-spinner(spinner-gray-500);
///     @include bpk-spinner--xl();
///   }

@mixin bpk-spinner--xl() {
  width: $bpk-spacing-xl;
  height: $bpk-spacing-xl;
}

/// Align spinner to button. Modifies the bpk-spinner mixin.
///
/// @require {mixin} bpk-spinner
///
/// @example scss
///   .selector {
///     @include bpk-spinner();
///     @include bpk-icon--align-to-button();
///   }

@mixin bpk-spinner--align-to-button() {
  @include _bpk-svg--align-to-button();
}

/// Align spinner to large button. Modifies the bpk-spinner mixin.
///
/// @require {mixin} bpk-spinner
///
/// @example scss
///   .selector {
///     @include bpk-spinner();
///     @include bpk-spinner--align-to-large-button();
///   }

@mixin bpk-spinner--align-to-large-button() {
  @include _bpk-svg--align-to-large-button();
}

