$vars: (
  cta-color: $bpk-color-green-500,
  cta-contrast-color: $bpk-color-white,
  cta-gradient-start-color: $bpk-color-green-500,
  cta-gradient-end-color: $bpk-color-green-600,
  cta-light-color: $bpk-color-green-600,
  cta-light-contrast-color: $bpk-color-white,
  cta-dark-color: $bpk-color-green-700,
  cta-dark-contrast-color: $bpk-color-white,
  primary-color: $bpk-color-blue-500,
  primary-contrast-color: $bpk-color-white,
  primary-gradient-start-color: $bpk-color-blue-500,
  primary-gradient-end-color: $bpk-color-blue-500,
  primary-light-color: $bpk-color-blue-700,
  primary-light-contrast-color: $bpk-color-white,
  primary-dark-color: $bpk-color-blue-900,
  primary-dark-contrast-color: $bpk-color-white,
  secondary-color: $bpk-color-blue-500,
  secondary-contrast-color: $bpk-color-white,
  secondary-gradient-start-color: $bpk-color-blue-500,
  secondary-gradient-end-color: $bpk-color-blue-500,
  secondary-light-color: $bpk-color-blue-600,
  secondary-light-contrast-color: $bpk-color-white,
  secondary-dark-color: $bpk-color-blue-700,
  secondary-dark-contrast-color: $bpk-color-white,
  primary-button-border-radius: $bpk-border-radius-pill-lg,
  primary-button-large-border-radius: $bpk-border-radius-pill-lg,
);

@mixin gradient($startVarName, $endVarName) {
  background-image: linear-gradient(-180deg, map-get($vars, $startVarName) 0%, map-get($vars, $endVarName) 100%);
  background-image: linear-gradient(-180deg, var(--#{$startVarName}, map-get($vars, $startVarName)) 0%, var(--#{$endVarName}, map-get($vars, $endVarName)) 100%);
}

@mixin prop($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName}, map-get($vars, $varName));
}

@mixin border($size, $colorName) {
  box-shadow: 0 0 0 $size map-get($vars, $colorName) inset;
  box-shadow: 0 0 0 $size var(--#{$colorName}, map-get($vars, $colorName)) inset;
}
