@import '../bonds';

////
/// @group typography
////

/// Heading factory.
///
/// @param {variable} $margin-top
/// @param {variable} $margin-bottom
/// @param {variable} $font-size
/// @param {variable} $font-weight
/// @param {variable} $line-height
///
/// @access private

@mixin _bpk-heading-factory($margin-top, $margin-bottom, $font-size, $font-weight, $line-height) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

/// Level 1 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-1();
///   }

@mixin bpk-heading-1 {
  @include _bpk-heading-factory(
    $bpk-h-1-margin-top,
    $bpk-h-1-margin-bottom,
    $bpk-h-1-font-size,
    $bpk-h-1-font-weight,
    $bpk-h-1-line-height
  );
}

/// Level 2 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-2();
///   }

@mixin bpk-heading-2 {
  @include _bpk-heading-factory(
    $bpk-h-2-margin-top,
    $bpk-h-2-margin-bottom,
    $bpk-h-2-font-size,
    $bpk-h-2-font-weight,
    $bpk-h-2-line-height
  );
}

/// Level 3 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-3();
///   }

@mixin bpk-heading-3 {
  @include _bpk-heading-factory(
    $bpk-h-3-margin-top,
    $bpk-h-3-margin-bottom,
    $bpk-h-3-font-size,
    $bpk-h-3-font-weight,
    $bpk-h-3-line-height
  );
}

/// Level 4 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-4();
///   }

@mixin bpk-heading-4 {
  @include _bpk-heading-factory(
    $bpk-h-4-margin-top,
    $bpk-h-4-margin-bottom,
    $bpk-h-4-font-size,
    $bpk-h-4-font-weight,
    $bpk-h-4-line-height
  );
}

/// Level 5 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-5();
///   }

@mixin bpk-heading-5 {
  @include _bpk-heading-factory(
    $bpk-h-5-margin-top,
    $bpk-h-5-margin-bottom,
    $bpk-h-5-font-size,
    $bpk-h-5-font-weight,
    $bpk-h-5-line-height
  );
}

/// Level 6 heading.
///
/// @example scss
///   .selector {
///     @include bpk-heading-6();
///   }

@mixin bpk-heading-6 {
  @include _bpk-heading-factory(
    $bpk-h-6-margin-top,
    $bpk-h-6-margin-bottom,
    $bpk-h-6-font-size,
    $bpk-h-6-font-weight,
    $bpk-h-6-line-height
  );
}

/// Headings within content containers. Modifies the various bpk-heading mixins.
///
/// @require {mixin} bpk-heading-1
/// @require {mixin} bpk-heading-2
/// @require {mixin} bpk-heading-3
/// @require {mixin} bpk-heading-4
/// @require {mixin} bpk-heading-5
/// @require {mixin} bpk-heading-6
///
/// @example scss
///   .selector {
///     @include bpk-heading-1();
///     @include bpk-content-heading();
///   }

@mixin bpk-content-heading {
  &:not(:first-child) {
    margin-top: $bpk-heading-content-margin-top;
  }
}

/// Paragraph.
///
/// @example scss
///   .selector {
///     @include bpk-paragraph();
///   }

@mixin bpk-paragraph {
  margin-top: $bpk-p-margin-top;
  margin-bottom: $bpk-p-margin-bottom;
}

/// List.
///
/// @example scss
///   .selector {
///     @include bpk-list();
///   }

@mixin bpk-list {
  margin-top: $bpk-list-margin-top;
  margin-bottom: $bpk-list-margin-bottom;
  padding-left: $bpk-spacing-base;
}

/// Nested list. Modifies the bpk-list mixin.
///
/// @require {mixin} bpk-list
///
/// @example scss
///   .selector {
///     @include bpk-list();
///     @include bpk-list--nested();
///   }

@mixin bpk-list--nested {
  margin-top: $bpk-list-nested-margin-top;
  margin-bottom: $bpk-list-nested-margin-bottom;
}

/// List item.
///
/// @example scss
///   .selector {
///     @include bpk-list-item();
///   }

@mixin bpk-list-item {
  margin-top: $bpk-list-item-margin-top;
  margin-bottom: $bpk-list-item-margin-bottom;
}

/// Inline link.
///
/// @example scss
///   .selector {
///     @include bpk-link();
///   }

@mixin bpk-link {
  color: $bpk-link-color;
  text-decoration: $bpk-link-text-decoration;

  &:hover {
    color: $bpk-link-hover-color;
    text-decoration: $bpk-link-hover-text-decoration;
  }

  &:active {
    color: $bpk-link-active-color;
  }
}

/// Active link. Modifies the bpk-link mixin.
///
/// @require {mixin} bpk-link
///
/// @example scss
///   .selector {
///     @include bpk-link();
///     @include bpk-link--active();
///   }

@mixin bpk-link--active {
  color: $bpk-link-active-color;
}

@mixin bpk-code {
  display: inline;
  padding: $bpk-one-pixel-rem;
  border-radius: $bpk-border-radius-sm;
  background-color: $bpk-color-gray-50;
  color: $bpk-color-gray-700;
  text-align: left;
  text-shadow: 0 $bpk-one-pixel-rem $bpk-color-white;
  white-space: nowrap;
  vertical-align: bottom;
}

@mixin bpk-code--block {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin bpk-code__pre {
  margin: 0 0 $bpk-spacing-sm;
  padding: $bpk-spacing-base;
  background-color: $bpk-color-gray-50;
}

@mixin bpk-blockquote {
  margin: 0 0 $bpk-spacing-sm 0;
  padding: $bpk-spacing-sm;
  border-left: solid $bpk-spacing-sm $bpk-color-gray-50;

  > *:last-child {
    margin-bottom: 0;
  }
}
