@import '~bpk-mixins/index';

.bpkdocs-side-nav-layout {
  &__container {
    @include bpk-container;
    @include bpk-clearfix;
  }

  @include bpk-breakpoint-above-tablet {
    &__nav {
      width: 25%;
      float: left;
    }

    &__content {
      width: 75%;
      float: left;
    }
  }
}
