@import '~bpk-mixins';

.bpk-popover-paragraph {
  margin-bottom: $bpk-spacing-xs;
}

.bpk-popover-spacer {
  display: flex;
  height: 500 * $bpk-one-pixel-rem;
  margin: 30 * $bpk-one-pixel-rem;
  justify-content: space-around;
  align-items: flex-start;
}
