@import './../../../scss/bonds';
@import './../../../scss/mixins/breakpoints';

.header {
  background-color: $bpk-color-blue-500;

  &__nav {
    @include bpk-container;

    @include bpk-breakpoint-below-tablet {
      flex-direction: column;
      justify-content: space-between;
    }

    display: flex;
    align-items: center;
    padding-top: $bpk-spacing-lg;
    padding-bottom: $bpk-spacing-lg;
  }

  &__logo,
  &__logo-link {
    height: $bpk-spacing-xl;
  }

  &__nav-list {
    @include bpk-breakpoint-mobile-only {
      width: 100%;
      overflow-x: auto;
    }

    @include bpk-breakpoint-below-tablet {
      height: $bpk-spacing-xl;
      margin: $bpk-spacing-sm 0 0;
    }

    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
  }

  &__nav-list-item {
    &:not(:last-child) {
      margin-right: $bpk-spacing-lg;
    }
  }

  &__nav-link {
    color: $bpk-color-blue-900;
    text-decoration: none;

    &:hover {
      color: $bpk-color-white;
      text-decoration: none;
    }
  }

  &__nav-link-active {
    color: $bpk-color-white;
    text-decoration: none;
  }
}
