@import './../../../scss/bonds';
@import './../../../scss/mixins/breakpoints';

.bpkdocs-header {
  background-color: $bpk-color-white;

  &__nav {
    @include bpk-container;

    @include bpk-breakpoint-above-tablet {
      flex-direction: row;
      justify-content: inherit;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: $bpk-spacing-base;
    padding-bottom: $bpk-spacing-base;
  }

  &__logo-link {
    color: $bpk-color-blue-500;
    font-size: $bpk-font-size-h-3;
    text-decoration: none;
  }

  &__nav-list {
    @include bpk-breakpoint-above-tablet {
      height: auto;
      margin: 0 0 0 auto;
    }

    display: flex;
    align-items: center;
    height: $bpk-spacing-lg;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-list-item {
    &:not(:last-child) {
      margin-right: $bpk-spacing-lg;
    }
  }
}
