@import '~bpk-mixins/index';

.bpkdocs-sassdoc-link {
  padding: $bpk-spacing-sm;
  background-color: $bpk-color-gray-50;

  @include bpk-border-radius-xs;

  &__logo {
    display: inline-block;
    height: $bpk-spacing-base;
    margin-right: $bpk-spacing-sm;
    vertical-align: top;

    @include bpk-rtl {
      margin-right: 0;
      margin-left: $bpk-spacing-sm;
    }

    > svg {
      display: block;
      height: 100%;
    }
  }
}
