// stylelint-disable-next-line selector-max-type
html {
    font-size: $bpk-font-size-root;
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  /* stylelint-disable selector-class-pattern */
  body {
    color: $bpk-font-color-base;
    font-family: $bpk-font-family-base;
    font-size: $bpk-font-size-base;
    line-height: 1.3rem; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
  
    :global(&.scaffold-font-size) {
      font-size: 13px; /* stylelint-disable-line unit-disallowed-list, scale-unlimited/declaration-strict-value */
    }
  
    :global(&.enable-font-smoothing) {
      -webkit-font-smoothing: antialiased;
    }
  }
  
  :focus-visible {
    @include bpk-focus-indicator;
  }
  
  :global(.hidden),
  :global(.hide) {
    @include bpk-hidden;
  }
  
  :global(.visuallyhidden),
  :global(.visually-hidden) {
    @include bpk-visually-hidden;
  }
  
  :global(.visuallyhidden.focusable),
  :global(.visually-hidden.focusable) {
    @include bpk-visually-hidden--focusable;
  }
  
  :global(.invisible) {
    @include bpk-invisible;
  }
  
  :global(.clearfix) {
    @include bpk-clearfix;
  }