@import '~bpk-mixins';

.bpkdocs-icon-search-form {
  display: flex;
  width: 100%;

  @include bpk-breakpoint-mobile {
    flex-direction: column;
  }

  &__fieldset {
    width: 50%;
    margin: 0 $bpk-spacing-sm 0 0;
    padding: 0;
    border: none;

    @include bpk-rtl {
      margin: 0 0 0 $bpk-spacing-sm;

      &:last-child {
        margin: 0;
      }
    }

    @include bpk-breakpoint-mobile {
      width: 100%;
      margin: 0 0 $bpk-spacing-sm 0;

      &:last-child {
        margin: 0;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}
