@import '~bpk-mixins';

.bpkdocs-icon-search-result {
  &__title {
    margin-bottom: $bpk-spacing-sm;
  }

  &__content {
    margin: 0 0 $bpk-spacing-base 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -#{$bpk-spacing-xs};
    padding: 0;
    list-style-type: none;
  }

  &__list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - #{$bpk-spacing-sm});
    margin: $bpk-spacing-xs;
    padding: $bpk-spacing-xs;
    box-shadow: 0 0 0 1px $bpk-color-gray-100 inset;

    @include bpk-border-radius-xs;

    @include bpk-breakpoint-mobile {
      width: calc(50% - #{$bpk-spacing-sm});
    }
  }

  &__icon {
    fill: $bpk-color-gray-700;

    &--sm {
      vertical-align: text-bottom;
    }

    &--lg {
      vertical-align: bottom;
    }
  }

  &__icon-container {
    padding: $bpk-spacing-xs;
  }

  &__name-container {
    padding: $bpk-spacing-xs;
    padding-top: 0;
    color: $bpk-color-gray-500;
    text-align: center;

    @include bpk-text-sm;
  }
}
