@import './../../../scss/bonds';

.bpk-table {
  width: 100%;
  margin-bottom: $bpk-spacing-base;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px $bpk-color-gray-100;
  table-layout: fixed;

  &__cell {
    padding: $bpk-spacing-sm;

    &--head {
      background-color: $bpk-color-gray-50;
      font-weight: normal;
      text-align: left;
    }
  }
}
