@import "~bpk-mixins";

@keyframes star_dust {
  0% { transform: scale(1); }
  50% { transform: scale(.5); }
  100% { transform: scale(1); }
}

@mixin large-star {
  width: $bpk-icon-size-lg;
  height: $bpk-icon-size-lg;
  vertical-align: bottom;
}

.bpk-star-rating {
  display: inline-block;

  // rename this because its confusing
  &__star-container {
    position: relative;
    display: inline-block;
    width: $bpk-icon-size-sm;
    height: $bpk-icon-size-sm;
    vertical-align: text-bottom;

    &--large {
      @include large-star;
    }
  }

  &__star {
    display: inline-block;
    fill: $bpk-color-gray-100;
    transform: rotate(0deg) scale(1);
    transition: transform $bpk-duration-sm ease-in-out;
    vertical-align: text-bottom;

    &--large {
      @include large-star;
    }

    &--half {
      position: absolute;
    }

    &--half-flipped {
      position: absolute;
      transform: scaleX(-1);
    }

    &--filled {
      fill: $bpk-color-yellow-500;
    }

    &--interactive {
      cursor: pointer;

      @include bpk-hover {
        transform: rotate(10deg) scale(1.2);
      }

      &:active {
        transform: rotate(0deg) scale(1);
      }
    }

    &--selected {
      animation-duration: 300ms;
      animation-name: star_dust;

      @include bpk-hover {
        transform: rotate(0deg) scale(1);
      }

      &:active {
        transform: rotate(0deg) scale(1);
      }
    }
  }
}
