@import '~bpk-mixins/index';

.bpkdocs-grid-demo-page {
  &__lozenge {
    @include bpk-text-sm;
    @include bpk-border-radius-xs;

    background-color: $bpk-color-gray-50;
    text-align: center;
    box-shadow: 0 0 0 1px $bpk-color-gray-100;
  }
}
