@import '~bpk-mixins/index';

.bpkdocs-grid-demo-page {
  &__lozenge {
    border-radius: $bpk-border-radius-xs;
    background-color: $bpk-color-gray-50;
    text-align: center;
    box-shadow: 0 0 0 1px $bpk-color-gray-100;

    @include bpk-text-sm;
  }
}
