/// @group animations
$bpk-duration-xs: 50ms !default;
/// @group animations
$bpk-duration-sm: 200ms !default;
/// @group animations
$bpk-duration-base: 400ms !default;
/// @group autosuggest
$bpk-autosuggest-list-background-color: rgb(255, 255, 255) !default;
/// @group autosuggest
$bpk-autosuggest-list-item-active-background-color: rgb(230, 228, 235) !default;
/// @group autosuggest
$bpk-autosuggest-list-item-focused-background-color: rgb(243, 242, 245) !default;
/// @group badges
$bpk-badge-padding-y: 0 !default;
/// @group badges
$bpk-badge-padding-x: .375rem !default;
/// @group badges
$bpk-badge-background-color: rgb(255, 187, 0) !default;
/// @group badges
$bpk-badge-centered-vertical-align: text-bottom !default;
/// @group radii
$bpk-border-radius-xs: .1875rem !default;
/// @group radii
$bpk-border-radius-sm: .375rem !default;
/// @group radii
$bpk-border-radius-pill: 5rem !default;
/// @group box-shadows
$bpk-box-shadow-sm: 0px 1px 3px 0px rgba(#252033, .2) !default;
/// @group box-shadows
$bpk-box-shadow-lg: 0px 4px 14px 0px rgba(#252033, .25) !default;
/// @group box-shadows
$bpk-box-shadow-xl: 0px 12px 50px 0px rgba(#252033, .25) !default;
/// @group breakpoints
$bpk-breakpoint-mobile: 32.25rem !default;
/// @group breakpoints
$bpk-breakpoint-tablet: 50.25rem !default;
/// @group breakpoints
$bpk-breakpoint-desktop: 71.25rem !default;
/// @group breakpoints
$bpk-breakpoint-query-mobile: (max-width: 32.25rem) !default;
/// @group breakpoints
$bpk-breakpoint-query-tablet: (max-width: 50.25rem) !default;
/// @group breakpoints
$bpk-breakpoint-query-tablet-only: (min-width: 32.25rem + .0625rem) and (max-width: 50.25rem) !default;
/// @group breakpoints
$bpk-breakpoint-query-above-mobile: (min-width: 32.25rem + .0625rem) !default;
/// @group breakpoints
$bpk-breakpoint-query-above-tablet: (min-width: 50.25rem + .0625rem) !default;
/// @group buttons
$bpk-button-padding-y: .375rem !default;
/// @group buttons
$bpk-button-padding-x: 1.125rem !default;
/// @group buttons
$bpk-button-padding-x-icon-only: .5625rem !default;
/// @group buttons
$bpk-button-border-radius: 5rem !default;
/// @group buttons
$bpk-button-background-color: rgb(0, 215, 117) !default;
/// @group buttons
$bpk-button-background-image: linear-gradient(-180deg, #00d775 0%, #00bd68 100%) !default;
/// @group buttons
$bpk-button-hover-background-color: rgb(0, 189, 104) !default;
/// @group buttons
$bpk-button-hover-background-image: none !default;
/// @group buttons
$bpk-button-active-background-color: rgb(0, 168, 93) !default;
/// @group buttons
$bpk-button-active-background-image: none !default;
/// @group buttons
$bpk-button-disabled-background-color: rgb(230, 228, 235) !default;
/// @group buttons
$bpk-button-disabled-background-image: none !default;
/// @group buttons
$bpk-button-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-hover-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-active-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-box-shadow: none !default;
/// @group buttons
$bpk-button-hover-box-shadow: none !default;
/// @group buttons
$bpk-button-active-box-shadow: none !default;
/// @group buttons
$bpk-button-disabled-box-shadow: none !default;
/// @group buttons
$bpk-button-disabled-color: rgb(178, 174, 189) !default;
/// @group buttons
$bpk-button-font-size: 1rem !default;
/// @group buttons
$bpk-button-font-weight: 700 !default;
/// @group buttons
$bpk-button-line-height: 1.5rem !default;
/// @group buttons
$bpk-button-text-align: center !default;
/// @group buttons
$bpk-button-large-padding-y: .375rem !default;
/// @group buttons
$bpk-button-large-padding-x: 1.5rem !default;
/// @group buttons
$bpk-button-large-padding-x-icon-only: .5625rem !default;
/// @group buttons
$bpk-button-large-font-size: 1.5rem !default;
/// @group buttons
$bpk-button-large-line-height: 1.875rem !default;
/// @group buttons
$bpk-button-secondary-background-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-secondary-background-image: none !default;
/// @group buttons
$bpk-button-secondary-hover-background-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-secondary-hover-background-image: none !default;
/// @group buttons
$bpk-button-secondary-active-background-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-secondary-active-background-image: none !default;
/// @group buttons
$bpk-button-secondary-disabled-background-color: rgb(230, 228, 235) !default;
/// @group buttons
$bpk-button-secondary-disabled-background-image: none !default;
/// @group buttons
$bpk-button-secondary-color: rgb(0, 178, 214) !default;
/// @group buttons
$bpk-button-secondary-hover-color: rgb(0, 178, 214) !default;
/// @group buttons
$bpk-button-secondary-active-color: rgb(0, 178, 214) !default;
/// @group buttons
$bpk-button-secondary-disabled-color: rgb(178, 174, 189) !default;
/// @group buttons
$bpk-button-secondary-box-shadow: 0 0 0 2px #E6E4EB inset !default;
/// @group buttons
$bpk-button-secondary-hover-box-shadow: 0 0 0 2px #00b2d6 inset !default;
/// @group buttons
$bpk-button-secondary-active-box-shadow: 0 0 0 3px #00b2d6 inset !default;
/// @group buttons
$bpk-button-secondary-disabled-box-shadow: none !default;
/// @group buttons
$bpk-button-destructive-color: rgb(255, 84, 82) !default;
/// @group buttons
$bpk-button-destructive-box-shadow: 0 0 0 2px #E6E4EB inset !default;
/// @group buttons
$bpk-button-destructive-hover-color: rgb(255, 84, 82) !default;
/// @group buttons
$bpk-button-destructive-hover-box-shadow: 0 0 0 2px #ff5452 inset !default;
/// @group buttons
$bpk-button-destructive-active-color: rgb(255, 84, 82) !default;
/// @group buttons
$bpk-button-destructive-active-box-shadow: 0 0 0 3px #ff5452 inset !default;
/// @group buttons
$bpk-button-destructive-disabled-background-color: rgb(230, 228, 235) !default;
/// @group buttons
$bpk-button-destructive-disabled-background-image: none !default;
/// @group buttons
$bpk-button-destructive-disabled-color: rgb(178, 174, 189) !default;
/// @group buttons
$bpk-button-destructive-disabled-box-shadow: none !default;
/// @group buttons
$bpk-button-selected-background-color: rgb(0, 178, 214) !default;
/// @group buttons
$bpk-button-selected-background-image: linear-gradient(-180deg, #00b2d6 0%, #009dbd 100%) !default;
/// @group buttons
$bpk-button-selected-hover-background-color: rgb(0, 157, 189) !default;
/// @group buttons
$bpk-button-selected-hover-background-image: none !default;
/// @group buttons
$bpk-button-selected-active-background-color: rgb(0, 140, 168) !default;
/// @group buttons
$bpk-button-selected-active-background-image: none !default;
/// @group buttons
$bpk-button-selected-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-selected-hover-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-selected-active-color: rgb(255, 255, 255) !default;
/// @group buttons
$bpk-button-selected-box-shadow: none !default;
/// @group buttons
$bpk-button-selected-hover-box-shadow: none !default;
/// @group buttons
$bpk-button-selected-active-box-shadow: none !default;
/// @group buttons
$bpk-button-selected-disabled-box-shadow: none !default;
/// @group calendars
$bpk-calendar-padding: .75rem !default;
/// @group calendars
$bpk-calendar-day-spacing: .375rem !default;
/// @group calendars
$bpk-calendar-day-size: 2.250rem !default;
/// @group calendars
$bpk-calendar-day-color: rgb(82, 76, 97) !default;
/// @group calendars
$bpk-calendar-day-background-color: rgb(255, 255, 255) !default;
/// @group calendars
$bpk-calendar-day-selected-color: rgb(255, 255, 255) !default;
/// @group calendars
$bpk-calendar-day-selected-background-color: rgb(0, 178, 214) !default;
/// @group calendars
$bpk-calendar-day-hover-color: rgb(82, 76, 97) !default;
/// @group calendars
$bpk-calendar-day-hover-background-color: rgb(243, 242, 245) !default;
/// @group calendars
$bpk-calendar-day-active-color: rgb(82, 76, 97) !default;
/// @group calendars
$bpk-calendar-day-active-background-color: rgb(230, 228, 235) !default;
/// @group calendars
$bpk-calendar-day-disabled-color: rgb(230, 228, 235) !default;
/// @group calendars
$bpk-calendar-day-disabled-background-color: rgb(255, 255, 255) !default;
/// @group calendars
$bpk-calendar-day-outside-color: rgb(178, 174, 189) !default;
/// @group calendars
$bpk-calendar-day-outside-background-color: rgb(255, 255, 255) !default;
/// @group calendars
$bpk-calendar-nav-icon-fill: rgb(0, 178, 214) !default;
/// @group calendars
$bpk-calendar-nav-icon-hover-fill: rgb(0, 157, 189) !default;
/// @group calendars
$bpk-calendar-nav-icon-active-fill: rgb(0, 140, 168) !default;
/// @group calendars
$bpk-calendar-nav-icon-disabled-fill: rgb(230, 228, 235) !default;
/// @group cards
$bpk-card-background-color: rgb(255, 255, 255) !default;
/// @group cards
$bpk-card-color: rgb(82, 76, 97) !default;
/// @group cards
$bpk-card-padding: .75rem !default;
/// @group colors
$bpk-color-white: rgb(255, 255, 255) !default;
/// @group colors
$bpk-color-blue-50: rgb(225, 244, 248) !default;
/// @group colors
$bpk-color-blue-100: rgb(203, 238, 245) !default;
/// @group colors
$bpk-color-blue-200: rgb(176, 228, 238) !default;
/// @group colors
$bpk-color-blue-300: rgb(127, 215, 232) !default;
/// @group colors
$bpk-color-blue-400: rgb(64, 196, 223) !default;
/// @group colors
$bpk-color-blue-500: rgb(0, 178, 214) !default;
/// @group colors
$bpk-color-blue-600: rgb(0, 157, 189) !default;
/// @group colors
$bpk-color-blue-700: rgb(0, 140, 168) !default;
/// @group colors
$bpk-color-blue-800: rgb(0, 117, 140) !default;
/// @group colors
$bpk-color-blue-900: rgb(0, 85, 103) !default;
/// @group colors
$bpk-color-gray-50: rgb(243, 242, 245) !default;
/// @group colors
$bpk-color-gray-100: rgb(230, 228, 235) !default;
/// @group colors
$bpk-color-gray-200: rgb(204, 201, 212) !default;
/// @group colors
$bpk-color-gray-300: rgb(178, 174, 189) !default;
/// @group colors
$bpk-color-gray-400: rgb(154, 149, 167) !default;
/// @group colors
$bpk-color-gray-500: rgb(129, 123, 143) !default;
/// @group colors
$bpk-color-gray-600: rgb(105, 97, 121) !default;
/// @group colors
$bpk-color-gray-700: rgb(82, 76, 97) !default;
/// @group colors
$bpk-color-gray-800: rgb(59, 52, 75) !default;
/// @group colors
$bpk-color-gray-900: rgb(37, 32, 51) !default;
/// @group colors
$bpk-color-green-50: rgb(223, 247, 236) !default;
/// @group colors
$bpk-color-green-100: rgb(203, 245, 226) !default;
/// @group colors
$bpk-color-green-200: rgb(175, 237, 209) !default;
/// @group colors
$bpk-color-green-300: rgb(128, 232, 185) !default;
/// @group colors
$bpk-color-green-400: rgb(64, 222, 151) !default;
/// @group colors
$bpk-color-green-500: rgb(0, 215, 117) !default;
/// @group colors
$bpk-color-green-600: rgb(0, 189, 104) !default;
/// @group colors
$bpk-color-green-700: rgb(0, 168, 93) !default;
/// @group colors
$bpk-color-green-800: rgb(0, 140, 77) !default;
/// @group colors
$bpk-color-green-900: rgb(0, 102, 56) !default;
/// @group colors
$bpk-color-red-50: rgb(252, 233, 232) !default;
/// @group colors
$bpk-color-red-100: rgb(255, 214, 213) !default;
/// @group colors
$bpk-color-red-200: rgb(255, 187, 186) !default;
/// @group colors
$bpk-color-red-300: rgb(255, 150, 148) !default;
/// @group colors
$bpk-color-red-400: rgb(254, 116, 113) !default;
/// @group colors
$bpk-color-red-500: rgb(255, 84, 82) !default;
/// @group colors
$bpk-color-red-600: rgb(235, 66, 63) !default;
/// @group colors
$bpk-color-red-700: rgb(222, 50, 47) !default;
/// @group colors
$bpk-color-red-800: rgb(204, 31, 29) !default;
/// @group colors
$bpk-color-red-900: rgb(168, 3, 0) !default;
/// @group colors
$bpk-color-yellow-50: rgb(255, 249, 230) !default;
/// @group colors
$bpk-color-yellow-100: rgb(255, 243, 207) !default;
/// @group colors
$bpk-color-yellow-200: rgb(255, 236, 184) !default;
/// @group colors
$bpk-color-yellow-300: rgb(255, 225, 140) !default;
/// @group colors
$bpk-color-yellow-400: rgb(255, 207, 74) !default;
/// @group colors
$bpk-color-yellow-500: rgb(255, 187, 0) !default;
/// @group colors
$bpk-color-yellow-600: rgb(240, 176, 0) !default;
/// @group colors
$bpk-color-yellow-700: rgb(225, 165, 0) !default;
/// @group colors
$bpk-color-yellow-800: rgb(194, 142, 0) !default;
/// @group colors
$bpk-color-yellow-900: rgb(156, 114, 0) !default;
/// @group colors
$bpk-primary-gradient: linear-gradient(135deg, #00b2d6 0%, #02DDD8 100%) !default;
/// @group forms
$bpk-input-height: 2.250rem !default;
/// @group forms
$bpk-input-padding-x: .75rem !default;
/// @group forms
$bpk-input-padding-y: .375rem !default;
/// @group forms
$bpk-input-border-width: .0625rem !default;
/// @group forms
$bpk-input-border: solid .0625rem #E6E4EB !default;
/// @group forms
$bpk-input-border-radius: .1875rem !default;
/// @group forms
$bpk-input-background: #ffffff !default;
/// @group forms
$bpk-input-color: rgb(82, 76, 97) !default;
/// @group forms
$bpk-input-placeholder-color: rgb(129, 123, 143) !default;
/// @group forms
$bpk-input-placeholder-font-style: italic !default;
/// @group forms
$bpk-input-disabled-border-color: rgb(243, 242, 245) !default;
/// @group forms
$bpk-input-disabled-color: rgb(178, 174, 189) !default;
/// @group forms
$bpk-input-invalid-border-color: rgb(255, 84, 82) !default;
/// @group forms
$bpk-input-large-height: 2.625rem + .375rem !default;
/// @group forms
$bpk-select-height: 2.250rem !default;
/// @group forms
$bpk-select-padding-top: .375rem !default;
/// @group forms
$bpk-select-padding-right: 1.5rem !default;
/// @group forms
$bpk-select-padding-bottom: .375rem !default;
/// @group forms
$bpk-select-padding-left: .75rem !default;
/// @group forms
$bpk-select-border-width: .0625rem !default;
/// @group forms
$bpk-select-border: solid .0625rem #E6E4EB !default;
/// @group forms
$bpk-select-border-radius: .1875rem !default;
/// @group forms
$bpk-select-color: rgb(82, 76, 97) !default;
/// @group forms
$bpk-select-disabled-border-color: rgb(243, 242, 245) !default;
/// @group forms
$bpk-select-disabled-color: rgb(178, 174, 189) !default;
/// @group forms
$bpk-select-invalid-border-color: rgb(255, 84, 82) !default;
/// @group forms
$bpk-select-large-height: 2.625rem + .375rem !default;
/// @group forms
$bpk-label-color: rgb(82, 76, 97) !default;
/// @group forms
$bpk-label-font-size: .75rem !default;
/// @group forms
$bpk-label-line-height: 1.125rem !default;
/// @group grids
$bpk-grid-columns: 12 !default;
/// @group grids
$bpk-grid-gutter: 1.5rem !default;
/// @group grids
$bpk-grid-container-padding: 1.5rem !default;
/// @group grids
$bpk-grid-container-mobile-padding: .75rem !default;
/// @group logos
$bpk-logo-cloud-default-height: 2.625rem !default;
/// @group logos
$bpk-logo-inline-default-height: 2.625rem !default;
/// @group logos
$bpk-logo-stacked-default-height: calc(1.5rem * 3) !default;
/// @group logos
$bpk-logo-tianxun-default-height: 2.625rem !default;
/// @group logos
$bpk-logo-tianxun-stacked-default-height: calc(1.5rem * 3) !default;
/// @group modals
$bpk-modal-scrim-background-color: rgb(178, 174, 189) !default;
/// @group modals
$bpk-modal-scrim-initial-opacity: 0 !default;
/// @group modals
$bpk-modal-scrim-opacity: .7 !default;
/// @group modals
$bpk-modal-scrim-mobile-opacity: 1 !default;
/// @group modals
$bpk-modal-background-color: rgb(255, 255, 255) !default;
/// @group modals
$bpk-modal-initial-opacity: 0 !default;
/// @group modals
$bpk-modal-opacity: 1 !default;
/// @group modals
$bpk-modal-max-width: 32.25rem !default;
/// @group modals
$bpk-modal-wide-max-width: 50.25rem !default;
/// @group modals
$bpk-modal-header-padding: .75rem !default;
/// @group modals
$bpk-modal-header-box-shadow: 0 -1px 0 0 #E6E4EB inset !default;
/// @group modals
$bpk-modal-close-icon-fill: rgb(129, 123, 143) !default;
/// @group modals
$bpk-modal-close-icon-hover-fill: rgb(82, 76, 97) !default;
/// @group modals
$bpk-modal-content-padding: .75rem !default;
/// @group notifications
$bpk-banner-alert-background-color: rgb(255, 255, 255) !default;
/// @group notifications
$bpk-banner-alert-success-box-shadow: 0 0 0 1px #00d775 !default;
/// @group notifications
$bpk-banner-alert-warn-box-shadow: 0 0 0 1px #FFBB00 !default;
/// @group notifications
$bpk-banner-alert-error-box-shadow: 0 0 0 1px #ff5452 !default;
/// @group notifications
$bpk-banner-alert-header-padding-y: .375rem !default;
/// @group notifications
$bpk-banner-alert-header-padding-x: .75rem !default;
/// @group notifications
$bpk-banner-alert-header-expandable-hover-background-color: rgb(243, 242, 245) !default;
/// @group notifications
$bpk-banner-alert-header-expandable-active-background-color: rgb(230, 228, 235) !default;
/// @group notifications
$bpk-banner-alert-success-icon-fill: rgb(0, 215, 117) !default;
/// @group notifications
$bpk-banner-alert-warn-icon-fill: rgb(255, 187, 0) !default;
/// @group notifications
$bpk-banner-alert-error-icon-fill: rgb(255, 84, 82) !default;
/// @group notifications
$bpk-banner-alert-expand-icon-fill: rgb(82, 76, 97) !default;
/// @group notifications
$bpk-banner-alert-children-padding-y: .375rem !default;
/// @group notifications
$bpk-banner-alert-children-padding-x: .75rem !default;
/// @group notifications
$bpk-banner-alert-children-color: rgb(129, 123, 143) !default;
/// @group spacings
$bpk-spacing-xs: .375rem !default;
/// @group spacings
$bpk-spacing-sm: .75rem !default;
/// @group spacings
$bpk-spacing-md: 1.125rem !default;
/// @group spacings
$bpk-spacing-base: 1.5rem !default;
/// @group spacings
$bpk-spacing-lg: 1.875rem !default;
/// @group spacings
$bpk-spacing-xl: 2.250rem !default;
/// @group spacings
$bpk-spacing-xxl: 2.625rem !default;
/// @group spacings
$bpk-one-pixel-rem: .0625rem !default;
/// @group typesettings
$bpk-font-family-base: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
/// @group text-colors
$bpk-font-color-base: rgb(82, 76, 97) !default;
/// @group typesettings
$bpk-line-height-sm: 1.125rem !default;
/// @group typesettings
$bpk-line-height-base: 1.5rem !default;
/// @group typesettings
$bpk-line-height-lg: 1.875rem !default;
/// @group typesettings
$bpk-line-height-xl: 2.625rem !default;
/// @group typesettings
$bpk-line-height-xxl: 3.375rem !default;
/// @group typesettings
$bpk-font-size-root: 100% !default;
/// @group typesettings
$bpk-font-size-sm: .75rem !default;
/// @group typesettings
$bpk-font-size-base: 1rem !default;
/// @group typesettings
$bpk-font-size-lg: 1.5rem !default;
/// @group typesettings
$bpk-font-size-xl: 1.75rem !default;
/// @group typesettings
$bpk-font-size-xxl: 2.625rem !default;
/// @group font-sizes
$bpk-h-6-font-size: .75rem !default;
/// @group font-sizes
$bpk-h-5-font-size: .75rem !default;
/// @group font-sizes
$bpk-h-4-font-size: 1rem !default;
/// @group font-sizes
$bpk-h-3-font-size: 1.5rem !default;
/// @group font-sizes
$bpk-h-2-font-size: 1.75rem !default;
/// @group font-sizes
$bpk-h-1-font-size: 2.625rem !default;
/// @group line-heights
$bpk-h-6-line-height: 1.125rem !default;
/// @group line-heights
$bpk-h-5-line-height: 1.125rem !default;
/// @group line-heights
$bpk-h-4-line-height: 1.5rem !default;
/// @group line-heights
$bpk-h-3-line-height: 1.875rem !default;
/// @group line-heights
$bpk-h-2-line-height: 2.625rem !default;
/// @group line-heights
$bpk-h-1-line-height: 3.375rem !default;
/// @group font-weights
$bpk-h-6-font-weight: 400 !default;
/// @group font-weights
$bpk-h-5-font-weight: 400 !default;
/// @group font-weights
$bpk-h-4-font-weight: 400 !default;
/// @group font-weights
$bpk-h-3-font-weight: 400 !default;
/// @group font-weights
$bpk-h-2-font-weight: 400 !default;
/// @group font-weights
$bpk-h-1-font-weight: 400 !default;
/// @group spacings
$bpk-h-6-margin-top: 0 !default;
/// @group spacings
$bpk-h-5-margin-top: 0 !default;
/// @group spacings
$bpk-h-4-margin-top: 0 !default;
/// @group spacings
$bpk-h-3-margin-top: 0 !default;
/// @group spacings
$bpk-h-2-margin-top: 0 !default;
/// @group spacings
$bpk-h-1-margin-top: 0 !default;
/// @group spacings
$bpk-h-6-margin-bottom: .75rem !default;
/// @group spacings
$bpk-h-5-margin-bottom: .75rem !default;
/// @group spacings
$bpk-h-4-margin-bottom: .75rem !default;
/// @group spacings
$bpk-h-3-margin-bottom: .75rem !default;
/// @group spacings
$bpk-h-2-margin-bottom: .75rem !default;
/// @group spacings
$bpk-h-1-margin-bottom: .75rem !default;
/// @group spacings
$bpk-heading-content-margin-top: 1.875rem !default;
/// @group spacings
$bpk-p-margin-top: 0 !default;
/// @group spacings
$bpk-p-margin-bottom: .75rem !default;
/// @group spacings
$bpk-list-margin-top: 0 !default;
/// @group spacings
$bpk-list-margin-bottom: .75rem !default;
/// @group spacings
$bpk-list-nested-margin-top: 0 !default;
/// @group spacings
$bpk-list-nested-margin-bottom: 0 !default;
/// @group spacings
$bpk-list-item-margin-top: 0 !default;
/// @group spacings
$bpk-list-item-margin-bottom: 0 !default;
/// @group text-colors
$bpk-link-color: rgb(0, 178, 214) !default;
/// @group text-decorations
$bpk-link-text-decoration: none !default;
/// @group text-colors
$bpk-link-hover-color: rgb(82, 76, 97) !default;
/// @group text-decorations
$bpk-link-hover-text-decoration: underline !default;
/// @group text-colors
$bpk-link-active-color: rgb(129, 123, 143) !default;
/// @group text-colors
$bpk-link-white-color: rgb(255, 255, 255) !default;
/// @group text-colors
$bpk-link-white-hover-color: rgb(255, 255, 255) !default;
/// @group text-colors
$bpk-link-white-active-color: rgb(230, 228, 235) !default;
/// @group z-indices
$bpk-zindex-autosuggest: 900 !default;
/// @group z-indices
$bpk-zindex-modal-scrim: 1000 !default;
/// @group z-indices
$bpk-zindex-modal: 1100 !default;