/// @group colors
$bpk-color-white: #ffffff;
/// @group colors
$bpk-color-blue-50: #e1f4f8;
/// @group colors
$bpk-color-blue-100: #cbeef5;
/// @group colors
$bpk-color-blue-200: #b0e4ee;
/// @group colors
$bpk-color-blue-300: #7fd7e8;
/// @group colors
$bpk-color-blue-400: #40c4df;
/// @group colors
$bpk-color-blue-500: #00b2d6;
/// @group colors
$bpk-color-blue-600: #009dbd;
/// @group colors
$bpk-color-blue-700: #008ca8;
/// @group colors
$bpk-color-blue-800: #00758c;
/// @group colors
$bpk-color-blue-900: #005567;
/// @group colors
$bpk-color-gray-50: #f6f5f7;
/// @group colors
$bpk-color-gray-100: #dfdce3;
/// @group colors
$bpk-color-gray-200: #b6b1bd;
/// @group colors
$bpk-color-gray-300: #898294;
/// @group colors
$bpk-color-gray-400: #6f667d;
/// @group colors
$bpk-color-gray-500: #544c63;
/// @group colors
$bpk-color-gray-600: #453d54;
/// @group colors
$bpk-color-gray-700: #372f45;
/// @group colors
$bpk-color-gray-800: #272133;
/// @group colors
$bpk-color-gray-900: #1b1524;
/// @group colors
$bpk-color-green-50: #dff7ec;
/// @group colors
$bpk-color-green-100: #cbf5e2;
/// @group colors
$bpk-color-green-200: #afedd1;
/// @group colors
$bpk-color-green-300: #80e8b9;
/// @group colors
$bpk-color-green-400: #40de97;
/// @group colors
$bpk-color-green-500: #00d775;
/// @group colors
$bpk-color-green-600: #00bd68;
/// @group colors
$bpk-color-green-700: #00a85d;
/// @group colors
$bpk-color-green-800: #008c4d;
/// @group colors
$bpk-color-green-900: #006638;
/// @group colors
$bpk-color-red-50: #fce9e8;
/// @group colors
$bpk-color-red-100: #ffd6d5;
/// @group colors
$bpk-color-red-200: #ffbbba;
/// @group colors
$bpk-color-red-300: #ff9694;
/// @group colors
$bpk-color-red-400: #fe7471;
/// @group colors
$bpk-color-red-500: #ff5452;
/// @group colors
$bpk-color-red-600: #eb423f;
/// @group colors
$bpk-color-red-700: #de322f;
/// @group colors
$bpk-color-red-800: #cc1f1d;
/// @group colors
$bpk-color-red-900: #a80300;
/// @group colors
$bpk-color-yellow-50: #faf4e1;
/// @group colors
$bpk-color-yellow-100: #fcf1ca;
/// @group colors
$bpk-color-yellow-200: #ffedb3;
/// @group colors
$bpk-color-yellow-300: #ffe694;
/// @group colors
$bpk-color-yellow-400: #ffde72;
/// @group colors
$bpk-color-yellow-500: #ffd445;
/// @group colors
$bpk-color-yellow-600: #f6c62b;
/// @group colors
$bpk-color-yellow-700: #e8b81c;
/// @group colors
$bpk-color-yellow-800: #cfa211;
/// @group colors
$bpk-color-yellow-900: #a88100;
/// @group spacings
$bpk-spacing-xs: .375rem;
/// @group spacings
$bpk-spacing-sm: .75rem;
/// @group spacings
$bpk-spacing-base: 1.5rem;
/// @group spacings
$bpk-spacing-lg: 2.25rem;
/// @group spacings
$bpk-spacing-xl: 3rem;
/// @group spacings
$bpk-spacing-xxl: 4.5rem;
/// @group fonts
$bpk-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
/// @group text-colors
$bpk-font-color-base: #544c63;
/// @group line-heights
$bpk-line-height-sm: 1.125rem;
/// @group line-heights
$bpk-line-height-base: 1.5rem;
/// @group line-heights
$bpk-line-height-lg: 2.25rem;
/// @group line-heights
$bpk-line-height-xl: 3rem;
/// @group font-sizes
$bpk-font-size-root: 100%;
/// @group font-sizes
$bpk-font-size-sm: .75rem;
/// @group font-sizes
$bpk-font-size-base: 1rem;
/// @group font-sizes
$bpk-font-size-lg: 1.375rem;
/// @group font-sizes
$bpk-font-size-xl: 1.875rem;
/// @group font-sizes
$bpk-font-size-xxl: 2.5rem;
/// @group font-sizes
$bpk-h-6-font-size: 1rem;
/// @group font-sizes
$bpk-h-5-font-size: 1rem;
/// @group font-sizes
$bpk-h-4-font-size: 1rem;
/// @group font-sizes
$bpk-h-3-font-size: 1.375rem;
/// @group font-sizes
$bpk-h-2-font-size: 1.875rem;
/// @group font-sizes
$bpk-h-1-font-size: 2.5rem;
/// @group line-heights
$bpk-h-6-line-height: 1.5rem;
/// @group line-heights
$bpk-h-5-line-height: 1.5rem;
/// @group line-heights
$bpk-h-4-line-height: 1.5rem;
/// @group line-heights
$bpk-h-3-line-height: 2.25rem;
/// @group line-heights
$bpk-h-2-line-height: 3rem;
/// @group line-heights
$bpk-h-1-line-height: 3rem;
/// @group font-weights
$bpk-h-6-font-weight: 400;
/// @group font-weights
$bpk-h-5-font-weight: 400;
/// @group font-weights
$bpk-h-4-font-weight: 400;
/// @group font-weights
$bpk-h-3-font-weight: 400;
/// @group font-weights
$bpk-h-2-font-weight: 400;
/// @group font-weights
$bpk-h-1-font-weight: 400;
/// @group spacings
$bpk-h-6-margin-top: 0;
/// @group spacings
$bpk-h-5-margin-top: 0;
/// @group spacings
$bpk-h-4-margin-top: 0;
/// @group spacings
$bpk-h-3-margin-top: 0;
/// @group spacings
$bpk-h-2-margin-top: 0;
/// @group spacings
$bpk-h-1-margin-top: 0;
/// @group spacings
$bpk-h-6-margin-bottom: 1.5rem;
/// @group spacings
$bpk-h-5-margin-bottom: 1.5rem;
/// @group spacings
$bpk-h-4-margin-bottom: 1.5rem;
/// @group spacings
$bpk-h-3-margin-bottom: 1.5rem;
/// @group spacings
$bpk-h-2-margin-bottom: 1.5rem;
/// @group spacings
$bpk-h-1-margin-bottom: 1.5rem;
/// @group spacings
$bpk-p-margin-top: 0;
/// @group spacings
$bpk-p-margin-bottom: 1.5rem;
/// @group spacings
$bpk-list-margin-top: 0;
/// @group spacings
$bpk-list-margin-bottom: 1.5rem;
/// @group spacings
$bpk-list-nested-margin-top: 0;
/// @group spacings
$bpk-list-nested-margin-bottom: 0;
/// @group spacings
$bpk-list-item-margin-top: 0;
/// @group spacings
$bpk-list-item-margin-bottom: 0;
/// @group radii
$bpk-border-radius-xs: .125rem;
/// @group radii
$bpk-border-radius-sm: .25rem;
/// @group radii
$bpk-border-radius-lg: .5rem;
/// @group radii
$bpk-border-radius-pill: 5rem;
/// @group breakpoints
$bpk-breakpoint-mobile: 31.25rem;
/// @group breakpoints
$bpk-breakpoint-tablet: 48rem;
/// @group breakpoints
$bpk-breakpoint-desktop: 68.125rem;
/// @group breakpoints
$bpk-breakpoint-query-mobile: (max-width: 31.25rem);
/// @group breakpoints
$bpk-breakpoint-query-tablet: (max-width: 48rem);
/// @group breakpoints
$bpk-breakpoint-query-tablet-only: (min-width: 31.25rem + .0625rem) and (max-width: 48rem);
/// @group breakpoints
$bpk-breakpoint-query-above-mobile: (min-width: 31.25rem + .0625rem);
/// @group breakpoints
$bpk-breakpoint-query-above-tablet: (min-width: 48rem + .0625rem);
/// @group buttons
$bpk-button-padding-y: .375rem;
/// @group buttons
$bpk-button-padding-x: .75rem;
/// @group buttons
$bpk-button-border-radius: 5rem;
/// @group buttons
$bpk-button-background-color: #00d775;
/// @group buttons
$bpk-button-hover-background-color: #80e8b9;
/// @group buttons
$bpk-button-active-background-color: #00a85d;
/// @group buttons
$bpk-button-disabled-background-color: #dfdce3;
/// @group buttons
$bpk-button-color: #ffffff;
/// @group buttons
$bpk-button-disabled-color: #898294;
/// @group buttons
$bpk-button-font-size: 1rem;
/// @group buttons
$bpk-button-font-weight: 700;
/// @group buttons
$bpk-button-line-height: 1.5rem;
/// @group buttons
$bpk-button-text-align: center;