/// @group radii
$bpk-border-radius-xs: .1875rem;
/// @group radii
$bpk-border-radius-sm: .375rem;
/// @group radii
$bpk-border-radius-pill: 5rem;
/// @group box-shadows
$bpk-box-shadow-sm: 0px 1px 3px 0px rgba(#252033, .2);
/// @group box-shadows
$bpk-box-shadow-lg: 0px 4px 14px 0px rgba(#252033, .25);
/// @group box-shadows
$bpk-box-shadow-xl: 0px 12px 50px 0px rgba(#252033, .25);
/// @group breakpoints
$bpk-breakpoint-mobile: 32.25rem;
/// @group breakpoints
$bpk-breakpoint-tablet: 50.25rem;
/// @group breakpoints
$bpk-breakpoint-desktop: 71.25rem;
/// @group breakpoints
$bpk-breakpoint-query-mobile: (max-width: 32.25rem);
/// @group breakpoints
$bpk-breakpoint-query-tablet: (max-width: 50.25rem);
/// @group breakpoints
$bpk-breakpoint-query-tablet-only: (min-width: 32.25rem + .0625rem) and (max-width: 50.25rem);
/// @group breakpoints
$bpk-breakpoint-query-above-mobile: (min-width: 32.25rem + .0625rem);
/// @group breakpoints
$bpk-breakpoint-query-above-tablet: (min-width: 50.25rem + .0625rem);
/// @group buttons
$bpk-button-padding-y: .375rem;
/// @group buttons
$bpk-button-padding-x: 1.125rem;
/// @group buttons
$bpk-button-border-radius: 5rem;
/// @group buttons
$bpk-button-background-color: rgb(0, 215, 117);
/// @group buttons
$bpk-button-background-image: linear-gradient(-180deg, #00d775 0%, #00bd68 100%);
/// @group buttons
$bpk-button-hover-background-color: rgb(0, 215, 117);
/// @group buttons
$bpk-button-hover-background-image: none;
/// @group buttons
$bpk-button-active-background-color: rgb(0, 189, 104);
/// @group buttons
$bpk-button-active-background-image: none;
/// @group buttons
$bpk-button-disabled-background-color: rgb(230, 228, 235);
/// @group buttons
$bpk-button-disabled-background-image: none;
/// @group buttons
$bpk-button-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-hover-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-active-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-box-shadow: none;
/// @group buttons
$bpk-button-hover-box-shadow: none;
/// @group buttons
$bpk-button-active-box-shadow: none;
/// @group buttons
$bpk-button-disabled-box-shadow: none;
/// @group buttons
$bpk-button-disabled-color: rgb(178, 174, 189);
/// @group buttons
$bpk-button-font-size: 1rem;
/// @group buttons
$bpk-button-font-weight: 700;
/// @group buttons
$bpk-button-line-height: 1.5rem;
/// @group buttons
$bpk-button-text-align: center;
/// @group buttons
$bpk-button-large-padding-y: .375rem;
/// @group buttons
$bpk-button-large-padding-x: 1.5rem;
/// @group buttons
$bpk-button-large-font-size: 1.5rem;
/// @group buttons
$bpk-button-large-line-height: 1.875rem;
/// @group buttons
$bpk-button-secondary-background-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-secondary-background-image: none;
/// @group buttons
$bpk-button-secondary-hover-background-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-secondary-hover-background-image: none;
/// @group buttons
$bpk-button-secondary-active-background-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-secondary-active-background-image: none;
/// @group buttons
$bpk-button-secondary-disabled-background-color: rgb(230, 228, 235);
/// @group buttons
$bpk-button-secondary-disabled-background-image: none;
/// @group buttons
$bpk-button-secondary-color: rgb(0, 178, 214);
/// @group buttons
$bpk-button-secondary-hover-color: rgb(0, 178, 214);
/// @group buttons
$bpk-button-secondary-active-color: rgb(0, 178, 214);
/// @group buttons
$bpk-button-secondary-disabled-color: rgb(178, 174, 189);
/// @group buttons
$bpk-button-secondary-box-shadow: 0 0 0 2px #E6E4EB inset;
/// @group buttons
$bpk-button-secondary-hover-box-shadow: 0 0 0 2px #00b2d6 inset;
/// @group buttons
$bpk-button-secondary-active-box-shadow: 0 0 0 3px #00b2d6 inset;
/// @group buttons
$bpk-button-secondary-disabled-box-shadow: none;
/// @group buttons
$bpk-button-selected-background-color: rgb(0, 178, 214);
/// @group buttons
$bpk-button-selected-background-image: linear-gradient(-180deg, #00b2d6 0%, #009dbd 100%);
/// @group buttons
$bpk-button-selected-hover-background-color: rgb(0, 178, 214);
/// @group buttons
$bpk-button-selected-hover-background-image: none;
/// @group buttons
$bpk-button-selected-active-background-color: rgb(0, 157, 189);
/// @group buttons
$bpk-button-selected-active-background-image: none;
/// @group buttons
$bpk-button-selected-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-selected-hover-color: rgb(255, 255, 255);
/// @group buttons
$bpk-button-selected-box-shadow: none;
/// @group buttons
$bpk-button-selected-hover-box-shadow: none;
/// @group buttons
$bpk-button-selected-disabled-box-shadow: none;
/// @group colors
$bpk-color-white: rgb(255, 255, 255);
/// @group colors
$bpk-color-blue-50: rgb(225, 244, 248);
/// @group colors
$bpk-color-blue-100: rgb(203, 238, 245);
/// @group colors
$bpk-color-blue-200: rgb(176, 228, 238);
/// @group colors
$bpk-color-blue-300: rgb(127, 215, 232);
/// @group colors
$bpk-color-blue-400: rgb(64, 196, 223);
/// @group colors
$bpk-color-blue-500: rgb(0, 178, 214);
/// @group colors
$bpk-color-blue-600: rgb(0, 157, 189);
/// @group colors
$bpk-color-blue-700: rgb(0, 140, 168);
/// @group colors
$bpk-color-blue-800: rgb(0, 117, 140);
/// @group colors
$bpk-color-blue-900: rgb(0, 85, 103);
/// @group colors
$bpk-color-gray-50: rgb(243, 242, 245);
/// @group colors
$bpk-color-gray-100: rgb(230, 228, 235);
/// @group colors
$bpk-color-gray-200: rgb(204, 201, 212);
/// @group colors
$bpk-color-gray-300: rgb(178, 174, 189);
/// @group colors
$bpk-color-gray-400: rgb(154, 149, 167);
/// @group colors
$bpk-color-gray-500: rgb(129, 123, 143);
/// @group colors
$bpk-color-gray-600: rgb(105, 97, 121);
/// @group colors
$bpk-color-gray-700: rgb(82, 76, 97);
/// @group colors
$bpk-color-gray-800: rgb(59, 52, 75);
/// @group colors
$bpk-color-gray-900: rgb(37, 32, 51);
/// @group colors
$bpk-color-green-50: rgb(223, 247, 236);
/// @group colors
$bpk-color-green-100: rgb(203, 245, 226);
/// @group colors
$bpk-color-green-200: rgb(175, 237, 209);
/// @group colors
$bpk-color-green-300: rgb(128, 232, 185);
/// @group colors
$bpk-color-green-400: rgb(64, 222, 151);
/// @group colors
$bpk-color-green-500: rgb(0, 215, 117);
/// @group colors
$bpk-color-green-600: rgb(0, 189, 104);
/// @group colors
$bpk-color-green-700: rgb(0, 168, 93);
/// @group colors
$bpk-color-green-800: rgb(0, 140, 77);
/// @group colors
$bpk-color-green-900: rgb(0, 102, 56);
/// @group colors
$bpk-color-red-50: rgb(252, 233, 232);
/// @group colors
$bpk-color-red-100: rgb(255, 214, 213);
/// @group colors
$bpk-color-red-200: rgb(255, 187, 186);
/// @group colors
$bpk-color-red-300: rgb(255, 150, 148);
/// @group colors
$bpk-color-red-400: rgb(254, 116, 113);
/// @group colors
$bpk-color-red-500: rgb(255, 84, 82);
/// @group colors
$bpk-color-red-600: rgb(235, 66, 63);
/// @group colors
$bpk-color-red-700: rgb(222, 50, 47);
/// @group colors
$bpk-color-red-800: rgb(204, 31, 29);
/// @group colors
$bpk-color-red-900: rgb(168, 3, 0);
/// @group colors
$bpk-color-yellow-50: rgb(250, 244, 225);
/// @group colors
$bpk-color-yellow-100: rgb(252, 241, 202);
/// @group colors
$bpk-color-yellow-200: rgb(255, 237, 179);
/// @group colors
$bpk-color-yellow-300: rgb(255, 230, 148);
/// @group colors
$bpk-color-yellow-400: rgb(255, 222, 114);
/// @group colors
$bpk-color-yellow-500: rgb(255, 212, 69);
/// @group colors
$bpk-color-yellow-600: rgb(246, 198, 43);
/// @group colors
$bpk-color-yellow-700: rgb(232, 184, 28);
/// @group colors
$bpk-color-yellow-800: rgb(207, 162, 17);
/// @group colors
$bpk-color-yellow-900: rgb(168, 129, 0);
/// @group colors
$bpk-primary-gradient: linear-gradient(135deg, #00b2d6 0%, #02DDD8 100%);
/// @group forms
$bpk-input-height: 2.250rem;
/// @group forms
$bpk-input-padding-x: .375rem;
/// @group forms
$bpk-input-padding-y: .75rem;
/// @group forms
$bpk-input-border: solid .0625rem #E6E4EB;
/// @group forms
$bpk-input-border-radius: .1875rem;
/// @group forms
$bpk-input-background: #ffffff;
/// @group forms
$bpk-input-color: rgb(82, 76, 97);
/// @group forms
$bpk-input-placeholder-color: rgb(129, 123, 143);
/// @group forms
$bpk-input-placeholder-font-style: italic;
/// @group forms
$bpk-input-disabled-border-color: rgb(243, 242, 245);
/// @group forms
$bpk-input-disabled-color: rgb(178, 174, 189);
/// @group forms
$bpk-input-invalid-border-color: rgb(255, 84, 82);
/// @group forms
$bpk-select-height: 2.250rem;
/// @group forms
$bpk-select-padding-top: .375rem;
/// @group forms
$bpk-select-padding-right: 1.5rem;
/// @group forms
$bpk-select-padding-bottom: .375rem;
/// @group forms
$bpk-select-padding-left: .75rem;
/// @group forms
$bpk-select-border: solid .0625rem #E6E4EB;
/// @group forms
$bpk-select-border-radius: .1875rem;
/// @group forms
$bpk-select-color: rgb(82, 76, 97);
/// @group forms
$bpk-select-disabled-border-color: rgb(243, 242, 245);
/// @group forms
$bpk-select-disabled-color: rgb(178, 174, 189);
/// @group forms
$bpk-select-invalid-border-color: rgb(255, 84, 82);
/// @group forms
$bpk-label-color: rgb(178, 174, 189);
/// @group forms
$bpk-label-font-size: .75rem;
/// @group forms
$bpk-label-line-height: 1.125rem;
/// @group grids
$bpk-grid-columns: 12;
/// @group grids
$bpk-grid-gutter: 1.5rem;
/// @group grids
$bpk-grid-container-padding: 1.5rem;
/// @group grids
$bpk-grid-container-mobile-padding: .75rem;
/// @group logos
$bpk-logo-cloud-default-height: 2.625rem;
/// @group logos
$bpk-logo-inline-default-height: 2.625rem;
/// @group logos
$bpk-logo-stacked-default-height: calc(1.5rem * 3);
/// @group logos
$bpk-logo-tianxun-default-height: 2.625rem;
/// @group logos
$bpk-logo-tianxun-stacked-default-height: calc(1.5rem * 3);
/// @group spacings
$bpk-spacing-xs: .375rem;
/// @group spacings
$bpk-spacing-sm: .75rem;
/// @group spacings
$bpk-spacing-md: 1.125rem;
/// @group spacings
$bpk-spacing-base: 1.5rem;
/// @group spacings
$bpk-spacing-lg: 1.875rem;
/// @group spacings
$bpk-spacing-xl: 2.250rem;
/// @group spacings
$bpk-spacing-xxl: 2.625rem;
/// @group spacings
$bpk-one-pixel-rem: .0625rem;
/// @group typesettings
$bpk-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
/// @group text-colors
$bpk-font-color-base: rgb(82, 76, 97);
/// @group typesettings
$bpk-line-height-sm: 1.125rem;
/// @group typesettings
$bpk-line-height-base: 1.5rem;
/// @group typesettings
$bpk-line-height-lg: 1.875rem;
/// @group typesettings
$bpk-line-height-xl: 2.625rem;
/// @group typesettings
$bpk-line-height-xxl: 3.375rem;
/// @group typesettings
$bpk-font-size-root: 100%;
/// @group typesettings
$bpk-font-size-sm: .75rem;
/// @group typesettings
$bpk-font-size-base: 1rem;
/// @group typesettings
$bpk-font-size-lg: 1.5rem;
/// @group typesettings
$bpk-font-size-xl: 1.75rem;
/// @group typesettings
$bpk-font-size-xxl: 2.625rem;
/// @group font-sizes
$bpk-h-6-font-size: .75rem;
/// @group font-sizes
$bpk-h-5-font-size: .75rem;
/// @group font-sizes
$bpk-h-4-font-size: 1rem;
/// @group font-sizes
$bpk-h-3-font-size: 1.5rem;
/// @group font-sizes
$bpk-h-2-font-size: 1.75rem;
/// @group font-sizes
$bpk-h-1-font-size: 2.625rem;
/// @group line-heights
$bpk-h-6-line-height: 1.125rem;
/// @group line-heights
$bpk-h-5-line-height: 1.125rem;
/// @group line-heights
$bpk-h-4-line-height: 1.5rem;
/// @group line-heights
$bpk-h-3-line-height: 1.875rem;
/// @group line-heights
$bpk-h-2-line-height: 2.625rem;
/// @group line-heights
$bpk-h-1-line-height: 3.375rem;
/// @group font-weights
$bpk-h-6-font-weight: 400;
/// @group font-weights
$bpk-h-5-font-weight: 400;
/// @group font-weights
$bpk-h-4-font-weight: 400;
/// @group font-weights
$bpk-h-3-font-weight: 400;
/// @group font-weights
$bpk-h-2-font-weight: 400;
/// @group font-weights
$bpk-h-1-font-weight: 400;
/// @group spacings
$bpk-h-6-margin-top: 0;
/// @group spacings
$bpk-h-5-margin-top: 0;
/// @group spacings
$bpk-h-4-margin-top: 0;
/// @group spacings
$bpk-h-3-margin-top: 0;
/// @group spacings
$bpk-h-2-margin-top: 0;
/// @group spacings
$bpk-h-1-margin-top: 0;
/// @group spacings
$bpk-h-6-margin-bottom: .75rem;
/// @group spacings
$bpk-h-5-margin-bottom: .75rem;
/// @group spacings
$bpk-h-4-margin-bottom: .75rem;
/// @group spacings
$bpk-h-3-margin-bottom: .75rem;
/// @group spacings
$bpk-h-2-margin-bottom: .75rem;
/// @group spacings
$bpk-h-1-margin-bottom: .75rem;
/// @group spacings
$bpk-heading-content-margin-top: 1.875rem;
/// @group spacings
$bpk-p-margin-top: 0;
/// @group spacings
$bpk-p-margin-bottom: .75rem;
/// @group spacings
$bpk-list-margin-top: 0;
/// @group spacings
$bpk-list-margin-bottom: .75rem;
/// @group spacings
$bpk-list-nested-margin-top: 0;
/// @group spacings
$bpk-list-nested-margin-bottom: 0;
/// @group spacings
$bpk-list-item-margin-top: 0;
/// @group spacings
$bpk-list-item-margin-bottom: 0;
/// @group text-colors
$bpk-link-color: rgb(0, 178, 214);
/// @group text-decorations
$bpk-link-text-decoration: none;
/// @group text-colors
$bpk-link-hover-color: rgb(82, 76, 97);
/// @group text-decorations
$bpk-link-hover-text-decoration: underline;
/// @group text-colors
$bpk-link-active-color: rgb(129, 123, 143);