/// @group buttons
$bpk-button-padding-y: 8px !default;
/// @group buttons
$bpk-button-padding-x: 24px !default;
/// @group buttons
$bpk-button-border-radius: 3px !default;
/// @group buttons
$bpk-button-background-color: #34363d !default;
/// @group buttons
$bpk-button-hover-background-color: #4d5059 !default;
/// @group buttons
$bpk-button-active-background-color: #4d5059 !default;
/// @group buttons
$bpk-button-disabled-background-color: #4d5059 !default;
/// @group buttons
$bpk-button-color: #00ddee !default;
/// @group buttons
$bpk-button-disabled-color: #000000 !default;
/// @group buttons
$bpk-button-font-size: .875rem !default;
/// @group buttons
$bpk-button-font-weight: normal !default;
/// @group buttons
$bpk-button-line-height: 1.125em !default;
/// @group buttons
$bpk-button-text-align: center !default;