/// @group buttons
$bpk-button-padding-y: 8px;
/// @group buttons
$bpk-button-padding-x: 24px;
/// @group buttons
$bpk-button-border-radius: 3px;
/// @group buttons
$bpk-button-background-color: #34363d;
/// @group buttons
$bpk-button-hover-background-color: #4d5059;
/// @group buttons
$bpk-button-active-background-color: #4d5059;
/// @group buttons
$bpk-button-disabled-background-color: #4d5059;
/// @group buttons
$bpk-button-color: #00ddee;
/// @group buttons
$bpk-button-disabled-color: #000000;
/// @group buttons
$bpk-button-font-size: .875rem;
/// @group buttons
$bpk-button-font-weight: normal;
/// @group buttons
$bpk-button-line-height: 1.125em;
/// @group buttons
$bpk-button-text-align: center;