/// @group buttons
$bpk-button-padding-y: 8px !default;
/// @group buttons
$bpk-button-padding-x: 24px !default;
/// @group buttons
$bpk-button-border-radius: 3px !default;
/// @group buttons
$bpk-button-background-color: rgb(52, 54, 61) !default;
/// @group buttons
$bpk-button-background-image: none !default;
/// @group buttons
$bpk-button-hover-background-color: rgb(0, 0, 0) !default;
/// @group buttons
$bpk-button-hover-background-image: none !default;
/// @group buttons
$bpk-button-active-background-color: rgb(0, 0, 0) !default;
/// @group buttons
$bpk-button-active-background-image: none !default;
/// @group buttons
$bpk-button-disabled-background-color: rgb(0, 0, 0) !default;
/// @group buttons
$bpk-button-disabled-background-image: none !default;
/// @group buttons
$bpk-button-color: rgb(0, 0, 0) !default;
/// @group buttons
$bpk-button-disabled-color: rgb(0, 0, 0) !default;
/// @group buttons
$bpk-button-font-size: .875rem !default;
/// @group buttons
$bpk-button-font-weight: normal !default;
/// @group buttons
$bpk-button-line-height: 1.125em !default;
/// @group buttons
$bpk-button-text-align: center !default;
/// @group text-colors
$bpk-link-color: rgb(0, 187, 204) !default;
/// @group text-decorations
$bpk-link-text-decoration: none !default;
/// @group text-colors
$bpk-link-hover-color: rgb(52, 54, 61) !default;
/// @group text-decorations
$bpk-link-hover-text-decoration: underline !default;
/// @group text-colors
$bpk-link-active-color: rgb(77, 80, 89) !default;
/// @group text-colors
$bpk-link-white-color: rgb(255, 255, 255) !default;
/// @group text-colors
$bpk-link-white-hover-color: rgb(255, 255, 255) !default;
/// @group text-colors
$bpk-link-white-active-color: rgb(247, 247, 247) !default;