@import '~bpk-mixins/index';

$shadow-bottom: 0 1px 0 0 $bpk-color-gray-100; /* stylelint-disable-line unit-blacklist */
$shadow-left: -1px 0 0 0 $bpk-color-gray-100; /* stylelint-disable-line unit-blacklist */
$shadow-right: 1px 0 0 0 $bpk-color-gray-100; /* stylelint-disable-line unit-blacklist */
$calendar-width: 7 * ($bpk-calendar-day-size + $bpk-calendar-day-spacing);
$calendar-height: 6 * ($bpk-calendar-day-size + $bpk-calendar-day-spacing);
