@import '~bpk-mixins/index';

.bpk-calendar-grid {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;

  &__header {
    font-size: $bpk-font-size-sm;
    line-height: $bpk-line-height-sm;
    text-align: center;
    box-shadow: 0 1px 0 0 $bpk-color-gray-100;
  }

  &__header-weekday {
    padding: $bpk-spacing-xs;
    font-weight: bold;
  }

  &__date {
    width: $bpk-calendar-day-size;
    height: $bpk-calendar-day-size;
    box-sizing: content-box;
    padding: $bpk-calendar-day-spacing ($bpk-calendar-day-spacing / 2) 0 ($bpk-calendar-day-spacing / 2);
    vertical-align: middle;

    &--weekend-start {
      box-shadow: -1px 0 0 0 $bpk-color-gray-100;

      @include bpk-rtl {
        box-shadow: 1px 0 0 0 $bpk-color-gray-100;
      }
    }

    &--weekend-end:not(:last-child) {
      box-shadow: 1px 0 0 0 $bpk-color-gray-100;

      @include bpk-rtl {
        box-shadow: -1px 0 0 0 $bpk-color-gray-100;
      }
    }
  }
}

.bpk-calendar-date {
  width: 100%;
  height: 100%;
  border-radius: $bpk-border-radius-pill;
  background-color: $bpk-calendar-day-background-color;
  color: $bpk-calendar-day-color;
  font-size: $bpk-font-size-base;
  line-height: $bpk-calendar-day-size;
  text-align: center;
  cursor: pointer;

  @include bpk-hover {
    background-color: $bpk-calendar-day-hover-background-color;
    color: $bpk-calendar-day-hover-color;
  }

  &:active {
    background-color: $bpk-calendar-day-active-background-color;
    color: $bpk-calendar-day-active-color;
  }

  &--disabled { // TODO: make :disabled as part of BPK-374
    background-color: $bpk-calendar-day-disabled-background-color;
    color: $bpk-calendar-day-disabled-color;
    cursor: not-allowed;

    @include bpk-hover {
      background-color: $bpk-calendar-day-disabled-background-color;
      color: $bpk-calendar-day-disabled-color;
    }

    &:active {
      background-color: $bpk-calendar-day-disabled-background-color;
      color: $bpk-calendar-day-disabled-color;
    }
  }

  &--today {
    font-weight: bold;
  }

  &--selected {
    background-color: $bpk-calendar-day-selected-background-color;
    color: $bpk-calendar-day-selected-color;
    box-shadow: 0 0 0 2px $bpk-calendar-day-selected-border-color inset;
  }
}

.bpk-calendar-nav {
  display: table;

  &__month {
    display: table-cell;
    width: ($bpk-calendar-day-size * 5) + ($bpk-calendar-day-spacing * 5);
    text-align: center;
  }

  &__nudger {
    display: table-cell;
    width: $bpk-calendar-day-size + $bpk-calendar-day-spacing;
    box-sizing: border-box;
    padding: 0 ($bpk-calendar-day-spacing / 2);
    text-align: center;
    vertical-align: middle;
  }

  &__button {
    height: $bpk-select-height;
    padding: $bpk-select-padding-top 0 $bpk-select-padding-bottom 0;
    appearance: none;
    border: none;
    background: none;
    line-height: 100%;
    cursor: pointer;

    .bpk-calendar-nav__icon {
      fill: $bpk-calendar-nav-icon-fill;

      @include bpk-icon--rtl-support();
    }

    @include bpk-hover {
      .bpk-calendar-nav__icon {
        fill: $bpk-calendar-nav-icon-hover-fill;
      }
    }

    &:active .bpk-calendar-nav__icon {
      fill: $bpk-calendar-nav-icon-active-fill;
    }

    &:disabled {
      cursor: not-allowed;

      .bpk-calendar-nav__icon {
        fill: $bpk-calendar-nav-icon-disabled-fill;
      }
    }
  }
}

.bpk-calendar {
  @include bpk-border-radius-sm();
}
