@import '~bpk-mixins/index';
@import 'variables';

.bpk-calendar-header {
  display: table;
  width: 100%;
  table-layout: fixed;

  &--table-head {
    display: none;
  }

  &__week {
    display: table-row;
    font-size: $bpk-font-size-sm;
    line-height: $bpk-line-height-sm;
    list-style: none;
    text-align: center;
  }

  &__weekday {
    display: table-cell;
    height: $bpk-calendar-day-size;
    padding: 0 ($bpk-calendar-day-spacing / 2) 0 ($bpk-calendar-day-spacing / 2);
    font-weight: normal;
    box-shadow: $shadow-bottom;
    vertical-align: middle;
    box-sizing: content-box;

    &--weekend {
      font-weight: bold;
    }

    &--weekend-start {
      box-shadow: $shadow-bottom, $shadow-left;

      @include bpk-rtl {
        box-shadow: $shadow-bottom, $shadow-right;
      }
    }

    &--weekend-end:not(:last-child) {
      box-shadow: $shadow-bottom, $shadow-right;

      @include bpk-rtl {
        box-shadow: $shadow-bottom, $shadow-left;
      }
    }
  }
}
