@use '../../unstable__bpk-mixins/tokens';
@use '../../unstable__bpk-mixins/utils';

.bpk-calendar-week {
  display: flex;
  padding-top: tokens.bpk-spacing-lg();

  &__date {
    width: 100%;
    text-align: center;

    &--start {
      background-image: linear-gradient(
        to right,
        tokens.$bpk-surface-default-day 50%,
        tokens.$bpk-surface-subtle-day 50%
      );

      @include utils.bpk-rtl {
        background-image: linear-gradient(
          to left,
          tokens.$bpk-surface-default-day 50%,
          tokens.$bpk-surface-subtle-day 50%
        );
      }
    }

    &--middle {
      background-color: tokens.$bpk-surface-subtle-day;
    }

    &--end {
      background-image: linear-gradient(
        to left,
        tokens.$bpk-surface-default-day 50%,
        tokens.$bpk-surface-subtle-day 50%
      );

      @include utils.bpk-rtl {
        background-image: linear-gradient(
          to right,
          tokens.$bpk-surface-default-day 50%,
          tokens.$bpk-surface-subtle-day 50%
        );
      }
    }
  }
}
