@import '~bpk-mixins/index';

.bpkdocs-presentation-block {
  margin-top: 0;
  margin-bottom: $bpk-spacing-base;
  border-radius: $bpk-border-radius-sm;
  box-shadow: 0 0 0 1px $bpk-color-gray-100;

  &__container {
    padding: $bpk-spacing-base;
  }

  &__sassdoc {
    padding: 0 $bpk-spacing-base $bpk-spacing-base;
  }
}
