@import "~bpk-mixins";

.bpk-popover {
  transition: opacity $bpk-duration-sm ease-in-out;
  outline: 0;
  opacity: 1;

  @include bpk-breakpoint-above-mobile {
    max-width: $bpk-breakpoint-mobile;
    transition: opacity $bpk-duration-xs ease-in-out;
  }

  &--appear {
    opacity: 0;
  }

  &--appear-active {
    opacity: 1;
  }

  .bpk-popover-tether-element-attached-top & {
    padding-top: $bpk-spacing-sm;
  }

  .bpk-popover-tether-element-attached-right & {
    margin-left: -$bpk-spacing-sm;
    padding-right: $bpk-spacing-sm;
  }

  .bpk-popover-tether-element-attached-bottom & {
    padding-bottom: $bpk-spacing-sm;
  }

  .bpk-popover-tether-element-attached-left & {
    padding-left: $bpk-spacing-sm;
  }

  &__arrow {
    position: absolute;
    display: block;
    border: solid $bpk-spacing-sm transparent;
    pointer-events: none;

    .bpk-popover-tether-element-attached-top & {
      top: -$bpk-spacing-sm;
      left: 50%;
      margin-left: -$bpk-spacing-sm;
      border-bottom-color: $bpk-color-white;
    }

    .bpk-popover-tether-element-attached-right & {
      top: 50%;
      right: -$bpk-spacing-sm;
      margin-top: -$bpk-spacing-sm;
      border-left-color: $bpk-color-white;
    }

    .bpk-popover-tether-element-attached-bottom & {
      bottom: -$bpk-spacing-sm;
      left: 50%;
      margin-left: -$bpk-spacing-sm;
      border-top-color: $bpk-color-white;
    }

    .bpk-popover-tether-element-attached-left & {
      top: 50%;
      left: -$bpk-spacing-sm;
      margin-top: -$bpk-spacing-sm;
      border-right-color: $bpk-color-white;
    }
  }

  &__inner {
    background-color: $bpk-color-white;

    @include bpk-border-radius-sm;
    @include bpk-box-shadow-xl;
  }

  &__body {
    &--padded {
      padding: $bpk-spacing-sm;
    }
  }

  &__header {
    display: flex;
    padding: $bpk-modal-header-padding;
    box-shadow: $bpk-modal-header-box-shadow;
    justify-content: space-between;
  }

  &__label {
    @include bpk-visually-hidden;
  }

  &__close-button {
    float: right;

    @include bpk-rtl {
      float: left;
    }
  }

  &__footer {
    padding: $bpk-spacing-xs $bpk-spacing-sm;
    text-align: right;
    box-shadow: 0 1px 0 0 $bpk-color-gray-100 inset;

    @include bpk-rtl {
      text-align: left;
    }

    @include bpk-text-sm;
  }
}
