@keyframes ls-spin {
  100% {
    transform: rotate(1turn); } }

body {
  margin: 0;
  font-family: "Arial", serif; }

.th-header {
  width: 100%;
  padding: 24px;
  background-color: #21c4d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }
  .th-header svg {
    width: 200px; }
  .th-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .th-header ul li {
      display: inline-block; }
      .th-header ul li:not(:last-child) {
        margin-right: 20px; }
      .th-header ul li a {
        text-decoration: none;
        color: #fff; }
        .th-header ul li a:hover, .th-header ul li a.selected {
          border-bottom: 3px solid #ffec8d;
          padding-bottom: 33px;
          color: #ffe159;
          font-weight: bold; }

.th-section {
  padding: 24px;
  max-width: 1048px;
  margin: 0 auto; }
  .th-section.dark {
    background-color: #454750;
    border-radius: 6px; }
  .th-section h2 {
    margin: 0 0 16px 0;
    font-size: 16px;
    color: #80828b;
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d9dd; }
    .th-section h2.dark {
      color: #b3b6bc;
      border-bottom-color: #80828b; }
  .th-section h3 {
    font-size: 13px;
    color: #80828b;
    display: block;
    margin: 0 0 4px; }
    .th-section h3.dark {
      color: #b3b6bc; }
  .th-section h4 {
    font-size: 13px;
    font-weight: normal;
    color: #80828b;
    display: block;
    margin: 0 0 4px; }
    .th-section h4.dark {
      color: #b3b6bc; }
  .th-section p {
    font-size: 13px;
    margin: 6px 0;
    line-height: 16px; }
  .th-section .usage {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0; }
    .th-section .usage li {
      margin-bottom: 24px; }
  .th-section code {
    color: #80828b;
    padding: 12px;
    background-color: #e8ebed;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 13px; }
    .th-section code.import {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 3px; }
  .th-section.notes {
    background-color: #fff8cc;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #ffec8d;
    box-sizing: border-box;
    color: #454750;
    margin-bottom: 24px; }
    .th-section.notes h2, .th-section.notes h3, .th-section.notes h4 {
      color: #f8a811; }
    .th-section.notes h2 {
      border-bottom-color: #ffe159; }
    .th-section.notes h3 {
      margin-top: 24px; }
    .th-section.notes p:last-of-type {
      margin-bottom: 0; }

.forms ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .forms ul li {
    margin-bottom: 20px; }

.forms label {
  font-size: 13px;
  color: #80828b; }
  .forms label.dark {
    font-size: 13px;
    color: #b3b6bc; }

.forms input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: 6px;
  min-height: 36px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #c4c7cc; }
  .forms input[type="text"]::-webkit-input-placeholder {
    font-style: italic;
    color: #b3b6bc; }
  .forms input[type="text"].dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    padding: 6px;
    min-height: 36px;
    font-size: 16px;
    border-radius: 2px;
    border: none; }
    .forms input[type="text"].dark::-webkit-input-placeholder {
      font-style: italic;
      color: #b3b6bc; }

.forms input[type="radio"] {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2015c3.866%200%207-3.134%207-7s-3.134-7-7-7-7%203.134-7%207%203.134%207%207%207zm0%201c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%20fill%3D%22%23C4C7CC%22%2F%3E%3C%2Fsvg%3E") no-repeat; }
  .forms input[type="radio"]:checked {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M8%2015c3.866%200%207-3.134%207-7s-3.134-7-7-7-7%203.134-7%207%203.134%207%207%207z%22%20id%3D%22Shape%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M8%2015c3.866%200%207-3.134%207-7s-3.134-7-7-7-7%203.134-7%207%203.134%207%207%207zm0%201c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%20fill%3D%22%23C4C7CC%22%2F%3E%3Ccircle%20fill%3D%22%2310ACC9%22%20cx%3D%227.974%22%20cy%3D%228.026%22%20r%3D%223.796%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat; }
  .forms input[type="radio"].dark {
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2016c4.418%200%208-3.582%208-8s-3.582-8-8-8-8%203.582-8%208%203.582%208%208%208z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") no-repeat; }
    .forms input[type="radio"].dark:checked {
      background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M8%2016c4.418%200%208-3.582%208-8s-3.582-8-8-8-8%203.582-8%208%203.582%208%208%208z%22%20fill%3D%22%23fff%22%2F%3E%3Ccircle%20fill%3D%22%2310ACC9%22%20cx%3D%227.974%22%20cy%3D%228.026%22%20r%3D%223.796%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat; }

.forms input[type="checkbox"] {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Crect%20fill%3D%22%23fff%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%222%22%2F%3E%3Cpath%20d%3D%22M1%201.994v12.012c0%20.548.446.994.994.994h12.012c.548%200%20.994-.446.994-.994v-12.012c0-.548-.446-.994-.994-.994h-12.012c-.548%200-.994.446-.994.994zm-1%200c0-1.101.895-1.994%201.994-1.994h12.012c1.101%200%201.994.895%201.994%201.994v12.012c0%201.101-.895%201.994-1.994%201.994h-12.012c-1.101%200-1.994-.895-1.994-1.994v-12.012z%22%20fill%3D%22%23C4C7CC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat; }
  .forms input[type="checkbox"]:checked {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Crect%20fill%3D%22%23fff%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%222%22%2F%3E%3Cpath%20d%3D%22M1%201.994v12.012c0%20.548.446.994.994.994h12.012c.548%200%20.994-.446.994-.994v-12.012c0-.548-.446-.994-.994-.994h-12.012c-.548%200-.994.446-.994.994zm-1%200c0-1.101.895-1.994%201.994-1.994h12.012c1.101%200%201.994.895%201.994%201.994v12.012c0%201.101-.895%201.994-1.994%201.994h-12.012c-1.101%200-1.994-.895-1.994-1.994v-12.012z%22%20fill%3D%22%23C4C7CC%22%2F%3E%3Cpath%20d%3D%22M6.471%2012c-.284%200-.498-.068-.711-.274l-2.56-2.123c-.213-.205-.284-.548-.071-.753l.782-.822c.142-.205.498-.205.782-.068l1.564%201.233c.071.068.213.068.356%200l4.551-5c.213-.205.569-.274.782-.068l.853.753c.213.205.284.548.071.753l-5.476%205.958c-.284.342-.569.411-.924.411h.001z%22%20fill%3D%22%2310ACC9%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat; }
  .forms input[type="checkbox"].dark {
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%222%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") no-repeat; }
    .forms input[type="checkbox"].dark:checked {
      background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Crect%20fill%3D%22%23fff%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%222%22%2F%3E%3Cpath%20d%3D%22M6.471%2012c-.284%200-.498-.068-.711-.274l-2.56-2.123c-.213-.205-.284-.548-.071-.753l.782-.822c.142-.205.498-.205.782-.068l1.564%201.233c.071.068.213.068.356%200l4.551-5c.213-.205.569-.274.782-.068l.853.753c.213.205.284.548.071.753l-5.476%205.958c-.284.342-.569.411-.924.411h.001z%22%20fill%3D%22%2310ACC9%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat; }

.forms select {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: 6px;
  min-height: 36px;
  font-size: 16px;
  border-radius: 2px;
  min-width: 60px;
  background-size: 12px 12px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5jaXJjbGUsIGVsbGlwc2UsIGxpbmUsIHBhdGgsIHBvbHlnb24sIHBvbHlsaW5lLCByZWN0LCB0ZXh0IHsgZmlsbDogIzQ1NDc1MCAhaW1wb3J0YW50OyB9PC9zdHlsZT48cGF0aCBmaWxsPSIjMzQzNjNEIiBkPSJNMTQuNSAzaC0xM2MtMS4zIDAtMiAxLjUtMS4xIDIuNGw2LjUgNy4xYy42LjcgMS42LjcgMi4yIDBsNi41LTcuMWMuOS0uOS4yLTIuNC0xLjEtMi40eiIvPjwvc3ZnPg==") no-repeat right 6px center;
  border: 1px solid #c4c7cc; }
  .forms select.dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    padding: 6px;
    min-height: 36px;
    font-size: 16px;
    border-radius: 2px;
    min-width: 60px;
    background-size: 12px 12px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5jaXJjbGUsIGVsbGlwc2UsIGxpbmUsIHBhdGgsIHBvbHlnb24sIHBvbHlsaW5lLCByZWN0LCB0ZXh0IHsgZmlsbDogIzQ1NDc1MCAhaW1wb3J0YW50OyB9PC9zdHlsZT48cGF0aCBmaWxsPSIjMzQzNjNEIiBkPSJNMTQuNSAzaC0xM2MtMS4zIDAtMiAxLjUtMS4xIDIuNGw2LjUgNy4xYy42LjcgMS42LjcgMi4yIDBsNi41LTcuMWMuOS0uOS4yLTIuNC0xLjEtMi40eiIvPjwvc3ZnPg==") no-repeat right 6px center;
    border: none; }

.forms textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: 12px;
  min-height: 36px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #c4c7cc; }
  .forms textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #b3b6bc; }
  .forms textarea.dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    padding: 12px;
    min-height: 36px;
    font-size: 16px;
    border-radius: 2px;
    border: none; }
    .forms textarea.dark::-webkit-input-placeholder {
      font-style: italic;
      color: #b3b6bc; }

.colour div {
  display: flex;
  justify-content: space-between; }

.colour .blue, .colour .gray, .colour .yellow, .colour .red, .colour .green {
  list-style-type: none;
  padding: 0;
  width: 19%;
  margin: 0 0 20px; }
  .colour .blue p, .colour .gray p, .colour .yellow p, .colour .red p, .colour .green p {
    font-size: 11px;
    margin: 0;
    font-weight: bold; }
  .colour .blue span, .colour .gray span, .colour .yellow span, .colour .red span, .colour .green span {
    font-size: 13px; }
  .colour .blue li, .colour .gray li, .colour .yellow li, .colour .red li, .colour .green li {
    padding: 8px;
    border-bottom: 1px solid #fff; }
    .colour .blue li:first-of-type, .colour .gray li:first-of-type, .colour .yellow li:first-of-type, .colour .red li:first-of-type, .colour .green li:first-of-type {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    .colour .blue li:last-of-type, .colour .gray li:last-of-type, .colour .yellow li:last-of-type, .colour .red li:last-of-type, .colour .green li:last-of-type {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }

.colour .blue li:nth-child(2) {
  background-color: #e0fdff;
  color: #34363d; }

.colour .blue li:nth-child(3) {
  background-color: #ccfbff;
  color: #34363d; }

.colour .blue li:nth-child(4) {
  background-color: #b3f9ff;
  color: #34363d; }

.colour .blue li:nth-child(5) {
  background-color: #94f7ff;
  color: #34363d; }

.colour .blue li:nth-child(6) {
  background-color: #5be2ed;
  color: #34363d; }

.colour .blue li:nth-child(7) {
  background-color: #21c4d9;
  color: #fff;
  padding: 32px 8px; }

.colour .blue li:nth-child(8) {
  background-color: #10acc9;
  color: #fff; }

.colour .blue li:nth-child(9) {
  background-color: #0094b8;
  color: #fff; }

.colour .blue li:nth-child(10) {
  background-color: #006982;
  color: #fff; }

.colour .gray li:nth-child(2) {
  background-color: #f6f8fa;
  color: #34363d; }

.colour .gray li:nth-child(3) {
  background-color: #e8ebed;
  color: #34363d; }

.colour .gray li:nth-child(4) {
  background-color: #d6d9dd;
  color: #34363d; }

.colour .gray li:nth-child(5) {
  background-color: #c4c7cc;
  color: #34363d; }

.colour .gray li:nth-child(6) {
  background-color: #b3b6bc;
  color: #34363d; }

.colour .gray li:nth-child(7) {
  background-color: #a2a4ac;
  color: #fff;
  padding: 32px 8px; }

.colour .gray li:nth-child(8) {
  background-color: #80828b;
  color: #fff; }

.colour .gray li:nth-child(9) {
  background-color: #454750;
  color: #fff; }

.colour .gray li:nth-child(10) {
  background-color: #34363d;
  color: #fff; }

.colour .yellow li:nth-child(2) {
  background-color: #fffae6;
  color: #34363d; }

.colour .yellow li:nth-child(3) {
  background-color: #fff8cc;
  color: #34363d; }

.colour .yellow li:nth-child(4) {
  background-color: #fff4b3;
  color: #34363d; }

.colour .yellow li:nth-child(5) {
  background-color: #ffec8d;
  color: #34363d; }

.colour .yellow li:nth-child(6) {
  background-color: #ffe159;
  color: #34363d; }

.colour .yellow li:nth-child(7) {
  background-color: #ffd726;
  color: #34363d;
  padding: 32px 8px; }

.colour .yellow li:nth-child(8) {
  background-color: #ffca36;
  color: #34363d; }

.colour .yellow li:nth-child(9) {
  background-color: #f8a811;
  color: #34363d; }

.colour .yellow li:nth-child(10) {
  background-color: #fa8a19;
  color: #fff; }

.colour .green li:nth-child(2) {
  background-color: #ebffb3;
  color: #34363d; }

.colour .green li:nth-child(3) {
  background-color: #ddff80;
  color: #34363d; }

.colour .green li:nth-child(4) {
  background-color: #d0ff4d;
  color: #34363d; }

.colour .green li:nth-child(5) {
  background-color: #c0f531;
  color: #34363d; }

.colour .green li:nth-child(6) {
  background-color: #aae700;
  color: #34363d; }

.colour .green li:nth-child(7) {
  background-color: #83e000;
  color: #34363d;
  padding: 32px 8px; }

.colour .green li:nth-child(8) {
  background-color: #6aca26;
  color: #fff; }

.colour .green li:nth-child(9) {
  background-color: #55bd00;
  color: #fff; }

.colour .green li:nth-child(10) {
  background-color: #3a8000;
  color: #fff; }

.colour .red li:nth-child(2) {
  background-color: #ffece6;
  color: #34363d; }

.colour .red li:nth-child(3) {
  background-color: #ffd9cc;
  color: #34363d; }

.colour .red li:nth-child(4) {
  background-color: #ffc5b3;
  color: #34363d; }

.colour .red li:nth-child(5) {
  background-color: #ffa799;
  color: #34363d; }

.colour .red li:nth-child(6) {
  background-color: #ff8173;
  color: #34363d; }

.colour .red li:nth-child(7) {
  background-color: #ff5c4d;
  color: #fff;
  padding: 32px 8px; }

.colour .red li:nth-child(8) {
  background-color: #d84a48;
  color: #fff; }

.colour .red li:nth-child(9) {
  background-color: #b03743;
  color: #fff; }

.colour .red li:nth-child(10) {
  background-color: #8e2f3d;
  color: #fff; }

.icons ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0; }

.icons li {
  margin: 12px; }
  .icons li:after {
    content: attr(data-text);
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    vertical-align: baseline;
    width: 100px;
    left: 50%;
    opacity: 0;
    margin-left: -50px;
    top: -50px;
    visibility: hidden;
    padding: 4px 8px;
    background: #ffca36;
    color: #34363d;
    border-radius: 4px;
    border: 2px solid #fa8a19;
    z-index: 100;
    transition: opacity .2s ease; }
  .icons li:hover:after {
    opacity: 1;
    visibility: visible; }

.icons .icon-account-lg {
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Y2lyY2xlLCBlbGxpcHNlLCBsaW5lLCBwYXRoLCBwb2x5Z29uLCBwb2x5bGluZSwgcmVjdCwgdGV4dCB7IGZpbGw6ICMzNDM2M2QgIWltcG9ydGFudDsgfTwvc3R5bGU+PGcgZmlsbD0iIzM0MzYzRCI+PHBhdGggZD0iTTE0IDJoLTFjMC0uNi0uNC0xLTEtMWgtMWMtLjYgMC0xIC40LTEgMWgtNGMwLS42LS40LTEtMS0xaC0xYy0uNiAwLTEgLjQtMSAxaC0xYy0uNiAwLTEgLjQtMSAxdjkuNmMwIDEuMyAxLjEgMi40IDIuNCAyLjRoOS40YzEuMiAwIDIuMy0xIDIuMy0yLjN2LTkuN2MtLjEtLjYtLjUtMS0xLjEtMXptMCAxMC43YzAgLjctLjYgMS4zLTEuMyAxLjNoLTkuM2MtLjggMC0xLjQtLjYtMS40LTEuNHYtNi42aDEydjYuN3pNMyA3aDN2M2gtM3oiLz48L2c+PC9zdmc+") no-repeat; }

.icons .icon-adult-lg {
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5jaXJjbGUsIGVsbGlwc2UsIGxpbmUsIHBhdGgsIHBvbHlnb24sIHBvbHlsaW5lLCByZWN0LCB0ZXh0IHsgZmlsbDogIzM0MzYzZCAhaW1wb3J0YW50OyB9PC9zdHlsZT48cGF0aCBmaWxsPSIjMzQzNjNEIiBkPSJNOCA1Yy0uNiAwLTEtLjQtMS0xIDAtLjUuNC0xIDEtMSAuNSAwIDEgLjQgMSAxcy0uNCAxLTEgMXptOS0xYzAtLjYtLjQtMS0xLTEtLjUgMC0xIC40LTEgMSAwIC41LjQgMSAxIDFzMS0uNCAxLTF6bTQgMXYxM2MwIDEuNy0xLjMgMy0zIDNoLTEyYy0xLjcgMC0zLTEuMy0zLTN2LTEzYzAtLjYuNC0xIDEtMWgxYy42IDAgMSAuNCAxIDFzLjQgMSAxIDFoMmMuNSAwIDEtLjQgMS0xcy40LTEgMS0xaDJjLjYgMCAxIC40IDEgMXMuNCAxIDEgMWgyYy41IDAgMS0uNCAxLTFzLjQtMSAxLTFoMWMuNiAwIDEgLjQgMSAxem0tMiA1aC0xNHY4YzAgLjYuNCAxIDEgMWgxMmMuNiAwIDEtLjQgMS0xdi04em0tOCAyaC00djRoNHYtNHoiLz48L3N2Zz4=") no-repeat; }

.index .intro {
  font-size: 24px;
  color: #454750; }
