@import "../all";

body {
  margin: 0;
  font-family: "Arial"
}

.th-header {
  width: 100%;
  padding: 20px;
  background-color: $ls-color-blue-600;

  h1 {
    margin: 0 0 4px 0;
    font-size: 18px;

    a {
      text-decoration: none;
      color: $ls-color-white;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;
      display: inline-block;

      a {
        text-decoration: none;
        color: $ls-color-blue-100;

        &:hover, &.selected {
          border-bottom: 3px solid $ls-color-yellow-500;
          padding-bottom: 18px;
          color: $ls-color-yellow-500;
        }
      }
    }
  }
}

.th-section {
  padding: 20px;

  h2 {
    margin: 0 0 16px 0;
    font-size: 16px;
    color: $ls-color-gray-700;
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid $ls-color-gray-300;

    &.dark {
      color: $ls-color-gray-500;
      border-bottom-color: $ls-color-gray-700;
    }
  }

  h3 {
    margin: 0;
    font-size: 13px;
    //font-weight: normal;
    color: $ls-color-gray-700;
    display: block;
    margin-bottom: 4px;

    &.dark {
      color: $ls-color-gray-500;
    }
  }

  code {
    ol {
      display: block;
      margin-top: 8px;
      color: $ls-color-gray-700;
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 4px;
      }

      &.dark {
        color: $ls-color-gray-500;
      }
    }
  }
}

.forms {
  &.dark {
    background-color: $ls-color-gray-800;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 20px;
    }
  }

  label {
    @include ls-label(false);

    &.dark {
      @include ls-label(true);
    }
  }

  input[type="text"] {
    @include ls-input-text(false);

    &.dark {
      @include ls-input-text(true);
    }
  }

  input[type="radio"] {
    @include ls-input-radio();
  }

  input[type="checkbox"] {
    @include ls-input-checkbox();
  }

  select {
    @include ls-select(false);

    &.dark {
      @include ls-select(true);
    }
  }

  textarea {
    @include ls-textarea(false);

    &.dark {
      @include ls-textarea(true);
    }
  }
}