@import "../all";

body {
  margin: 0;
  font-family: "Arial", serif;
}

.th-header {
  width: 100%;
  padding: $ls-spacing-double;
  background-color: $ls-color-blue-500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  svg {
    width: 200px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        text-decoration: none;
        color: $ls-color-blue-900;

        &:hover, &.selected {
          border-bottom: 3px solid $ls-color-white;
          padding-bottom: 33px;
          color: $ls-color-white;
          font-weight: bold;
        }
      }
    }
  }
}

.th-section {
  padding: $ls-spacing-double;
  max-width: 1048px;
  margin: 0 auto;

  &.dark {
    background-color: $ls-color-gray-700;
    border-radius: $ls-border-radius-lg;
  }

  h2 {
    margin: 0 0 16px 0;
    font-size: 16px;
    color: $ls-color-gray-700;
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid $ls-color-gray-300;

    &.dark {
      color: $ls-color-gray-300;
      border-bottom-color: $ls-color-gray-700;
    }
  }

  h3 {
    font-size: 13px;
    color: $ls-color-gray-700;
    display: block;
    margin: 0 0 4px;

    &.dark {
      color: $ls-color-gray-300;
    }
  }

  h4 {
    font-size: 13px;
    font-weight: normal;
    color: $ls-color-gray-700;
    display: block;
    margin: 0 0 4px;

    &.dark {
      color: $ls-color-gray-500;
    }
  }

  p {
    font-size: 13px;
    margin: $ls-spacing-half 0;
    line-height: 16px;
  }

  .usage {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
  }

  code {
    color: $ls-color-gray-700;
    padding: $ls-spacing-quarter;
    background-color: $ls-color-gray-100;
    border-radius: $ls-border-radius-xs;
    margin-bottom: $ls-spacing;
    font-size: 13px;
    display: inline-block;

    &.import {
      display: inline-block;
      font-weight: bold;
      margin-bottom: $ls-spacing-quarter;
    }
  }

  &.notes {
    background-color: $ls-color-yellow-300;
    border-radius: $ls-border-radius-lg;
    box-shadow: 0 2px 0 0 $ls-color-yellow-700;
    box-sizing: border-box;
    color: $ls-color-gray-700;
    margin-bottom: $ls-spacing-double;

    h2 {
      border-bottom-color: $ls-color-yellow-500;
    }

    h3 {
      margin-top: $ls-spacing-double;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.forms {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 20px;
    }
  }

  label {
    @include ls-label();

    &.dark {
      @include ls-label-dark();
    }
  }

  input[type="text"] {
    @include ls-input-text();

    &.dark {
      @include ls-input-text-dark();
    }
  }

  input[type="radio"] {
    @include ls-input-radio();

    &.dark {
      @include ls-input-radio-dark();
    }
  }

  input[type="checkbox"] {
    @include ls-input-checkbox();

    &.dark {
      @include ls-input-checkbox-dark();
    }
  }

  select {
    @include ls-select();

    &.dark {
      @include ls-select-dark();
    }
  }

  textarea {
    @include ls-textarea();

    &.dark {
      @include ls-textarea-dark();
    }
  }
}

.colour {
  div {
    display: flex;
    justify-content: space-between;
  }

  .blue, .gray, .yellow, .red, .green {
    list-style-type: none;
    padding: 0;
    width: 19%;
    margin: 0 0 20px;

    p {
      font-size: 11px;
      margin: 0;
      font-weight: bold;
    }

    span {
      font-size: 13px;
    }

    li {
      padding: 8px;
      margin-bottom: $ls-spacing-half;
      height: 40px;
      border-radius: $ls-border-radius-sm;
      border: 1px solid transparent;
    }
  }
  .blue {
    li:nth-child(2) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(3) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(4) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(5) {
      background-color: $ls-color-blue-300;
    }

    li:nth-child(6) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(7) {
      background-color: $ls-color-blue-500;
      color: $ls-color-white;
      padding: 32px 8px;
    }

    li:nth-child(8) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(9) {
      background-color: $ls-color-blue-700;
      color: $ls-color-white;
    }

    li:nth-child(10) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }
    li:nth-child(11) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }
  }

  .gray {
    li:nth-child(2) {
      background-color: $ls-color-gray-50;
      color: $ls-color-gray-900;
    }

    li:nth-child(3) {
      background-color: $ls-color-gray-100;
      color: $ls-color-gray-900;
    }

    li:nth-child(4) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(5) {
      background-color: $ls-color-gray-300;
      color: $ls-color-gray-900;
    }

    li:nth-child(6) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(7) {
      background-color: $ls-color-gray-500;
      color: $ls-color-white;
      padding: 32px 8px;
    }

    li:nth-child(8) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(9) {
      background-color: $ls-color-gray-700;
      color: $ls-color-white;
    }

    li:nth-child(10) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(11) {
      background-color: $ls-color-gray-900;
      color: $ls-color-white;
    }
  }

  .yellow {
    li:nth-child(2) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(3) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(4) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(5) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(6) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(7) {
      background-color: $ls-color-yellow-500;
      color: $ls-color-gray-900;
      padding: 32px 8px;
    }

    li:nth-child(8) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(9) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(10) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(11) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }
  }

  .green {
    li:nth-child(2) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(3) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(4) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(5) {
      background-color: $ls-color-green-300;
      color: $ls-color-gray-900;
    }

    li:nth-child(6) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(7) {
      background-color: $ls-color-green-500;
      color: $ls-color-gray-900;
      padding: 32px 8px;
    }

    li:nth-child(8) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(9) {
      background-color: $ls-color-green-700;
      color: $ls-color-white;
    }

    li:nth-child(10) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(11) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }
  }

  .red {
    li:nth-child(2) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(3) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(4) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(5) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(6) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(7) {
      background-color: $ls-color-red-500;
      color: $ls-color-white;
      padding: 32px 8px;
    }

    li:nth-child(8) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(9) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(10) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }

    li:nth-child(11) {
      background-color: $ls-color-white;
      border: 1px solid $ls-color-gray-50;
    }
  }
}

.icons {
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  li {
    margin: 12px;
    position: relative;
    &:after {
      content: attr(data-text);
      position: absolute;
      font-size: 13px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
      vertical-align: baseline;
      width: 100px;
      left: 50%;
      opacity: 0;
      margin-left: -50px;
      top: -50px;
      visibility: hidden;
      padding: 4px 8px;
      background: $ls-color-yellow-700;
      color: $ls-color-gray-900;
      border-radius: 4px;
      border: 2px solid $ls-color-yellow-900;
      z-index: 100;
      transition: opacity .2s ease;
    }

    &:hover:after {
      opacity: 1;
      visibility: visible;
    }
  }

  @each $name, $datauri in $ls-icons-sm {
    .#{$name}-sm {
      @include ls-icon-sm(#{$name})
    }
  }

  @each $name, $datauri in $ls-icons-lg {
    .#{$name}-lg {
      @include ls-icon-lg(#{$name})
    }
  }
}

.loaders {
  .loader-sm {
    @include ls-spinner-sm(ls-spinner-gray-700);
    margin-bottom: 20px;
  }

  .loader-lg {
    @include ls-spinner-lg(ls-spinner-gray-700);
    margin-bottom: 20px;
  }

  .loader-xl {
    @include ls-spinner-xl(ls-spinner-gray-700);
    margin-bottom: 20px;
  }
}

.index {
  a {
    color: $ls-color-blue-700;
    text-decoration: none;
    font-size: 13px;
  }

  .intro {
    font-size: 24px;
    line-height: 26px;
    color: $ls-color-gray-700;
    margin-top: 0;
    margin-bottom: $ls-spacing;
  }
}

.logo {
  .logo {
    margin: 0 auto;
  }
  .inline {
    display: block;
    width: 368px;
    height: 104px;
    background: transparent url($ls-logo-inline-blue-500) no-repeat center;
  }

  .stacked {
    display: block;
    width: 348px;
    height: 197px;
    background: transparent url($ls-logo-stacked-blue-500) no-repeat center;
  }

  .cloud-only {
    display: block;
    width: 128px;
    height: 104px;
    background: transparent url($ls-logo-cloud-blue-500) no-repeat center;
  }

  .tianxun {
    display: block;
    width: 258px;
    height: 113px;
    background: transparent url($ls-logo-tianxun-blue-500) no-repeat center;
  }
}
