@import '~bpk-mixins/index';

.bpk-form-validation {
  position: relative;
  margin: $bpk-spacing-xs 0 0 0;
  padding: $bpk-spacing-xs $bpk-spacing-sm;
  transform: translateY(-#{$bpk-spacing-sm});
  transition: opacity $bpk-duration-sm ease-in-out, transform $bpk-duration-sm ease-in-out;
  background-color: $bpk-color-red-500;
  color: $bpk-color-white;
  opacity: 0;

  @include bpk-border-radius-sm;

  &::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: " ";
    width: 0;
    height: 0;
    margin-left: -#{$bpk-spacing-xs};
    border: solid transparent;
    border-width: $bpk-spacing-xs;
    border-bottom-color: $bpk-color-red-500;
    pointer-events: none;
  }

  &--appear {
    transform: translateY(0);
    opacity: 1;
  }

  &--is-checkbox {
    display: inline-block;

    &::after {
      left: $bpk-spacing-base + $bpk-spacing-xs;

      @include bpk-rtl {
        right: $bpk-spacing-base;
        left: 0;
      }
    }
  }
}
