@import '~bpk-mixins/index';

.bpkdocs-badge-page {
  &__badge-spacing {
    margin-right: $bpk-spacing-sm;
  }

  &__badge-container {
    position: relative;
    display: block;
    height: $bpk-one-pixel-rem * 60;
    background-color: $bpk-color-gray-50;
  }
}
