@import './../../../units';

.tableContainer {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: $ls-spacing;
  text-align: left;
}

.tableCell {
  padding: $ls-spacing;
}
