@import './../../../colours';
@import './../../../units';
@import './../../../forms';

.form {
  padding: $ls-spacing;
  border: solid 1px $ls-color-gray-100;
  border-radius: $ls-border-radius-sm;
}

.darkForm {
  padding: $ls-spacing;
  border-radius: $ls-border-radius-sm;
  background-color: $ls-color-gray-700;
}

.inputLabel {
  @include ls-label();
}

.darkInputLabel {
  @include ls-label-dark();
}

.inputText {
  @include ls-input-text();
}

.darkInputText {
  @include ls-input-text-dark();
}

.inputRadio {
  @include ls-input-radio();
}

.darkInputRadio {
  @include ls-input-radio-dark();
}

.inputCheckbox {
  @include ls-input-checkbox();
}

.darkInputCheckbox {
  @include ls-input-checkbox-dark();
}

.inputSelect {
  @include ls-select();
}

.darkInputSelect {
  @include ls-select-dark();
}

.inputTextarea {
  @include ls-textarea();
}

.darkInputTextarea {
  @include ls-textarea-dark();
}
