@import '~bpk-mixins';

.bpk-accordion {
  margin: 0;

  &__title {
    box-shadow: 0 -1px 0 0 $bpk-color-gray-100 inset;
  }

  &__toggle-button {
    width: 100%;
    padding: $bpk-spacing-xs 0;
    border: 0;
    background-color: transparent;
    color: $bpk-link-color;
    text-align: left;
    appearance: none;
    cursor: pointer;

    @include bpk-rtl {
      text-align: right;
    }

    @include bpk-hover {
      color: $bpk-link-hover-color;
    }

    &:active {
      color: $bpk-link-active-color;
    }
  }

  &__flex-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
  }

  &__title-text {
    flex-grow: 1;
    display: inline-block;
  }

  &__icon-wrapper {
    display: inline-block;
  }

  &__item-expand-icon {
    fill: $bpk-link-color;

    @include bpk-hover {
      fill: $bpk-link-hover-color;
    }

    &:active {
      fill: $bpk-link-active-color;
    }

    &--flipped {
      transform: scaleY(-1);
    }
  }

  &__content-container {
    margin: 0;
    padding: $bpk-spacing-xs 0;
  }
}
