@import '~bpk-mixins/index';

.bpkdocs-radii-page {
  &__examples {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 30%;

    &:not(:last-child) {
      margin-right: $bpk-spacing-sm;
    }
  }

  &__radii-example {
    width: 100%;
    height: $bpk-one-pixel-rem * 36;
    background-color: $bpk-color-gray-500;

    &__extra-small {
      border-radius: $bpk-border-radius-xs;
    }

    &__small {
      border-radius: $bpk-border-radius-sm;
    }

    &__pill {
      border-radius: $bpk-border-radius-pill;
    }
  }
}
