@import '~bpk-mixins/index';

$bg: linear-gradient(
  -45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent
);

.bpk-progress {
  position: relative;
  height: $bpk-spacing-sm;
  border-radius: $bpk-border-radius-sm;
  background-color: $bpk-color-gray-100;
  overflow: hidden;

  &--small {
    height: $bpk-spacing-xs;
    border-radius: $bpk-border-radius-xs;
  }

  &__value {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 50%;
    transition: width $bpk-duration-base ease-in-out;
    background-color: $bpk-color-green-500;
    // transition: width 10s ease-out;
    // transition: width 5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    // transition: width 0.2s cubic-bezier(.24,1,.3,1);
  }

  &__gap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2 * $bpk-one-pixel-rem;
    background: white;
  }
}
