@import '~bpk-mixins/index';

.bpkdocs-grid-demo-pages {
  &__lozenge {
    padding: $bpk-spacing-xs;
    background-color: $bpk-color-gray-50;
    text-align: center;

    @include bpk-text-sm;
    @include bpk-border-radius-xs;
    @include bpk-border-sm($bpk-color-gray-100);
  }
}
