@import '~bpk-mixins/index';

.bpk-modal-scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $bpk-zindex-modal-scrim;
  transition: opacity $bpk-duration-xs ease-in-out;
  background-color: $bpk-modal-scrim-background-color;
  opacity: $bpk-modal-scrim-opacity;
  overflow: hidden;

  @include bpk-breakpoint-mobile {
    background-color: $bpk-modal-background-color;
    opacity: $bpk-modal-scrim-mobile-opacity;
  }

  &--appear {
    opacity: $bpk-modal-scrim-initial-opacity;
  }

  &--appear-active {
    opacity: $bpk-modal-scrim-opacity;

    @include bpk-breakpoint-mobile {
      opacity: $bpk-modal-scrim-mobile-opacity;
    }
  }
}

.bpk-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $bpk-zindex-modal;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include bpk-breakpoint-above-mobile {
    display: flex;
    padding: $bpk-spacing-base;
  }

  // IE11 and below hack for buggy flexbox support
  @media screen\0 {
    display: block;
  }

  &--iphone-fix {
    position: absolute;
    display: block;
    padding: 0;
  }

  &__dialog {
    width: 100%;
    transform: scale(1);
    transition: opacity $bpk-duration-sm ease-in-out, transform $bpk-duration-sm ease-in-out;
    outline: 0;
    background-color: $bpk-modal-background-color;
    opacity: $bpk-modal-opacity;

    @include bpk-breakpoint-above-mobile {
      max-width: $bpk-modal-max-width;
      margin: auto;

      @include bpk-box-shadow-xl;
      @include bpk-border-radius-sm;
    }

    &--appear {
      transform: scale(.9);
      opacity: $bpk-modal-initial-opacity;
    }

    &--appear-active {
      transform: scale(1);
      opacity: $bpk-modal-opacity;
    }

    &--wide {
      @include bpk-breakpoint-above-mobile {
        max-width: $bpk-modal-wide-max-width;
      }
    }

    &--iphone-fix {
      display: block;
      max-width: none;
      margin: 0;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__dialog-header {
    display: flex;
    padding: $bpk-modal-header-padding;
    justify-content: space-between;

    @include bpk-border-bottom-sm($bpk-color-gray-100);
  }

  &__dialog-heading {
    margin: 0;
    font-weight: 700;

    @include bpk-text-base;
  }

  &__dialog-close-button {
    float: right;

    @include bpk-rtl {
      float: left;
    }
  }

  &__dialog-content {
    padding: $bpk-modal-content-padding;
  }
}
