@import '~bpk-mixins/index';

.bpk-code {
  &__pre {
    margin: 0 0 $bpk-spacing-sm;
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-50;
  }

  &__code {
    margin: 0;
    padding: 0;
    background-color: $bpk-color-gray-50;
    color: $bpk-color-gray-700;
    text-align: left;
    text-shadow: 0 1px $bpk-color-white;
    vertical-align: bottom;

    &--block {
      display: block;
      overflow: auto;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--inline {
      display: inline;
      padding: .125rem;
      border-radius: $bpk-border-radius-sm;
      white-space: nowrap;
    }
  }
}
