@import '~bpk-mixins/index';

.bpkdocs-style-page {
  &__link {
    text-decoration: none;

    @include bpk-hover {
      text-decoration: none;
    }
  }

  &__section-header {
    margin-top: $bpk-spacing-md;
  }

  &__copywrite-column {
    margin-bottom: $bpk-spacing-sm;
  }

  &__brand-guidelines {
    @include bpk-breakpoint-above-mobile {
      text-align: center;
    }
  }
}
