@import '~bpk-mixins/index';

.bpkdocs-icons-page {
  &__icon-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__icon-list-item {
    display: inline-block;
    margin: 0;
    padding: $bpk-spacing-xs;
  }
}
