@import '~bpk-mixins/index.scss';

.label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: $bpk-border-radius-sm;
  background-color: $bpk-canvas-contrast-day;
  cursor: pointer;

  @include bpk-breakpoint-above-tablet {
    height: $bpk-one-pixel-rem * 72;
    padding: 0 bpk-spacing-base();
  }

  @include bpk-breakpoint-tablet {
    height: $bpk-one-pixel-rem * 72;
    padding: 0 bpk-spacing-base();
  }

  @include bpk-breakpoint-small-tablet {
    height: $bpk-one-pixel-rem * 48;
    padding: 0;
  }

  &:focus-within {
    background-color: $bpk-canvas-day;
    border-color: $bpk-core-accent-day;
    outline-color: $bpk-core-accent-day;
    outline-style: auto;
  }
}

.input {
  width: 100%;
  height: 2.25rem;
  padding: 0 bpk-spacing-xl() 0 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @include bpk-breakpoint-above-tablet {
    height: unset;
    padding: 0;
  }

  @include bpk-breakpoint-tablet {
    height: unset;
    padding: 0;
  }
}


.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  z-index: $bpk-zindex-autosuggest;
  outline: none;
  width: 100%;
}

.suggestionsList {
  height: auto;
  padding: 0;
  background: $bpk-canvas-day;
  list-style: none;
  overflow: hidden;
  margin-top: bpk-spacing-sm();
  margin-bottom: 0;

  @include bpk-breakpoint-above-tablet {
   border-radius: $bpk-border-radius-md;
   box-shadow: $bpk-box-shadow-lg;
  }
}

.suggestion {
  cursor: pointer;

  &:active {
    border-radius: $bpk-border-radius-md;
    background-color: $bpk-canvas-contrast-day;
  }

  &:first-of-type {
    padding-top: bpk-spacing-md();
  }

  &:last-of-type {
    padding-bottom: bpk-spacing-md();
  }
}
