/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-max-compound-selectors */
@import '~bpk-mixins/index';

$bpk-spacing-v2: true;

// @mixin aspect-ratio($width, $height) {
//   position: relative;

//   &::before {
//     content: '';
//     display: block;
//     width: 100%;
//     padding-top: ($height / $width) * 100%;
//   }

//   > :first-child {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
// }

.bpk-content-cards {
  &__card-link {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
  }

  &__card-horizontal {
    display: grid;
    column-gap: bpk-spacing-xxl();
    grid-template-columns: minmax(min(10%, 50%), $bpk-one-pixel-rem * 620) 40%;
    align-items: center;

    @include bpk-breakpoint-mobile {
      grid-template-columns: 1fr;
    }
  }

  &__card-horizontal &__image-container {
    width: 100%;
    height: 100%;

    @include bpk-breakpoint-mobile {
      max-height: $bpk-one-pixel-rem * 180;
      margin-bottom: bpk-spacing-base();
    }

    @include bpk-breakpoint-above-tablet {
      height: $bpk-one-pixel-rem * 420;
    }
  }

  &__card-vertical &__image {
    height: $bpk-one-pixel-rem * 460;
    margin-bottom: bpk-spacing-base();

    @include bpk-breakpoint-small-tablet {
      width: 100%;
      height: auto;
      max-height: $bpk-one-pixel-rem * 260;
    }

    @include bpk-breakpoint-mobile {
      max-height: $bpk-one-pixel-rem * 180;
    }
  }

  &__headline {
    margin-bottom: $bpk-heading-margin-bottom;

    @include bpk-heading-4;
  }

  &__description {
    color: $bpk-color-sky-gray-tint-02;

    @include bpk-text;
    @include bpk-text--base;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: $bpk-border-radius-md;
    object-fit: cover;
  }
}
