@import "~bpk-mixins";

.bpk-datepicker {
  &__input {
    cursor: pointer;

    &-description {
      @include bpk-visually-hidden;
    }
  }

  &__calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
