@import '~bpk-mixins/index.scss';

$dots-visible: 5;
$dot-size: $bpk-one-pixel-rem * 8;
$gap: $dot-size / 2;

.bpk-carousel-slides-indicator {
  position: relative;
  right: 0;
  bottom: 1.5rem;
  left: 0;
  display: flex;
  margin: auto bpk-spacing-base();
  overflow: hidden;
  overflow: clip;

  &__row {
    --direction: -1;

    display: inline-flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    transform: translateX(
      calc(var(--direction) * var(--scroll-index) * #{$dot-size + $gap})
    );
    transition: transform $bpk-duration-sm ease-in-out;

    @include bpk-rtl {
      --direction: 1;
    }
  }

  &__dot {
    width: $dot-size;
    height: $dot-size;
    flex: 0 0 $dot-size;
    transform: scale(0.5);
    transition: $bpk-duration-sm ease-in;
    background-color: $bpk-color-white;
    opacity: 0.7;
    transform-origin: center;

    @include bpk-border-radius-md;

    &:not(:last-child) {
      margin-right: $gap;
    }
  }

  &__siblingToActive {
    transform: scale(0.75);
  }

  &__active {
    transform: none;
    opacity: 1;
  }
}
