@import '~bpk-mixins/index';

.bpk-banner-alert {
  background-color: $bpk-banner-alert-background-color;
  overflow: hidden;

  @include bpk-border-radius-sm;

  &--success {
    @include bpk-border-sm($bpk-banner-alert-success-color, '');
  }

  &--warn {
    @include bpk-border-sm($bpk-banner-alert-warn-color, '');
  }

  &--error {
    @include bpk-border-sm($bpk-banner-alert-error-color, '');
  }

  &__header {
    display: flex;
    padding: $bpk-banner-alert-header-padding-y $bpk-banner-alert-header-padding-x;
    flex-direction: row;

    &--expandable {
      cursor: pointer;

      @include bpk-hover {
        background-color: $bpk-banner-alert-header-expandable-hover-background-color;
      }

      &:active {
        background-color: $bpk-banner-alert-header-expandable-active-background-color;
      }
    }
  }

  // Make sure the items in the flexbox are display: inline-block; for older IE's
  &__icon,
  &__message,
  &__toggle {
    display: inline-block;
  }

  &__message {
    flex-grow: 1;
  }

  &__success-icon {
    fill: $bpk-banner-alert-success-color;
  }

  &__warn-icon {
    fill: $bpk-banner-alert-warn-color;
  }

  &__error-icon {
    fill: $bpk-banner-alert-error-color;
  }

  &__toggle-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
  }

  &__expand-icon {
    fill: $bpk-banner-alert-expand-icon-fill;

    &--flipped {
      transform: scaleY(-1);
    }
  }

  &__children-container {
    padding: $bpk-banner-alert-children-padding-y $bpk-banner-alert-children-padding-x;
    color: $bpk-banner-alert-children-color;

    @include bpk-text-sm;
  }
}
