@import '../../../bpk-mixins/index.scss';

.bpk-card-list-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax($bpk-one-pixel-rem * 281, 1fr)
  );
  gap: bpk-spacing-lg();

  &--card {
    min-width: $bpk-one-pixel-rem * 281;
  }
}
