@import '~bpk-tokens';

.bpk-barchart__bar {
  fill: $bpk-color-blue-300;
  shape-rendering: auto;

  &--outlier {
    mask: url(#bpk-barchart__def-mask);
  }

  &--interactive {
    cursor: pointer;

    &:hover {
      fill: $bpk-color-blue-500;
    }

    &:active {
      fill: $bpk-color-blue-600;
    }
  }
}
