@import '~bpk-tokens';
@import '~bpk-mixins/index';

.bpk-barchart {
  width: 100%;

  &__bar {
    fill: $bpk-color-blue-300;
    shape-rendering: auto;

    &--outlier {
      mask: url(#bpk-barchart__def-mask);
    }

    &--interactive {
      &:hover {
        fill: $bpk-color-blue-500;
      }
    }
  }

  &__axis-tick {
    &--text {
      fill: $bpk-color-gray-500;

      @include bpk-text-sm;
    }
  }

  &__axis-label {
    fill: $bpk-color-gray-500;

    @include bpk-text-sm;
  }

  &__grid-line {
    stroke: $bpk-color-gray-100;
    shape-rendering: crispEdges;
  }
}
