@import '~bpk-tokens';

.bpk-barchart {
  width: 100%;

  &__bar {
    fill: $bpk-color-blue-300;
    shape-rendering: auto;

    &--outlier {
      mask: url(#bpk-barchart__def-mask);
    }

    &--interactive {
      &:hover {
        fill: $bpk-color-blue-500;
      }
    }
  }
}
