@import 'index';

.bpk-icon {
  &-sm__chart {
    @include bpk-icon-sm(chart-green-500);
  }

  &-lg__chart {
    @include bpk-icon-lg(chart-green-500);
  }

  &__chart--small {
    @include bpk-icon(chart, $bpk-color-green-500, small);
  }

  &__chart--large {
    @include bpk-icon(chart, $bpk-color-green-500, large);
  }
}

.bpk-breakpoint {
  &-mobile {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-mobile {
      background-color: $bpk-color-green-500;
    }
  }

  &-tablet {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-tablet {
      background-color: $bpk-color-green-500;
    }
  }

  &-tablet-only {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-tablet-only {
      background-color: $bpk-color-green-500;
    }
  }

  &-above-mobile {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-above-mobile {
      background-color: $bpk-color-green-500;
    }
  }

  &-above-tablet {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-above-tablet {
      background-color: $bpk-color-green-500;
    }
  }
}
