@import '../../../bpk-mixins/index.scss';

.bpk-card-list--rail {
  &_container {
    display: flex;
  }

  &_card {
    display: flex;
    min-width: 100%;
    padding: bpk-spacing-base();
    justify-content: center;
    align-items: center;

    > * {
      width: 100%;
    }
  }
}
