@import '~bpk-mixins/index';

.bpkdocs-side-nav-layout {
  &__nav-select-container {
    display: none;
    padding-top: $bpk-spacing-sm;

    @include bpk-breakpoint-tablet {
      display: block;
    }
  }

  &__nav-list-container {
    display: block;

    @include bpk-breakpoint-tablet {
      display: none;
    }
  }
}
