@import '~bpk-mixins/index';

.bpk-autosuggest {
  &__container--open {
    position: relative;
  }

  &__container--open &__suggestions-container {
    position: absolute;
    top: $bpk-input-height + $bpk-spacing-sm;
    width: 100%;
    z-index: $bpk-zindex-autosuggest;

    &::after {
      position: absolute;
      bottom: 100%;
      left: 50%;
      content: ' ';
      width: 0;
      height: 0;
      margin-left: -$bpk-spacing-sm;
      border: solid $bpk-spacing-sm transparent;
      border-bottom-color: $bpk-autosuggest-list-background-color;
      pointer-events: none;
    }
  }

  &__input {
    @include bpk-input;
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    background-color: $bpk-autosuggest-list-background-color;
    list-style: none;
    overflow: hidden;

    @include bpk-border-radius-sm;
    @include bpk-box-shadow-xl;
  }

  &__suggestion-item {
    cursor: pointer;

    @include bpk-text-base;

    &:not(:last-child) {
      box-shadow: 0 1px 0 0 $bpk-color-gray-50;
    }

    &:active {
      background-color: $bpk-autosuggest-list-item-active-background-color;
    }

    &--focused {
      background-color: $bpk-autosuggest-list-item-focused-background-color;
    }
  }

  &__suggestion {
    display: table;
    width: 100%;
    padding: $bpk-spacing-sm $bpk-spacing-md;

    &--indent {
      padding-left: $bpk-spacing-lg;
    }

    &-icon {
      display: table-cell;
      fill: $bpk-color-gray-500;
      // stylelint seems to complain that margin is ignored in `display: table-cell;`, but it defo works.
      margin-right: $bpk-spacing-xs; // stylelint-disable-line declaration-block-no-ignored-properties
      vertical-align: top;

      @include bpk-rtl {
        margin-right: 0;
        margin-left: $bpk-spacing-xs;
      }
    }

    &-inner {
      display: table-cell;
      width: 100%;
      vertical-align: top;
    }

    &-value {
      display: block;
      width: 100%;
    }

    &-sub-heading {
      display: table-cell;
      width: 100%;
      color: $bpk-color-gray-500;
      vertical-align: top;

      @include bpk-text-sm;
    }

    &-tertiary-label {
      display: table-cell;
      color: $bpk-color-gray-300;
      vertical-align: top;

      @include bpk-text-sm;
    }
  }
}
