@import '~bpk-mixins/index';

.bpk-autosuggest {
  &__container--open {
    position: relative;
  }

  &__suggestions-container {
    display: none;

    &--open {
      position: absolute;
      top: 100%;
      display: block;
      z-index: $bpk-zindex-autosuggest;
      width: 100%;
      margin-top: $bpk-spacing-sm;

      &::before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        content: ' ';
        display: block;
        margin-bottom: -$bpk-one-pixel-rem;
        margin-left: -($bpk-spacing-sm + $bpk-one-pixel-rem);
        border: ($bpk-spacing-sm + $bpk-one-pixel-rem) solid transparent;
        border-bottom-color: $bpk-color-gray-100;
        pointer-events: none;
      }

      &::after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        content: ' ';
        display: block;
        margin-bottom: -$bpk-one-pixel-rem;
        margin-left: -$bpk-spacing-sm;
        border: $bpk-spacing-sm solid transparent;
        border-bottom-color: $bpk-autosuggest-list-background-color;
        pointer-events: none;
      }
    }
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    @include bpk-layer;
  }

  &__suggestion-item {
    cursor: pointer;

    @include bpk-text-base;

    &:not(:last-child) {
      @include bpk-border-bottom-sm($bpk-color-gray-100);
    }

    &:active {
      background-color: $bpk-autosuggest-list-item-active-background-color;
    }

    &--highlighted {
      background-color: $bpk-autosuggest-list-item-highlighted-background-color;
    }
  }

  &__suggestion {
    display: table;
    width: 100%;
    padding: $bpk-spacing-sm $bpk-spacing-md;

    &--indent {
      padding-left: $bpk-spacing-lg;
    }

    &-icon {
      display: table-cell;
      margin-right: $bpk-spacing-xs;
      vertical-align: top;
      fill: $bpk-color-gray-500;

      @include bpk-rtl {
        margin-right: 0;
        margin-left: $bpk-spacing-xs;
      }
    }

    &-inner {
      display: table-cell;
      width: 100%;
      vertical-align: top;
    }

    &-value {
      display: block;
      width: 100%;
    }

    &-sub-heading {
      display: table-cell;
      width: 100%;
      vertical-align: top;

      @include bpk-text-sm;
    }

    &-tertiary-label {
      display: table-cell;
      vertical-align: top;

      @include bpk-text-sm;
    }
  }
}
