@import '~bpk-mixins/index';

.bpkdocs-home-page {
  &__hero {
    background-color: $bpk-color-blue-500;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-white;
  }

  &__hero-container {
    @include bpk-container;

    padding: $bpk-spacing-xl $bpk-spacing-base;

    @include bpk-breakpoint-above-tablet {
      padding: $bpk-spacing-xl*3 $bpk-spacing-base;
    }
  }

  &__content-container {
    @include bpk-container;
  }

  &__columns {
    @include bpk-breakpoint-above-tablet {
      flex-direction: row;
      justify-content: flex-start;
    }

    display: flex;
    flex-direction: column;
  }

  &__column {
    flex: 1;
    width: 100%;

    &:first-child {
      margin-bottom: $bpk-spacing-base;
    }

    @include bpk-breakpoint-above-tablet {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
