@import './../../../logos';

.inlineLogo {
  display: block;
  width: 368px;
  height: 104px;
  margin: 0 auto;
  background: url($ls-logo-inline-blue-500) no-repeat;
}

.stackedLogo {
  display: block;
  width: 348px;
  height: 197px;
  margin: 0 auto;
  background: url($ls-logo-stacked-blue-500) no-repeat;
}

.cloudLogo {
  display: block;
  width: 128px;
  height: 104px;
  margin: 0 auto;
  background: url($ls-logo-cloud-blue-500) no-repeat;
}

.tianxunLogo {
  display: block;
  width: 258px;
  height: 113px;
  margin: 0 auto;
  background: url($ls-logo-tianxun-blue-500) no-repeat;
}
