name: Build

on:
  workflow_call:
    secrets:
      GH_APP_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache
  BUILD_CACHE_NAME: build-cache
  BUILD_LOGS: log-artifacts-build

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.3.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Setup logs directory
        run: mkdir logs

      - name: Build Backpack
        run: npm run build

      - name: Confirm the build hasn't changed any files
        run: ./scripts/check-pristine-state package-lock.json

      - name: Run typecheck
        run: npm run typecheck

      - name: Run tests
        run: bash -c "set -o pipefail;npm run test |& tee 'logs/test.log'"

      - name: Tar and compress logs
        run: |
          tar -cf ${{env.BUILD_LOGS}}.tar.br --use-compress-program="brotli -q 7" ./logs

      - name: Upload test logs
        uses: actions/upload-artifact@v5.0.0
        with:
          name: ${{env.BUILD_LOGS}}
          path: ${{env.BUILD_LOGS}}.tar.br

  Danger:
    runs-on: ubuntu-latest
    needs: Build
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.3.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Download artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: ${{env.BUILD_LOGS}}

      - name: Untar and decompress artifacts
        shell: bash
        run: |
          brotli -d ${{env.BUILD_LOGS}}.tar.br
          tar -xf ${{env.BUILD_LOGS}}.tar

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Danger
        run: npm run danger
        if: github.ref != 'refs/heads/main' && github.repository == github.event.pull_request.head.repo.full_name
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  PercyTests:
    runs-on: ubuntu-latest
    needs: [Danger]
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.3.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Restore Cache
        uses: actions/cache/restore@v4.3.0
        id: storybook-dist-cache
        with:
          path: dist-storybook/
          key: ${{ env.BUILD_CACHE_NAME }}-${{ hashFiles('packages/**', 'examples/**') }}

      - name: Percy Test
        run: npm run percy-test
        if: ( github.ref == 'refs/heads/main' || github.repository == github.event.pull_request.head.repo.full_name) && github.actor != 'dependabot[bot]'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
