name: Build

on:
  workflow_call:
    secrets:
      GH_APP_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache
  BUILD_CACHE_NAME: build-cache
  BUILD_LOGS: log-artifacts-build

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Fetch base branch for affected detection
        if: github.event_name == 'pull_request'
        env:
          BASE_REF: ${{ github.base_ref }}
        run: git fetch origin "$BASE_REF:$BASE_REF" --depth=1

      - name: Setup logs directory
        run: mkdir logs

      - name: Generate code (required for linting)
        run: npx nx run-many --target=codegen --projects=bpk-component-flare,bpk-component-icon,bpk-component-spinner

      - name: Build Backpack (affected for PRs)
        if: github.event_name == 'pull_request'
        env:
          BASE_REF: ${{ github.base_ref }}
        run: npx nx affected --target=build --base="origin/$BASE_REF" --parallel=4

      - name: Build Backpack (all for main)
        if: github.event_name != 'pull_request'
        run: npm run build

      - name: Confirm the build hasn't changed any files
        run: ./scripts/check-pristine-state package-lock.json

      - name: Run typecheck
        run: npm run typecheck

      - name: Run tests (affected for PRs)
        if: github.event_name == 'pull_request'
        env:
          BASE_REF: ${{ github.base_ref }}
        run: bash -c "set -o pipefail;npx nx affected --targets=lint,stylelint,test --base=origin/$BASE_REF --parallel=4 |& tee 'logs/test.log'"

      - name: Run tests (all for main)
        if: github.event_name != 'pull_request'
        run: bash -c "set -o pipefail;npm run test |& tee 'logs/test.log'"

      - name: Tar and compress logs
        run: |
          tar -cf ${{env.BUILD_LOGS}}.tar.br --use-compress-program="brotli -q 7" ./logs

      - name: Upload test logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{env.BUILD_LOGS}}
          path: ${{env.BUILD_LOGS}}.tar.br

  Danger:
    runs-on: ubuntu-latest
    needs: Build
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{env.BUILD_LOGS}}

      - name: Untar and decompress artifacts
        shell: bash
        run: |
          brotli -d ${{env.BUILD_LOGS}}.tar.br
          tar -xf ${{env.BUILD_LOGS}}.tar

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Danger
        run: npm run danger
        if: github.ref != 'refs/heads/main' && github.repository == github.event.pull_request.head.repo.full_name
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  PercyTests:
    runs-on: ubuntu-latest
    needs: [Danger]
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Restore Cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: storybook-dist-cache
        with:
          path: dist-storybook/
          key: ${{ env.BUILD_CACHE_NAME }}-${{ hashFiles('packages/**', 'examples/**') }}

      - name: Generate code (required for storybook build)
        run: npx nx run-many --target=codegen --projects=bpk-component-flare,bpk-component-icon,bpk-component-spinner

      - name: Percy Test
        run: npx nx percy
        if: ( github.ref == 'refs/heads/main' || github.repository == github.event.pull_request.head.repo.full_name) && github.actor != 'dependabot[bot]'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
