name: Build

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

env: 
  CACHE_NAME: node-modules-cache
  BUILD_CACHE_NAME: build-cache

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.0.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Build Backpack
        run: npm run build

      - name: Confirm the build hasn't changed any files
        run: ./scripts/check-pristine-state package-lock.json

      - name: Run typecheck
        run: npm run typecheck

      - name: Run tests
        run: npm test

  PercyTests: 
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: 'https://registry.npmjs.org'
      
      - name: Restore Cache
        uses: actions/cache/restore@v4.0.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Restore Cache
        uses: actions/cache/restore@v4.0.0
        id: storybook-dist-cache
        with:
          path: dist-storybook/
          key: ${{ env.BUILD_CACHE_NAME }}-${{ hashFiles('packages/**', 'examples/**') }}

      - name: Percy Test
        run: npm run percy-test
        if: ( github.ref == 'refs/heads/main' || github.repository == github.event.pull_request.head.repo.full_name) && github.actor != 'dependabot[bot]'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}


  Danger:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write
    
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.0.0
        id: npm-cache
        with:
          path: |
            node_modules/
            packages/node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json', 'packages/package-lock.json') }}

      - name: Danger
        run: npm run danger
        if: github.ref != 'refs/heads/main' && github.repository == github.event.pull_request.head.repo.full_name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
