on:
  push:
    paths:
      - packages/**/*.figma.tsx
    branches: [main]

jobs:
  code-connect:
    name: Code Connect
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: npx --package @figma/code-connect figma connect publish
        env:
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_TOKEN }}
