@import '~bpk-mixins/index';

.bpkdocs-color-swatch {
  display: inline-block;
  min-width: $bpk-spacing-xxl * 4;
  margin: 0 $bpk-spacing-sm $bpk-spacing-base;
  padding: $bpk-spacing-base $bpk-spacing-sm;
  color: $bpk-color-gray-700;

  @include bpk-border-radius-sm;

  &--light {
    color: $bpk-color-white;
  }

  &--border {
    @include bpk-border-sm($bpk-color-gray-100);
  }
}
