@import '~bpk-mixins/index';

.bpkdocs-color-swatch {
  @include bpk-border-radius-sm;

  display: inline-block;
  min-width: $bpk-spacing-xxl * 4;
  margin: 0 $bpk-spacing-sm $bpk-spacing-base;
  padding: $bpk-spacing-base $bpk-spacing-sm;
  color: $bpk-color-gray-500;

  &--light {
    color: $bpk-color-white;
  }

  &--border {
    box-shadow: 0 0 0 1px $bpk-color-gray-100 inset;
  }
}
